h5{
    font-family: 'verdana', 'webfont';
    text-align: left;
    margin-left: 15px;
}

.left-pane{
    position: relative;
    float: left;
    width: 61.5%;
    height: 100%;
    text-align: center;
    margin: 8px 4px 8px 11px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #333;
    overflow: hidden;	
}


.blog_entry,
.article_body{
    display: block;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px 0 #608000;
    width: 87%;
    height: 300px;
    margin: auto;
    margin-bottom: 30px;
}


.blog_entry{
    box-shadow: none;
    font-family: 'verdana', 'webfont';
}

.article_title,
.title{
    color: #C25800;
    font-family: 'webfont';
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    text-shadow: 0 1px 1px #E4EBE9;
    margin: 40px 16px 27px 18px;
}


.title:hover{
    color: #223300;
}

.article_title{
    text-align: center;
    font-size: 20px;
}

.button_publish,
.button_blogger{
    border-radius: 3px;
    background: -moz-linear-gradient(center top , #fff 0%, #608000 400%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#fff), color-stop(400%,#608000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#608000 400%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#608000 400%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#608000 400%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#608000 400%); /* W3C */
    box-shadow: 0 1px 1px 0 #aaa;
    padding: 5px 10px; 
    color: #223300;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    float: right;
    margin: 60px; 
}

.button_publish{
    background: -moz-linear-gradient(center top , #fff 0%, #223300 180%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#fff), color-stop(180%,#223300)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#223300 180%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#223300 180%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#223300 180%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#223300 180%); /* W3C */
}

.button_publish:hover,
.button_blogger:hover{
    cursor: pointer;
}

.input{ 
   width: 92%;
   margin: 20px auto 10px auto;
   border-radius: 5px;
   box-shadow: 0 0 3px 0 #608000;
}

