<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="La primera editorial de libros electr&oacute;nicos en la que puedes publicar tu libro, 
    presentarte como autor con una web personal con v&iacute;deo, texto e im&aacute;genes y enlazar a tu blog, Facebook, Twitter...todo 
    completamente gratis. Como lector, puedes disfrutar del contacto directo con autores y otros 
    lectores y de precios sin competencia. No esperes m&aacute;s y pru&eacute;balo!" />

    <meta name="Keywords" content="alta, signup, libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir, gratis, epub" />

    <title>PeopleEbooks.com - Ooops, error 404!</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <div id="logo" style="padding: 0 0 0 10px;">
                <a href="/"><img src="{{ STATIC_URL }}img/logos/logo.png" alt="PeopleEbooks logo" height="237" width="226" /></a>
            </div>
            <div id="top_right">
                    <h1 class="top_right_txt">Error 404: Archivo no encontrado</h1>
                    <h2 class="top_right_txt">La p&aacute;gina o archivo solicitado no existe. Puedes volver a PeopleEbooks <a href="/"><span style="text-decoration: underline">aqu&iacute;</span></a><br>Si necesitas ayuda, puedes contactarnos <a href="mailto:contact@peopleebooks.com"><span style="text-decoration: underline">por correo</span></a> o en <a href="http://www.facebook.com/PeopleEbooks"><span style="text-decoration: underline">Facebook.</span></a>
                    </h2>
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
