<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="Sobre el proyecto PeopleEbooks. Para acercar el mundo editorial a la realidad tecnol&oacute;gica y social de nuestro tiempo."/>

    <meta name="Keywords" content="filosofia, vision, libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir, gratis, epub" />

    <title>PeopleEbooks.com - Sobre nosotros</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <h2 class="headers">Sobre nosotros</h2>
            <h3 class="answer" style="margin-top: 50px;">
                <strong>PeopleEbooks</strong> es una Organizaci&oacute;n No Gubernamental (ONG) sin &aacute;nimo de lucro, constituida en España el 6 de enero de 2013 de acuerdo a la Ley Org&aacute;nica 1/2002, de 22 de marzo (solicitud de registro p&uacute;blico presentada en el Ministerio del Interior de España el 11 de enero de 2013) con las siguientes finalidades recogidas en sus Estatutos Fundacionales:
            </h3>
            <div class="box">
                <h3>
                    <span style="font-size: 40px">A</span>yudar a escritores y autores de obras tanto publicadas como in&eacute;ditas a la difusi&oacute;n de las mismas en todos los territorios y medios, y particularmente en los digitales, cualquiera que fuere su idioma, tem&aacute;tica o ideolog&iacute;a.<br><br>
                    <span style="font-size: 40px">F</span>omentar la utilizaci&oacute;n de la tecnolog&iacute;a y soportes electr&oacute;nicos como medios para la difusi&oacute;n del conocimiento y la cultura.<br><br>
                    <span style="font-size: 40px">A</span>cercar el mundo editorial a la realidad tecnol&oacute;gica del momento en lo referente a medios y canales para la difusi&oacute;n y gesti&oacute;n de obras, y soportes para los contenidos.<br><br>
                    <span style="font-size: 40px">F</span>omentar y facilitar el acceso a las diferentes creaciones literarias, ya publicadas o in&eacute;ditas, a trav&eacute;s de medios telem&aacute;ticos.<br><br>
                </h3>
            </div>
            <h3 class="answer" style="margin-top: 50px;">
                Si quieres ayudarnos o colaborar de cualquier modo, en <a href="mailto:helpus@peopleebooks.com">helpus@peopleebooks.com</a> estaremos encantados de atender todos tus comentarios y sugerencias. 
            </h3>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
