<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="Activa tu cuenta en PeopleEbooks. Para ello pulsa el enlace que recibir&aacute;s por email" />

    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir, activación, alta" />

    {% if activated_ok %}
    <title>PeopleEbooks.com - Cuenta activada</title>
    {% else %}
    <title>PeopleEbooks.com - Error al activar la cuenta</title>
    {% endif %}
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <div id="logo" style="padding: 0 0 0 10px;">
                <img src="{{ STATIC_URL }}img/logos/logo.png" alt="PeopleEbooks logo" height="237" width="226"/>
            </div>
            <div id="top_right">
                {% if nonexistent_user %}
                <h1 class="top_right_txt">La cuenta solicitada no existe</h1>
                <h2 class="top_right_txt">Para registrarte, haz click <a style="text-decoration: underline;" href="/signup">aqu&iacute;</a>.<br>Si has completado los pasos del registro y sigues recibiendo este error, escr&iacute;benos a <a style="text-decoration: underline;" href="mailto:contact@peopleebooks.com">contact@peopleebooks.com</a> o en <a href="http://www.facebook.com/PeopleEbooks" style="text-decoration: underline;">Facebook</a> y te ayudaremos.</h2>
                {% endif %}
                {% if activated_ok %}
                <h1 class="top_right_txt">¡Has activado tu cuenta!</h1>
                <h2 class="top_right_txt">Puedes iniciar sesión en cualquier momento haciendo click en "Entrar", en el men&uacute; superior.</h2>
                {% endif %}
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
