<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="Gracias por confiar en PeopleEbooks. En un momento podr&aacute;s descargar tus libros." />

    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir" />
    <title>PeopleEbooks.com - Esperando pago...</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <div id="logo" style="padding: 0 0 0 10px;">
                <img src="{{ STATIC_URL }}img/logos/logo.png" alt="PeopleEbooks logo" height="237" width="226"/>
            </div>
            <div id="top_right">
                <h1 class="top_right_txt">Confirmaci&oacute;n de pago pendiente.</h1>
                <h2 class="top_right_txt">En cuanto recibamos la confirmaci&oacute;n del pago, podr&aacute;s descargar los libros. <a href="/checkout-complete" style="text-decoration: underline;">Compru&eacute;balo en este enlace.</a><br><br>Si el problema persiste, escr&iacute;benos a <a href="mailto:contact@peopleebooks.com" style="text-decoration: underline;">contact@peopleebooks.com</a> o en nuestro <a href="http://www.facebook.com/PeopleEbooks" style="text-decoration: underline;">Facebook</a>.</h2>
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
