<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <title>PeopleEbooks.com - Blog - Nuevo art&iacute;culo</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blogger.css"/> 
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />       
</head>
<body>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.2.min.js"></script>
    <!-- Image preview -->
    <script type="text/javascript">
        function preview_img(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#picture').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
            $('#picture').fadeIn();
        }
    </script>
    <div class="container">
        <div class="full-pane" style="line-height: 1;">
             <h3 class="headers">Nuevo art&iacute;culo del blog</h3>
             <form id="publish" enctype="multipart/form-data" method='POST' action='blog-preview'>{% csrf_token %}
                 <h4 class="title">T&iacute;tulo del art&iacute;culo (ES)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type='text' maxlength='50' size='84' name="title_es" required="required"/></h4>
                 <h4 class="title">T&iacute;tulo del art&iacute;culo (EN)&nbsp;&nbsp;&nbsp;&nbsp;<input type='text' maxlength='50' size='84' name="title_en" required="required"/></h4>
                 <h4 class="title">Art&iacute;culo (ES)</h4>
                 <textarea class="article_body" wrap="soft" name="article_body_es" maxlength="10000" required="required"></textarea>
                 <h4 class="title">Art&iacute;culo (EN)</h4>
                 <textarea class="article_body" wrap="soft" name="article_body_en" maxlength="10000" cols="20" required="required"></textarea>
                 <h4 class="title">Tags&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" maxlength="40" size="84" name="tags" required="required"/></h4>
                 <h4 class="title" style="float: left;">Imagen&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="file" name="image" onchange="preview_img(this);" required="required"/></h4>
                 <img style="float: left;" id="picture" src="#" width="250" height="250" alt="Article image preview" hidden/>
             </form>
             <input class="button_publish" onclick="this.form.action='blogger';" form="publish" type="submit" value="Publicar"/>
             <input class="button_blogger" form="publish" type="submit" value="Vista previa"/>
        </div>
    </div>
</body>
</html>
