<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, blog, {{ blog_entry.tags }}" />

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ og_url }}"/>
    <title>PeopleEbooks Blog -{{ blog_entry.title_es }}</title>
    {% if not search %}
    <meta property="og:title" content="{{ blog_entry.title_es }}"/>
    <meta property="og:description" content="{{ blog_entry.article_body_es|truncatewords:20 }}"/>
    <meta name="Description" content="{{ blog_entry.article_body_es|truncatewords:20 }}" />
    {% if blog_entry.image %}
    <meta property="og:image" content="{{ og_host }}/uploaded/{{ blog_entry.image }}"/>
    {% else %}
    <meta property="og:image" content="{{ og_host }}{{ STATIC_URL }}img/logos/logo.png"/>
    {% endif %}
    {% else %}
    <meta property="og:description" content="Busca art&iacute;culos anteriores en el Blog de PeopleEbooks."/>
    <meta name="Description" content="Busca art&iacute;culos anteriores en el Blog de PeopleEbooks." />
    {% endif %}

    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blogger.css" />
    <meta property="fb:app_id" content="361341583978542"/>
    <meta property="fb:admins" content="100005264372365"/>
    <meta property="fb:admins" content="100002561685625"/>

</head>
<body itemscope itemtype="http://schema.org/Blog">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    {% include "navbar.html" %}
    <div class="container">
        <div class="sub_right-pane">
            <h2 class="headers">Buscador</h2>
            <form method='POST' action="/blog/">{% csrf_token %}
                <input class="input" type="text" name="article_search" placeholder="Busca art&iacute;culos anteriores..."/>
            </form>
            <div class="fb-like-box" data-href="http://www.facebook.com/PeopleEbooks" data-width="350" data-height="1000" data-show-faces="false" data-stream="true" data-header="true" data-border-color="#FFF"></div>
            <a class="twitter-timeline" href="https://twitter.com/search?q=peopleebooks" data-widget-id="317306821775855617" lang="ES">PeopleEbooks en Twitter</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        {% if not search %}
        <div class="left-pane" itemscope itemtype="http://schema.org/BlogPosting">
             <h2 class="headers" itemprop="name">{{ blog_entry.title_es }}</h2>
             {% if blog_entry.image %}
             <img itemprop="image" class="blog_media" style="margin: 25px 15px 15px 15px; box-shadow: 0 0 1px #000;" src="/uploaded/{{ blog_entry.image }}" alt="{{ blog_entry.title_es }}" width="220" height="220"/>
             {% endif %}
             <h4 class="blog_txt" itemprop="articleBody">{{ blog_entry.article_body_es|linebreaksbr }}</h4>
             <hr style="width: 80%; margin-top: 20px;">
             <h5 style="text-decoration: underline;">
             {% if previous %}
              <a href="/blog/{{ previous.blog_entry }}">&lt;&lt; {{ previous.title_es|truncatewords:5 }}</a>
             {% endif %}
             {% if next %}
              <a href="/blog/{{ next.blog_entry }}" style="text-decoration: underline; float: right; margin-right: 15px;">{{ next.title_es }} &gt;&gt;</a>
             {% endif %}
             </h5>
             <h5 style="clear: both; text-decoration: underline;"><a href="/blog"><br>&Uacute;ltima entrada</a></h5>
             <div class="fb-comments" data-href="{{ og_url }}" data-width="600" data-num-posts="10"></div>
        </div>
        {% else %}
        <div class="left-pane">
            <h2 class="headers">Resultados</h2>
            {% for entry in blog_entry %}
                <a href="/blog/{{ entry.blog_entry }}"><h4 class="title">{{ entry.title_es }}&nbsp;&nbsp;&nbsp;&nbsp;<span style="float: right;">{{ entry.date|date:"d/m/Y" }}</span></h4></a>
            {% endfor %}
            <hr style="width: 80%; margin-top: 20px;">
            <h5 style="text-decoration: underline;"><a href="/blog">&Uacute;ltima entrada</a></h5>
        </div>
        {% endif %}
    </div>
    <!-- Footer -->
    <div class="container">
        {% include "footer.html" %} 
    </div>
</body>
</html>
