<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>PeopleEbooks.com - Vista previa</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blogger.css" />
</head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="container">
        <div class="left-pane">
             <h2 class="headers"> Blog de PeopleEbooks</h2>
             {% if image %}
             <img class="blog_media" style="margin: 25px 15px 15px 15px; box-shadow: 0 0 1px #000;" src="data:image/jpeg;base64,{{ image }}" alt="{{ title_es }}" width="220" height="220"/>
             {% endif %}
             <h4 class="article_title">{{ title_es }}</h4>
             <h4 class="blog_txt">{{ article_body_es|linebreaks }}</h4>
        </div>
        <div class="sub_right-pane">
            <h2 class="headers">Redes sociales</h2>
            <div class="fb-like-box" data-href="http://www.facebook.com/PeopleEbooks" data-width="350" data-height="1000" data-show-faces="false" data-stream="true" data-header="false" data-border-color="#FFF"></div>
            <a class="twitter-timeline" href="https://twitter.com/search?q=peopleebooks" data-widget-id="317306821775855617" lang="ES">PeopleEbooks en Twitter</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</body>
</html>
