<!DOCTYPE html>
   
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="P&aacute;gina del libro {{ book.title }}, de {{ book.user }}. {{ book.synopsis }}" />

    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir" />

    <meta property="og:title" content="PeopleEbooks.com - {{ book.title }}, de {{ book.user }}"/>
    <meta property="og:type" content="book"/>
    <meta property="og:url" content="{{ link }}/"/>
    <meta property="og:image" content="{{ og_image_tag }}"/>
    <meta property="og:description" content="P&aacute;gina del libro '{{ book.title }}', de {{ book.user }}."/>

    <title>PeopleEbooks.com - {{ book.title }}, de {{ book.user }}</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/book.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>

<body itemscope itemtype="http://schema.org/WebPage">
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    {% include "navbar.html" %}
    <div class="container" style="overflow: visible;" itemscope itemtype="http://schema.org/Book">
        {% if book.book_active == 0 %}
        <div class="full-pane">
            <div id="logo" style="padding: 0 0 0 10px;"> 
                <img src="{{ STATIC_URL }}img/logos/logo.png" alt="PeopleEbooks logo" height="237" width="226"/>
            </div>
            <div id="top_right">
                <h1 class="top_right_txt">Este libro no est&aacute; disponible temporalmente</h1>
                <h2 class="top_right_txt" style="border-bottom: none;">Se han producido reclamaciones por derechos de propiedad intelectual respecto a este libro que nos obligan a tomar esta medida. Sentimos las molestias causadas.</h2>    
            </div>
        </div>
        {% elif book.book_active == -1 %}
        <div class="full-pane">
            <div id="logo">
                <img src="{{ STATIC_URL }}img/logos/logo.png" alt="PeopleEbooks logo" height="237" width="226" />
            </div>
            <div id="top_right">
                <h1 class="top_right_txt">Este libro ya no est&aacute; disponible.</h1>
                <h2 class="top_right_txt" style="border-bottom: none;">El autor ha decidido retirarlo de PeopleEbooks.com. Si ya lo hab&iacute;as comprado, seguir&aacute; estando disponible en tu biblioteca.</h2>    
            </div>
        </div>        
        {% else %}
        <div class="left-pane">
            {% if user_is_reader or is_owner %}                
                <h2 class="headers">Bajar libro</h2>
                {% if book.book_file_epub %}
                <div id="download_epub">
                    <form method='POST' action="#" name="get_epub">{% csrf_token %}
                        <input class="buy_button" type="submit" name="get_epub" value="ePub"/>
                    </form>
                </div>
                {% else %}
                    <div class="buy_button_format_unavailable">ePub</div>
                {% endif %}
                {% if book.book_file_pdf %}
                <div id="download_pdf">
                    <form method='POST' action="#" name="get_pdf">{% csrf_token %}
                        <input class="buy_button" type="submit" name="get_pdf" value="PDF"/>
                    </form>
                </div>
                {% else %}
                    <div class="buy_button_format_unavailable">PDF</div>
                {% endif %}
            {% else %}
                {% if in_cart %}
                    <div class="in_cart">En carrito</div>
                    
                {% else %}
                    <form method='POST' action="#">{% csrf_token %}
                        <h2><input class="buy_button" type="submit" name="buy" value="Comprar"/></h2>
                    </form>
                {% endif %}
            {% endif %}
            <h4>G&eacute;nero: <span itemprop="genre">{{ book.gender_id }}</span></h4>
            <h4>Edad: {{ book.rate_id }}</h4>
            <h4>Idioma: <span itemprop="inLanguage">{{ book.language_id }}</span></h4>
            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                <h4 style="color: #334400; font-size: 19px;">Precio: <span itemprop="price">{{ book.price|floatformat:"-2" }} &euro;</span></h4>
                <meta itemprop="priceCurrency" content="EUR" />
            </div>
            <h4 style="color: #334400; font-size: 19px;">Formato{{ numformats|pluralize }}:
            <span itemprop="bookFormat">
            {% for i in formats %}
                {{ i }}
            {% endfor %}
            </span>
            </h4>
            {% if book.website %}
                <div class="left-pane-links"><a rel="nofollow" href="{{ book.website }}" target="_blank">Web</a></div>
            {% endif %}
            <div class="user-icon">
                <a rel="author" href="/people/{{ book.user.user }}" title="{{ book.user }}">
                    {% if book.user.photo %}
                    <img src="/uploaded/{{ book.user.photo }}" alt="{{ book.user }}" width="200" height="200"/>
                    {% else %}
                    <img src="{{ STATIC_URL }}img/icon/user.png" alt="{{ book.user }}" width="200" height="200"/>
                    {% endif %}
                </a>
            </div>
            <h3><a rel="author" href="/people/{{ book.user.user }}">{{ book.user }}</a></h3>
        </div>
        <div class="right-pane">
            <h2 class="headers" itemprop="name">{{ book.title }}</h2>
            <div class="book-icon">
                <img itemprop="image" src="/uploaded/{{ book.cover }}" alt="Ebook: {{ book.title }}, de {{ book.user }}" width="250" height="350"/>
            </div>
            <div class="book-video">
                <video itemprop="video" width="380" height="285" controls="controls">
                    {% if book.video %}
                    <source src="/uploaded/{{ book.video }}" type="video/webm"/>
                    {% endif %}
                </video>
            </div>
            <div class="fb-like" data-href="{{ link }}" data-send="false" data-width="640" data-show-faces="true"></div>
        </div>
        <div class="right-pane">
            <h2 class="headers">Sinopsis</h2>
            <h5 itemprop="about">{{ book.synopsis|linebreaksbr }}</h5>
        </div>
    </div>
    <!-- Just if there are more books by this author... -->
    {% if other_count %}
    <div class="container">
        <div class="full-pane" style="height: 370px;">
            <h2 class="headers">Otras publicaciones de {{ book.user }}</h2>
            {% for other in other_books %}
            <div class="other-item">
                <div class="other-item-main" itemscope itemtype="http://schema.org/Book">
                    <div class="other-book-img">
                        <a href="/books/{{ other.book }}"><img itemprop="image" src="/uploaded/{{ other.cover }}" alt="Ebook: {{ other.title }}" width="120" height="168"/></a>   
                        <a href="/books/{{ other.book }}"><h3 itemprop="name">{{ other.title|truncatechars:40 }}</h3></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>    
    {% endif %}
    {% if comment_count or is_owner or user_is_reader %}
    <div class="container">
        <div class="comment-pane" itemscope itemtype="http://schema.org/Book">
            <h2 class="headers" style="text-align: center;">&Uacute;ltimos comentarios</h2>
            {% if is_owner or user_is_reader %}
                <div class="comment" >
                    <form id="owner_comment" method="POST" action="#wall">{% csrf_token %}
                        <textarea class="new_comment" rows="3" cols="85" wrap="hard" name="new_comment" placeholder="Añadir comentario" maxlength="600"></textarea>
                        <input class="comment_button" type="submit" value="Publicar"/>
                    </form>
                </div>            
            {% endif %}
            {% for k in comments %}
            <div class="comment" itemprop="review" itemscope itemtype="http://schema.org/Review">
                <div class="user-img">
                    {% if comment_img|cut:forloop.counter0 %}
                    <a href="/people/{{ comment_link|cut:forloop.counter0 }}" rel="author"><img src="/uploaded/{{ comment_img|cut:forloop.counter0 }}" alt="{{ comment_user|cut:forloop.counter0 }}" width="60" height="60" itemprop="image"/></a>
                    {% else %}
                    <a href="/people/{{ comment_link|cut:forloop.counter0 }}" rel="author"><img src="{{ STATIC_URL }}img/icon/user.png" alt="{{ comment_user|cut:forloop.counter0 }}" width="60" height="60"/></a>
                    {% endif %}
                </div>
                <div class="comment-text">
                    <h4><a href="/people/{{ comment_link|cut:forloop.counter0 }}" rel="author">{{ comment_user|cut:forloop.counter0 }}</a></h4>
                    <h5 itemprop="reviewBody">{{ comment_text|cut:forloop.counter0|linebreaksbr }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endif %}
    <div class="container">
    {% include "footer.html" %}
    </div>   
</body>
</html>
