<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="Echa un vistazo en la librer&iacute;a de PeopleEbooks. Ebooks en formato EPub y PDF: {{ results_page.0.synopsis|truncatechars:150 }}"/>
    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir" />

    <title>PeopleEbooks.com - Librer&iacute;a</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bookstore_search.css"/>
</head>

<body itemscope itemtype="http://schema.org/SearchResultsPage">
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane"> 
            <h6>
                <a href="?page=1" title="Primera p&aacute;gina">&lt; </a>
            {% for i in pages_list %}
                {% if i == results_page.number %}
                <a href="?page={{ i }}" style="font-weight: bold; text-decoration: underline;">&nbsp;{{ i }}&nbsp;</a>
                {% else %}
                <a href="?page={{ i }}"> &nbsp;{{ i }}&nbsp;</a>
                {% endif %}
            {% endfor %}
                <a href="?page={{ paginator.num_pages }}" title="&Uacute;ltima p&aacute;gina"> &gt;</a>
            </h6>
            {% for i in results_page %}
                <div class="ca-item" itemscope itemtype="http://schema.org/Book">
                    <div class="ca-icon">
                        <a href="/books/{{ i.book }}">
                            <span itemprop="image"><img src="/uploaded/{{ i.cover }}" alt="Ebook: {{ i.title }}" width="140" height="196"/></span>
                        </a>
                    </div>
                    <h3><a class="title" href="/books/{{ i.book }}" itemprop="name">{{ i.title|truncatechars:55 }}</a></h3>
                    <span class="synopsis" itemprop="about">{{ i.synopsis|truncatechars:250 }}</span>
                </div>
            {% endfor %}
            
            <h6 style="padding-bottom: 5px;">
                <a href="?page=1" title="Primera p&aacute;gina">&lt; </a>
            {% for i in pages_list %}
                {% if i == results_page.number %}
                <a href="?page={{ i }}" style="font-weight: bold; text-decoration: underline;">&nbsp;{{ i }}&nbsp;</a>
                {% else %}
                <a href="?page={{ i }}"> &nbsp;{{ i }}&nbsp;</a>
                {% endif %}
            {% endfor %}
                <a href="?page={{ paginator.num_pages }}" title="&Uacute;ltima p&aacute;gina"> &gt;</a>
            </h6>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
