<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="Echa un vistazo en la librer&iacute;a de PeopleEbooks."/>

    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir" />
    <title>PeopleEbooks.com - Compra</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cart.css" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <h2 class="headers">Resumen de compra</h2>
            {% if num_books %}
            <h2 class="header">
                <strong>{{ num_books }} libro{{ num_books|pluralize }}</strong> añadido{{ num_books|pluralize }}. Precio total: <strong>{{ total_price }} &euro;</strong>
            <a style="margin-left: 80px;" href="/checkout"><span class="checkout">Siguiente paso</span></a>
            
            </h2>
            {% else %}
            <h2 class="header" style="color: #C25800; font-size: 20px;"> A&uacute;n no has añadido ning&uacute;n libro. Quiz&aacute; quieras pasar por nuestra <a href="/bookstore" style="text-decoration: underline;">librer&iacute;a.</a></h2>
            {% endif %}
        </div>
        {% if num_books %}
        <div class="full-pane">
            {% for i in books %}
            <div class="ca-item">
                <div class="ca-icon">
                    <a href="/books/{{ i.book }}">
                        <img src="/uploaded/{{ i.cover }}" alt="Ebook: {{ i.title }}" width="90" height="126"/>
                    </a>
                </div>
                <a class="title" href="/books/{{ i.book }}">{{ i.title|truncatechars:50 }}</a>
                <a class="author" href="/people/{{ i.user.user }}">de {{ i.user|truncatechars:30 }}</a>
                <h4 class="price">Precio: {{ i.price }} &euro;</h4>
                <form method="POST" action="#" name="remove">{% csrf_token %}
                    <input class="remove_from_cart" type="submit" value="{{ i.book }}" name="remove_book" title="Eliminar"/>
                </form>    
            </div>
            {% endfor %}
        </div>
        {% endif %}  
        {% include "footer.html" %}
    </div>
</body>
</html>
