<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="Carta del director sobre PeopleEbooks"/>

    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir, gratis, epub, about, nosotros" />

    <title>PeopleEbooks.com - Carta del director</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>

<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <h2 class="headers">Carta del director</h2>
            <h3 class="answer ceo" style="margin-top: 50px;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Encuentro en el sincero espejo del tiempo un alma revuelta por el rumbo de la realidad en que le hab&iacute;a tocado caminar la aventura de su vida. Resuelta a la acci&oacute;n, se decidi&oacute; capaz de articular un nuevo Sistema Financiero: qued&oacute; reflejado en forma de libro. Ninguna editorial dispuesta a revisar la obra de una persona que no era alguien. Ning&uacute;n editor con tiempo suficiente para decir no a aquello que ni siquiera hab&iacute;a le&iacute;do.
            </h3>
            <h3 class="answer ceo">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y madur&oacute; el autor, las &uacute;nicas personas autorizadas para decidir lo que val&iacute;a y lo que no, deb&iacute;an ser aquellas para las que se creaba. Pens&oacute; que la forma en que autores y lectores se relacionaban no era coherente con la realidad de la tecnolog&iacute;a y la sociedad del momento. El proyecto PeopleEbooks hab&iacute;a nacido.
            </h3>
            <h3 class="answer ceo">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En un futuro limitado por los miedos y barreras en que todos nos refugiamos, para que todo escritor pueda caminar el sueño de compartir sus creaciones, para que todo lector pueda asomarse a la infinita ventana de la experiencia y la imaginaci&oacute;n de las gentes de todo el planeta, para todos nosotros hacemos cada d&iacute;a PeopleEbooks.
            </h3>
            <h3 class="answer ceo">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&Aacute;ngel Faet – Director General
            </h3>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
