<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="Gracias por confiar en PeopleEbooks. Recuerda que en adelante podr&aacute;s bajar tus libros desde tu biblioteca siempre que quieras, comentarlos con el autor y otros lectores..."/>
    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir" />
    <title>PeopleEbooks.com - Resumen de compra</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cart.css" />    
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <h2 class="headers">Resumen de compra</h2>
            <h2 class="header">
                {% if user_logged_in %}
                Has comprado los siguientes libros.<br>En adelante, puedes descargarlos siempre que quieras desde la p&aacute;gina de cada libro o desde <strong><a href="/home/{{ request.user.username }}#library">tu biblioteca.</a></strong>
                {% else %}
                Puedes descargar los libros en los enlaces de abajo. Gracias por confiar en PeopleEbooks.
                {% endif %}
            </h2>
        </div>
        <div class="full-pane">
            {% if not user_logged_in %}
            <h2 class="headers"> Importante:&nbsp;&nbsp; Descarga todos los libros antes de abandonar esta p&aacute;gina</h2>
            {% for i in purchased_books %}
            <div class="ca-item">
                <div class="ca-icon">
                    <a href="/books/{{ i.book }}">
                        <img src="/uploaded/{{ i.cover }}" alt="Ebook: {{ i.title }}" width="90" height="126"/>
                    </a>
                </div>
                <a class="title" href="/books/{{ i.book }}">{{ i.title|truncatechars:50 }}</a>
                <a class="author_checkout" href="/people/{{ i.user.user }}">de {{ i.user.full_name|truncatechars:30 }}</a>
                {% if i.book_file_epub %}
                <div class="get_book_container">
                    <form method="POST" action="#">{% csrf_token %}
                        <input type="hidden" name="ebook_epub" value="{{ i.book }}"/>
                        <input class="get_book" type="submit" value="ePub"/>
                    </form>
                </div>
                {% endif %}
                {% if i.book_file_pdf %}
                <div class="get_book_container">
                    <form method="POST" action="#">{% csrf_token %}
                        <input type="hidden" name="ebook_pdf" value="{{ i.book }}"/>
                        <input class="get_book" type="submit" value="PDF"/>
                    </form>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
                {% for i in purchased_books %}
                <div class="ca-item">
                    <div class="ca-icon">
                        <a href="/books/{{ i.book }}">
                            <img src="/uploaded/{{ i.cover }}" alt="Ebook: {{ i.title }}" width="90" height="126"/>
                        </a>
                    </div>
                    <a class="title" href="/books/{{ i.book }}">{{ i.title|truncatechars:50 }}</a>
                    <a class="author" href="/people/{{ i.user.user }}">de {{ i.user.full_name|truncatechars:30 }}</a>
                </div>
                {% endfor %}           
            {% endif %}  
        </div>
        <div class="container">
            {% include "footer.html" %}
        </div>
    </div>
</body>
</html>
