<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="Echa un vistazo en la librer&iacute;a de PeopleEbooks."/>

    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir" />
    <title>PeopleEbooks.com - Compra</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />  
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/cart.css" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <h2 class="headers">Resumen de compra</h2>
            {% if num_books %}
                {% if not user_logged_in %}
                    <h3 style="color: #333; font-size: 19px; margin: 20px; font-weight: normal;">¿A&uacute;n no est&aacute;s registrado en PeopleEbooks? Ten en cuenta que estos libros no quedar&aacute;n guardados en tu biblioteca, ni podr&aacute;s comentarlos con el autor y otros lectores...
                    <br><br>Registrarte es gratis y no te llevar&aacute; m&aacute;s de un minuto. Puedes hacerlo <a href="/signup" style="text-decoration: underline;">aqu&iacute;.</a>
                    </h3>
                {% endif %}
            <h2 class="header">
                <br>
                <strong>{{ num_books }} libro{{ num_books|pluralize }}</strong> añadido{{ num_books|pluralize }}. Precio total: <strong>{{ total_price }} &euro;</strong>
            <input type="image" alt="PayPal, la forma m&aacute;s segura y r&aacute;pida de pagar en l&iacute;nea." title="PayPal, la forma m&aacute;s segura y r&aacute;pida de pagar en l&iacute;nea." src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" form="paypal" class="checkout_paypal" value=" "/>
            </h2>
            {% else %}
            <h2 class="header" style="color: #C25800;"> A&uacute;n no has añadido ning&uacute;n libro. Quiz&aacute; quieras pasar por nuestra <a href="/bookstore" style="text-decoration: underline;">librer&iacute;a.</a></h2>
            {% endif %}
        </div>
        {% if num_books %}
        <div class="full-pane">
            <form id="paypal" action="{{ paypal_url }}" method="post">
                <input type="hidden" name="cmd" value="_cart"/>
                <input type="hidden" name="upload" value="1"/>
                <input type="hidden" name="business" value="{{ account }}"/>
                <input type="hidden" name="currency_code" value="EUR"/>
                <input type="hidden" name="invoice" value="{{ invoice }}"/>
                <input type="hidden" name="notify_url" value="{{ notify_url }}"/>
                <input type="hidden" name="return" value="{{ return_url }}"/>
                <input type="hidden" name="cancel_return" value="{{ cancel_url }}"/>
                {% for i in books %}
                <div class="ca-item">
                    <div class="ca-icon">
                        <a href="/books/{{ i.book }}">
                            <img src="/uploaded/{{ i.cover }}" alt="Ebook: {{ i.title }}" width="90" height="126"/>
                        </a>
                    </div>
                    <a class="title" href="/books/{{ i.book }}">{{ i.title|truncatechars:50 }}</a>
                    <a class="author" href="/people/{{ i.user.user }}">de {{ i.user|truncatechars:30 }}</a>
                    <h4 class="price">Precio: {{ i.price }} &euro;</h4>
                    <input type="hidden" name="item_name_{{ forloop.counter }}" value="{{ i.book }}"/>
                    {% load l10n %}
                    <input type="hidden" name="amount_{{ forloop.counter }}" value="{{ i.price|unlocalize }}"/>    
                </div>
                {% endfor %}
            </form>
        </div>
        {% endif %}  
        {% include "footer.html" %}
    </div>
</body>
</html>
