<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="En PeopleEbooks estamos a tu disposici&oacute;n. Si necesitas ayuda puedes contactarnos por correo, en Twitter y en nuestro Facebook." />
    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir, gratis, epub" />

    <title>PeopleEbooks.com - Contacta con nosotros</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>

<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <h2 class="headers">Contacta con nosotros</h2>
            <div class="box" style="margin-top: 50px;">
                <h3>
                    Encu&eacute;ntranos en <a href="mailto:contact@peopleebooks.com"><strong>contact@peopleebooks.com</strong></a>
                </h3>
            </div>
            <div class="box" style="margin-top: 50px;">
                <h3>
                    ¿Quieres publicar tu libro? Escr&iacute;benos a <a href="mailto:publications@peopleebooks.com"><strong>publications@peopleebooks.com</strong></a> y te ayudaremos.
                </h3>
            </div>
            <div class="box" style="margin-top: 50px;">
                <h3>
                    Recuerda que PeopleEbooks somos todos. Si quieres ayudar, puedes enviarnos tus cr&iacute;ticas y sugerencias a <a href="mailto:helpus@peopleebooks.com"><strong>helpus@peopleebooks.com</strong></a>
                </h3>
            </div>
            <div class="box" style="margin-top: 50px;">
                <h3>
                    ¿Has encontrado contenido inapropiado? ¿La actitud de alg&uacute;n usuario no te parece correcta? ¿Sospechas que se puedan estar violando derechos de autor? Haznos llegar tus denuncias a <a href="mailto:fairplay@peopleebooks.com"><strong>fairplay@peopleebooks.com</strong></a>
                </h3>
            </div>
            <div class="box" style="margin-top: 50px;">
                <h3>
                    Si quieres hacer cualquier tipo de consulta referida a tu informaci&oacute;n personal, cont&aacute;ctanos en <a href="mailto:mydata@peopleebooks.com"><strong>mydata@peopleebooks.com</strong></a>
                </h3>
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
