<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="¿Quieres modificar los datos de tu libro o de su p&aacute;gina? No hay problema. En esta p&aacute;gina puedes hacerlo." />

    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir, gratis, epub" />

    <title>PeopleEbooks.com - Edici&oacute;n del libro '{{ book_editing.title }}'</title>
    
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/user_home.css" /> 
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        {% if not book_editing.book_active %}
        <div class="full-pane" style="height: 400px;">
            <div id="logo" style="padding: 0 0 0 10px;">
                <img src="{{ STATIC_URL }}img/logos/logo.png" alt="PeopleEbooks logo" height="237" width="226"/>
            </div>
            <div id="top_right">
                <h1 class="top_right_txt">Libro bloqueado temporalmente</h1>
                <h2 class="top_right_txt">Hemos recibido reclamaciones sobre derechos de propiedad intelectual respecto a este libro. Estamos estudiando estas reclamaciones y, mientras tanto, el libro no estar&aacute; disponible.<br><br> Si necesitas m&aacute;s informaci&oacute;n, puedes contactarnos en <a style="text-decoration: underline" href="mailto:contact@peopleebooks.com">contact@peopleebooks.com</a>.<br><br>Nos comprometemos a resolver este caso con la m&aacute;xima urgencia y le pedimos disculpas por las molestias que esto le pueda ocasionar.</h2>
            </div>
        </div>
        {% else %}
        <div class="full-pane-outer">
            <div id="header" class="top-container">
                <div class="top">
                    <h4><a href="/home/{{ request.user.username }}/#profile">Perfil</a></h4>
                </div>
                <div class="top">
                    <h4><a href="/home/{{ request.user.username }}/#publications">Publicaciones</a></h4>
                </div>
                <div class="top">
                    <h4><a href="/home/{{ request.user.username }}/#library">Biblioteca</a></h4>
                </div>
                <div class="top">
                    <h4><a href="/home/{{ request.user.username }}/#sales">Mis ventas</a></h4>
                </div>
            </div>
            <div id="profile">
                <form id="cover" enctype="multipart/form-data" method="post" action="#">{% csrf_token %}
                    <div class="left-pane">
                        <h3 class="headers_home">Portada</h3>
                        <img class="book_cover" src="/uploaded/{{ book_editing.cover }}" alt="{{ book_editing.title }}" width="180" height="252"/>
                        <h4><input type="file" name="image"/></h4>
                        <h6 id="photo_error" class="errors" hidden>(Campo requerido. Formato JPG o PNG).</h6>
                        <h6 id="cover_uploading" class="errors" hidden>Subiendo portada...</h6>
                        <input class="submit" style="margin-top: 170px;" type="button" onclick="submit_form_cover();" value=" " name="cover" title="Guardar cambios"/>
                    </div>
                </form>
                <form id="book_info" method="post" action="#">{% csrf_token %}
                    <div class="right-pane">
                        <h3 class="headers_home">Clasificaci&oacute;n</h3>
                        <h4>Edad<br> 
                            <select class="select" name="rate_id">
                                {% for option in rates %}
                                {% if option.rate_id == book_editing.rate_id.rate_id %}
                                <option value="{{ option.rate_id }}" selected="selected">{{ option.rate_es }}</option>
                                {% else %}
                                <option value="{{ option.rate_id }}">{{ option.rate_es }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </h4>
                        <h4>G&eacute;nero<br> 
                            <select class="select" name="gender_id">
                                {% for option in genders %}
                                {% if option.gender_id == book_editing.gender_id.gender_id %}
                                <option value="{{ option.gender_id }}" selected="selected">{{ option.gender_es }}</option>
                                {% else %}
                                <option value="{{ option.gender_id }}">{{ option.gender_es }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </h4>
                        <h4>Idioma<br> 
                            <select class="select" name="language_id">
                                {% for option in languages %}
                                {% if option.language_id == book_editing.language_id.language_id %}
                                <option value="{{ option.language_id }}" selected="selected">{{ option.language_es }}</option>
                                {% else %}
                                <option value="{{ option.language_id }}">{{ option.language_es }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </h4>
                        <input class="submit" type="submit" value=" " name="book_info" title="Guardar cambios"/>
                    </div>
                </form>
                <form id="synopsis" method="post" action="#">{% csrf_token %}
                    <div class="full-pane-2">
                        <h3 class="headers_home">Sinopsis</h3>
                        <textarea class="synopsis" name="synopsis_field" maxlength="1000" placeholder="{{ book_editing.synopsis }}" rows="7" cols="5" wrap="hard" onfocus="show_placeholder(this);"></textarea>
                        <h6 id="synopsis_error" class="errors" style="padding-top: 20px;" hidden>(S&oacute;lo se admiten caracteres alfanuméricos. Hasta 1000 caracteres).</h6>
                        <input class="submit" type="button" onclick="submit_form_synopsis();" value=" " name="synopsis" title="Guardar cambios"/>                
                    </div>
                </form>
                <form id="video" method="post" enctype="multipart/form-data" action="#">{% csrf_token %}
                    <div class="left-pane">
                        <h3 class="headers_home">V&iacute;deo</h3>
                        <video class="user_video" controls="controls" width="300" height="225">
                            {% if book_editing.video %}
                            <source src="/uploaded/{{ book_editing.video }}" type="video/webm"/>
                            {% endif %}
                        </video>
                        <h4><input type="file" name="video_file" /></h4>
                        <h6 id="video_error" class="errors" hidden>(Formatos WebM, MP4, AVI, MKV, FLV o WMV).</h6>
                        <h6 id="video_transcoding" class="errors" hidden>Subiendo y codificando v&iacute;deo. Puede tardar unos minutos...</h6>
                        <input class="submit" style="margin-top: -50px;" type="button" onclick="submit_form_video();" value=" " name="video" title="Guardar cambios"/>                         
                    </div>
                </form>
                <form id="misc" method="post" action="#">{% csrf_token %}
                    <div class="right-pane">
                        <h3 class="headers_home">Varios</h3>
                        <h4>Precio de venta<br><input class="email" type="text" name="price" placeholder="{{ book_editing.price|floatformat:'-2' }}"/></h4>
                        <h6 id="price_error" class="errors" hidden>Entre 0.99 y 100&euro;<br>(Si quieres especifir otro precio, cont&aacute;ctanos)</h6>
                        <h4>Web externa<br><input class="email" type="text" name="website" placeholder="{{ book_editing.website }}"/></h4>
                        <input class="submit" type="button" value=" " name="misc" title="Guardar cambios" onclick="submit_misc();"/>
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        {% include "footer.html" %}
    </div>
    <script src="{{ STATIC_URL }}js/edit_book.js" type="text/javascript"></script>    
</body>
</html>
