<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="En esta p&aacute;gina puedes cambiar la dirección de email de tu cuenta en PeopleEbooks" />

    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir, gratis, epub" />

    <title>PeopleEbooks.com - Cambiar correo electr&oacute;nico</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />   
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <div id="logo" style ="padding: 0 0 0 10px;">
                <img src="{{ STATIC_URL }}img/logos/logo.png" alt="PeopleEbooks logo" height="237" width="226"/>
            </div>
            <div id="top_right">
                <h1 class="top_right_txt">E-mail cambiado correctamente</h1>
                <h2 class="top_right_txt"> Se ha cambiado tu direcci&oacute;n de correo a <strong>{{ email }}</strong>. En adelante, &uacute;sala para iniciar sesi&oacute;n en PeopleEbooks.</h2>
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
