<!DOCTYPE html>
   
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="Consulta las FAQs si tienes alguna duda. Si necesitas m&aacute;s informaci&oacute;n, estamos a tu disposici&oacute;n en Facebook y Twitter" />
    <title>PeopleEbooks.com - Preguntas frecuentes</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/user_home.css" />    
</head>

<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane-outer">
            <div id="header" class="top-container">
                <div id="header_title">
                    <h3>Preguntas sobre...</h3>
                </div>
                <div class="top">
                    <h4 id="header_readers"><span onclick="load_content('#readers')">Lectores</span></h4>
                </div>
                <div class="top">
                    <h4 id="header_authors"><span onclick="load_content('#authors')">Autores</span></h4>
                </div>
                <div class="top">
                    <h4 id="header_misc"><span onclick="load_content('#misc');">Miscel&aacute;nea</span></h4>
                </div>
            </div>
<!-- READERS -->                   
            <div id="readers" hidden>
                <div class="container">
                    <h2 class="question">
                        <a href="#r1" class="scroll">1 - ¿He de registrarme para comprar un ebook?</a><br><br>
                        <a href="#r2" class="scroll">2 - Soy lector, ¿por qu&eacute; registrarme en PeopleEbooks?</a><br><br>
                        <a href="#r3" class="scroll">3 - He comprado un ebook, ¿c&oacute;mo lo descargo?</a><br><br>
                        <a href="#r4" class="scroll">4 - ¿Cu&aacute;ntas veces puedo descargar un mismo ebook?</a><br><br>
                        <a href="#r5" class="scroll">5 - Quiero dejar un mensaje p&uacute;blico a un autor, ¿c&oacute;mo lo hago?</a><br><br>
                        <a href="#r6" class="scroll">6 - Quiero dejar mi opini&oacute;n en la p&aacute;gina de un libro que he comprado, ¿c&oacute;mo lo hago?</a><br><br>
                    </h2>
                    <div class="full-pane-2" style="width: 94%;">
                        <h2 class="question">
                            <span id="r1">1 - ¿He de registrarme para comprar un ebook?</span>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No hace falta. Simplemente selecciona el libro que quieras leer y efect&uacute;a el pago a trav&eacute;s del carrito. Al instante se te cargar&aacute; una p&aacute;gina desde donde descargar todos los libros que hubieras comprado en todos los formatos disponibles para su descarga. As&iacute; de sencillo.
                        </h3>
                        <h2 class="question">
                            <span id="r2">2 - Soy lector, ¿por qu&eacute; registrarme en PeopleEbooks?</span>
                            <a href="#readers" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Al registrarte, todas las obras que compres quedar&aacute;n guardadas en tu Biblioteca, desde donde podr&aacute;s descargarlas tantas veces como quieras sin necesidad de volver a pagar. Adem&aacute;s podr&aacute;s dejar mensajes en el Muro de los autores y en las p&aacute;ginas de las obras que leas.<br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Como lector, tambi&eacute;n dispondr&aacute;s de una web p&uacute;blica desde la que presentarte por escrito, im&aacute;genes, v&iacute;deo; y enlazar con cualquier web externa a PeopleEbooks que desees. Si eres uno de los lectores m&aacute;s activos, aparecer&aacute;s como tal en el top lectores de nuestra p&aacute;gina principal.
                        </h3>
                        <h2 class="question">
                            <span id="r3">3 - He comprado un ebook, ¿c&oacute;mo lo descargo?</span>
                            <a href="#readers" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En la secci&oacute;n "Biblioteca" de tu cuenta de usuario aparecen todos los ebooks que hayas comprado en PeopleEbooks. Podr&aacute;s descargarlas directamente haciendo clic sobre los enlaces de descarga o bien accediendo a las web de los libros (tras iniciar sesi&oacute;n).
                        </h3>
                        <h2 class="question">
                            <span id="r4">4 - ¿Cu&aacute;ntas veces puedo descargar un mismo ebook?</span>
                            <a href="#readers" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Una vez compras un ebook, &eacute;ste queda almacenado en tu Biblioteca, disponible para su descarga tantas veces como quieras, sin ning&uacute;n coste adicional.
                        </h3>
                        <h2 class="question">
                            <span id="r5">5 - Quiero dejar un mensaje p&uacute;blico a un autor, ¿c&oacute;mo lo hago?</span>
                            <a href="#readers" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inicia sesi&oacute;n en PeopleEbooks.com y accede a la web del autor al que quieras escribir (puedes encontrarla en el buscador). Puedes dejarle un mensaje directamente en su Muro, en la parte inferior de la web, y recibir&aacute; una notificaci&oacute;n.
                        </h3>
                        <h2 class="question">
                            <span id="r6">6 - Quiero dejar mi opini&oacute;n en la p&aacute;gina de un libro que he comprado, ¿c&oacute;mo lo hago?</span>
                            <a href="#readers" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Desde el momento en que compras un libro en PeopleEbooks puedes escribir comentarios en la p&aacute;gina del libro de modo que el autor, lectores y otros usuarios puedan leerlos.
                        </h3>
                    </div>
                </div>
            </div>            
<!-- AUTHORS -->   
            <div id="authors" hidden>
                <div class="container">
                    <h2 class="question">
                        <a href="#a1" class="scroll">1 - ¿Puedo publicar mi libro en PeopleEbooks?</a><br><br>
                        <a href="#a2" class="scroll">2 - ¿En qu&eacute; formatos puedo publicar mi libro?</a><br><br>
                        <a href="#a3" class="scroll">3 - ¿Qu&eacute; es el formato ePub?</a><br><br>
                        <a href="#a4" class="scroll">4 - ¿C&oacute;mo maqueto mi libro en formato ePub?</a><br><br>
                        <a href="#a5" class="scroll">5 - ¿Y si necesito ayuda para maquetar mi ebook, o traducirlo, ilustrarlo, corregirlo...?</a><br><br>
                        <a href="#a6" class="scroll">6 - ¿Cu&aacute;l es el tamaño m&aacute;ximo que puede tener el archivo de mi libro?</a><br><br>
                        <a href="#a7" class="scroll">7 - ¿Necesito obtener un ISBN para poder vender mi libro a trav&eacute;s de PeopleEbooks?</a><br><br>
                        <a href="#a8" class="scroll">8 - ¿Y si tambi&eacute;n quiero publicar en papel o vender mi libro desde otra web?</a><br><br>
                        <a href="#a9" class="scroll">9 - ¿Conservar&eacute; los derechos sobre mi obra?</a><br><br>
                        <a href="#a10" class="scroll">10 - ¿Puede PeopleEbooks modificar mi libro?</a><br><br>
                        <a href="#a11" class="scroll">11 - ¿Cu&aacute;nto cuesta publicar un libro en PeopleEbooks?</a><br><br>
                        <a href="#a12" class="scroll">12 - ¿Puedo fijar el precio de venta que quiera para mi libro?</a><br><br>
                        <a href="#a13" class="scroll">13 - ¿Cu&aacute;nto dinero ganar&eacute; por cada libro que venda?</a><br><br>
                        <a href="#a14" class="scroll">14 - ¿Qu&eacute; gastos de gesti&oacute;n aplica PeopleEbooks?</a><br><br>
                        <a href="#a15" class="scroll">15 - ¿De qu&eacute; forma podr&eacute; recibir las ganancias de mis ventas?</a><br><br>
                        <a href="#a16" class="scroll">16 - ¿Aplicar&aacute; PeopleEbooks alguna comisi&oacute;n cada vez que quiera retirar mis ganancias?</a><br><br>
                        <a href="#a17" class="scroll">17 - Ya he terminado mi libro y quiero publicarlo con PeopleEbooks, ¿c&oacute;mo lo hago?</a><br><br>
                        <a href="#a18" class="scroll">18 - Ya he publicado mi libro, ¿c&oacute;mo lo promociono?</a><br><br>
                        <a href="#a19" class="scroll">19 - ¿Cada libro que publique dispondr&aacute; de una web?</a><br><br>
                        <a href="#a20" class="scroll">20 - ¿Qu&eacute; es un booktrailer y qu&eacute; formatos puedo utilizar?</a><br><br>
                        <a href="#a21" class="scroll">21 - ¿Qu&eacute; son los &uacute;ltimos comentarios sobre mi obra? ¿Qui&eacute;n puede escribirlos? ¿C&oacute;mo los contesto?</a><br><br>
                        <a href="#a22" class="scroll">22 - ¿Qu&eacute; es mi web de usuario y c&oacute;mo la personalizo?</a><br><br>
                        <a href="#a23" class="scroll">23 - ¿Qu&eacute; es el Muro? ¿Qui&eacute;n puede escribir ah&iacute;? ¿C&oacute;mo puedo escribir yo?</a><br><br>
                        <a href="#a24" class="scroll">24 - ¿Puedo saber qui&eacute;n ha comprado mi libro?</a><br><br>
                    </h2>
                    <div class="full-pane-2" style="width: 94%;">
                        <h2 class="question">
                            <span id="a1">1 - ¿Puedo publicar mi libro en PeopleEbooks?</span>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;¡Sí! Puedes hacerlo en menos de un minuto. Sea cual sea la tem&aacute;tica, el enfoque, la extensi&oacute;n o el idioma en que lo hayas escrito. ¿Tienes dudas? Sigue leyendo...
                        </h3>
                        <h2 class="question">
                            <span id="a2">2 - ¿En qu&eacute; formatos puedo publicar mi libro?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En PeopleEbooks puedes publicar tu libro en formato ePub y PDF. Por portabilidad, recomendamos encarecidamente el formato ePub, salvo casos concretos en que es preferible el formato PDF. En cualquier caso, puedes publicar en ambos formatos a la vez.
                        </h3>
                        <h2 class="question">
                            <span id="a3">3- ¿Qu&eacute; es el formato ePub?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ePub es un formato abierto y libre que adapta la forma en que se visualizan los libros a las caracter&iacute;sticas y configuraciones de las pantallas de los dispositivos donde se reproducen: PC's, tablets, e-readers, smartphones...
                        </h3>
                        <h2 class="question">
                            <span id="a4">4 - ¿C&oacute;mo maqueto mi libro en formato ePub?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Existen conversores online autom&aacute;ticos, pero el resultado nunca ser&aacute; el mismo que haci&eacute;ndolo manualmente: esto te permitir&aacute; configurar adecuadamente la forma en que se muestra el contenido, separar las diferentes partes de la obra o hacer un &iacute;ndice interno con enlaces a los diferentes cap&iacute;tulos. Para ello, puedes utilizar editores como <a href="http://code.google.com/p/sigil/" target="_blank">Sigil</a> o <a href="http://calibre-ebook.com/" target="_blank">Calibre</a>, gratuitos y de c&oacute;digo abierto, disponibles para Windows, Linux y Mac.<br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Si deseas informaci&oacute;n concreta sobre c&oacute;mo hacer la maquetaci&oacute;n desde tu propio equipo o quieres que te ayudemos a hacerla, escr&iacute;benos a <a href="mailto:publications@peopleebooks.com">publications@peopleebooks.com</a>.
                        </h3>
                        <h2 class="question">
                            <span id="a5">5 - ¿Y si necesito ayuda para maquetar mi ebook, o traducirlo, ilustrarlo, corregirlo...?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Si necesitas ayuda, estamos a tu disposici&oacute;n en <a href="mailto:publications@peopleebooks.com">publications@peopleebooks.com</a>.
                        </h3>
                        <h2 class="question">
                            <span id="a6">6 - ¿Cu&aacute;l es el tamaño m&aacute;ximo que puede tener el archivo de mi libro?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Puedes publicar archivos de hasta 10MB en cualquiera de los formatos de publicaci&oacute;n: ePub y PDF.
                        </h3>
                        <h2 class="question">
                            <span id="a7">7 - ¿Necesito obtener un ISBN para poder vender mi libro a trav&eacute;s de PeopleEbooks?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No es necesario, aunque si lo tienes te animamos a incluirlo en tu ebook.
                        </h3>
                        <h2 class="question">
                            <span id="a8">8 - ¿Y si tambi&eacute;n quiero publicar en papel o vender mi libro desde otra web?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Puedes publicar tu libro en papel o en cualquier formato digital, directamente o trabajando con otra editorial, sin ning&uacute;n tipo de intervenci&oacute;n ni limitaci&oacute;n por parte de PeopleEbooks. Puedes incluso enlazar la web de tu libro en PeopleEbooks con cualquier otra web en que lo distribuyas. Es tu obra. Son tus derechos.
                        </h3>
                        <h2 class="question">
                            <span id="a9">9 - ¿Conservar&eacute; los derechos sobre mi obra?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S&iacute;. Sin letra pequeña.<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PeopleEbooks es una ONG sin &aacute;nimo de lucro nacida para ayudar a los autores: puedes publicar tu libro con nosotros y a la vez desde cualquier otra web, plataforma o editorial, sin ning&uacute;n l&iacute;mite ni restricci&oacute;n, en cualquier formato, a cualquier precio, en cualquier momento.<br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y si quieres dejar de distribuir tu libro a través de PeopleEbooks, simplemente escr&iacute;benos a <a href="mailto:publications@peopleebooks.com">publications@peopleebooks.com</a> y retiraremos tu obra de la plataforma.
                        </h3>
                        <h2 class="question">
                            <span id="a10">10 - ¿Puede PeopleEbooks modificar mi libro?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PeopleEbooks.com es una plataforma de auto-publicaci&oacute;n por lo que en ning&uacute;n momento modificaremos tu libro.
                        </h3>
                        <h2 class="question">
                            <span id="a11">11 - ¿Cu&aacute;nto cuesta publicar un libro en PeopleEbooks?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En PeopleEbooks puedes publicar tu libro gratis con todos los servicios disponibles (webs de autor y libros, v&iacute;deos...). Sin letra pequeña.
                        </h3>
                        <h2 class="question">
                            <span id="a12">12 - ¿Puedo fijar el precio de venta que quiera para mi libro?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Puedes vender tu ebook al precio que desees y cambiarlo siempre que quieras.<br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Recuerda que al publicar tu libro se empezar&aacute; a distribuir a 0,99&euro;. Para modificarlo, accede a la sección "Publicaciones" en tu cuenta de usuario, cambia el precio de cualquiera de tus libros publicados y se actualizar&aacute; al instante.
                        </h3>
                        <h2 class="question">
                            <span id="a13">13 - ¿Cu&aacute;nto dinero ganar&eacute; por cada libro que venda?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Por cada libro vendido ingresar&aacute;s el importe correspondiente al precio de venta que hubieras establecido, menos los gastos de gesti&oacute;n de PeopleEbooks. Por ejemplo, si vendes tu libro a 3&euro;, ganar&aacute;s 2,10&euro; por cada copia que vendas (3&euro; - 30% del precio de venta).
                        </h3>
                        <h2 class="question">
                            <span id="a14">14 - ¿Qu&eacute; gastos de gesti&oacute;n aplica PeopleEbooks?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En PeopleEbooks aplicamos una comisi&oacute;n fija de 0,49€ por cada libro vendido a trav&eacute;s de nuestra plataforma a un precio inferior a 2&euro;. Para precios iguales o superiores a 2&euro;, &uacute;nicamente aplicamos una comisi&oacute;n del 30% (por lo que el autor gana el 70% del precio final de venta).
                        </h3>
                        <h2 class="question">
                            <span id="a15">15 - ¿De qu&eacute; forma podr&eacute; recibir las ganancias de mis ventas?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Como autor tendr&aacute;s una cuenta de saldo en PeopleEbooks donde se acumulan los ingresos por las ventas de tus libros y donde puedes consultar los detalles sobre tus ventas totales y de cada libro publicado. Siempre que el saldo sea igual o superior a 10&euro;, podr&aacute;s retirar una parte o la totalidad hacia la cuenta PayPal que quieras o la cuenta bancaria que indiques.
                        </h3>
                        <h2 class="question">
                            <span id="a16">16 - ¿Aplicar&aacute; PeopleEbooks alguna comisi&oacute;n cada vez que quiera retirar mis ganancias?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Del importe que desees retirar &uacute;nicamente restaremos los costos bancarios de la operaci&oacute;n. Si,por ejemplo, deseas retirar a una cuenta PayPal de España, el coste es de 0&euro;.
                        </h3>
                        <h2 class="question">
                            <span id="a17">17 - Ya he terminado mi libro y quiero publicarlo con PeopleEbooks, ¿c&oacute;mo lo hago?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En tres pasos muy sencillos, en menos de un minuto:<br><br> 
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) ¿De qu&eacute; trata? Escribe el t&iacute;tulo de tu libro y la sinopsis. Indica tambi&eacute;n idioma , g&eacute;nero y calificaci&oacute;n de edad.<br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2) Subir ebook: selecciona el archivo de tu libro en formato ePub y/o PDF y la portada.<br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3) Publicar: revisa el acuerdo de publicaci&oacute;n. Al hacer clic sobre el bot&oacute;n "Confirmar publicaci&oacute;n" tu obra quedar&aacute; publicada. M&aacute;s adelante podr&aacute;s modificar todos los campos del libro, salvo el t&iacute;tulo; y añadir v&iacute;deo, enlaces externos...
                        </h3>
                        <h2 class="question">
                            <span id="a18">18 - Ya he publicado mi libro, ¿c&oacute;mo lo promociono?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Una vez publiques tu ebook y quede indexado en los principales buscadores web, cualquier persona que se interese por tu nombre o tu libro en un buscador, podr&aacute; llegar a tu p&aacute;gina de autor o a la de tus obras, donde ser&aacute;n tus palabras y/o v&iacute;deos, booktrailers, sinopsis o comentarios de lectores los que te permitir&aacute;n captar el inter&eacute;s de nuevos lectores o contactar con ellos.<br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Internamente promocionamos los ebooks seg&uacute;n los comentarios y valoraciones de sus lectores, las ventas conseguidas y tambi&eacute;n mostrando en nuestra p&aacute;gina principal varios libros seleccionados aleatoriamente de nuestro cat&aacute;logo. Adem&aacute;s, divulgaremos en redes sociales cualquier promoci&oacute;n o evento que como autor nos comuniques. 
                        </h3>
                        <h2 class="question">
                            <span id="a19">19 - ¿Cada libro que publique dispondr&aacute; de una web?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;¡Así es! Sin publicidad ni contenido diferente a tu propia obra. Una p&aacute;gina propia con el siguiente contenido personalizable: portada, sinopsis, booktrailer, &uacute;ltimos comentarios de tus lectores, foto de autor, datos generales (g&eacute;nero, idioma, precio...) y un enlace a cualquier web externa a PeopleEbooks que desees. Podr&aacute;s cambiar &eacute;ste contenido siempre que quieras desde la secci&oacute;n "Publicaciones" de tu cuenta de usuario.
                        </h3>
                        <h2 class="question">
                            <span id="a20">20 - ¿Qu&eacute; es un booktrailer y qu&eacute; formatos puedo utilizar?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Un booktrailer es un v&iacute;deo de presentaci&oacute;n similar al tr&aacute;iler de una pel&iacute;cula. En PeopleEbooks puedes utilizar un booktrailer para presentar cada uno de los libros que publiques.<br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Puedes utilizar cualquier v&iacute;deo, con un tamaño de hasta 10MB, en cualquiera de los siguientes formatos: WebM, MP4, AVI, MKV, FLV o WMV. Para publicarlo, accede a tu cuenta de usuario, en la secci&oacute;n "Publicaciones" y elige el libro cuyo booktrailer quieres subir.
                        </h3>
                        <h2 class="question">
                            <span id="a21">21 - ¿Qu&eacute; son los &uacute;ltimos comentarios sobre mi obra? ¿Qui&eacute;n puede escribirlos? ¿C&oacute;mo los contesto?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Es una secci&oacute;n que aparece en la parte inferior de la web de tus libros. Cualquier usuario registrado de PeopleEbooks que haya comprado tu libro podr&aacute; dejarte un mensaje (que se te notifica autom&aacute;ticamente a trav&eacute;s de un correo electr&oacute;nico. Puedes desactivar estas notificaciones editando tu perfil de usuario). Siempre que accedas habiendo iniciado sesi&oacute;n a la web de tus libros podr&aacute;s escribir comentarios.
                        </h3>
                        <h2 class="question">
                            <span id="a22">22 - ¿Qu&eacute; es mi web de usuario y c&oacute;mo la personalizo?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Se trata de una p&aacute;gina en la que presentarte como autor o lector. Para ello puedes utilizar una foto, una presentaci&oacute;n en texto y/o en v&iacute;deo. Tambi&eacute;n puedes incluir una cita. Si eres un autor, esta web enlazar&aacute; a todas las obras que publiques en PeopleEbooks. Si lo deseas, tambi&eacute;n puedes incluir enlaces a tus p&aacute;ginas de facebook, twitter o a cualquier otra web externa a PeopleEbooks.<br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Por supuesto, puedes actualizar este contenido siempre que quieras en la secci&oacute;n "Perfil" de tu cuenta de usuario.
                        </h3>
                        <h2 class="question">
                            <span id="a23">23- ¿Qu&eacute; es el Muro? ¿Qui&eacute;n puede escribir ah&iacute;? ¿C&oacute;mo puedo escribir yo?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Es una secci&oacute;n que aparece en la parte inferior de tu web de usuario. Cualquier usuario registrado de PeopleEbooks podr&aacute; dejar mensajes p&uacute;blicos. Siempre que alguien escriba en tu Muro recibir&aacute;s una notificaci&oacute;n por correo, que puedes desactivar en la secci&oacute;n "Perfil" de tu cuenta de usuario.<br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Siempre que accedas a tu web de usuario habiendo iniciado sesi&oacute;n podr&aacute;s escribir en tu Muro.
                        </h3>
                        <h2 class="question">
                            <span id="a24">24 - ¿Puedo saber qui&eacute;n ha comprado mi libro?</span>
                            <a href="#authors" style="font-size: 15px;">&nbsp;&nbsp;&nbsp;&nbsp;(volver)</a>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Puedes acceder a un informe de ventas (con el detalle de los usuarios, precio y fecha en que compraron tu libro y beneficios obtenidos en cada venta) actualizado en tiempo real en la secci&oacute;n "Publicaciones" de tu cuenta de usuario.<br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Adem&aacute;s, desde la secci&oacute;n "Mis ventas" podr&aacute;s revisar en todo momento tus ventas totales, beneficios acumulados, saldo actual en PeopleEbooks y saldo retirado hasta la fecha.
                        </h3>
                    </div>
                </div>
            </div>
<!-- MISC -->                 
            <div id="misc" hidden>
                <div class="container">
                    <h2 class="question">
                        <a href="#m1" class="scroll">1 - ¿Qu&eacute; es el v&iacute;deo de presentaci&oacute;n?</a><br><br>
                        <a href="#m2" class="scroll">2 - ¿Es PeopleEbooks compatible con todos los navegadores?</a><br><br>
                    </h2>
                    <div class="full-pane-2" style="width: 94%;">
                        <h2 class="question">
                            <span id="m1">1 - ¿Qu&eacute; es el v&iacute;deo de presentaci&oacute;n?</span>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Todo usuario de PeopleEbooks que lo desee, autor o lector, puede presentarse en v&iacute;deo. Es una forma personal y directa que puede ayudarte a hacer llegar tu mensaje a los lectores. Puedes utilizar un v&iacute;deo personal, una entrevista, una animaci&oacute;n... y cambiarlo siempre que quieras. ¡T&uacute; decides!
                        </h3>
                        <h2 class="question">
                            <span id="m2">2 - ¿Es PeopleEbooks compatible con todos los navegadores?</span>
                        </h2>
                        <h3 class="answer">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PeopleEbooks es una plataforma desarrollada siguiendo los est&aacute;ndares HTML5 y CSS3. Actualmente, la mayoría de los navegadores tienen un amplio soporte para estos est&aacute;ndares salvo en el caso de Internet Explorer, que en la versi&oacute;n 10 los cumple parcialmente.<br><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En general, recomendamos utilizar cualquier navegador salvo Internet Explorer que, en ninguna de sus versiones, cumple el estándar HTML5 ni los anteriores. En caso de usarlo, perder&aacute;s multitud de caracter&iacute;sticas est&eacute;ticas y funcionales. Si utilizas la versi&oacute;n 10, habr&aacute; ciertos elementos que no funcionen. Para ver los v&iacute;deos necesitar&aacute;s instalar los codecs para el formato <a href="http://code.google.com/p/webm/downloads/list" target="_blank">VP8</a> y para <a href="http://xiph.org/downloads/" target="_blank">Vorbis Audio.</a> 
                        </h3>
                    </div>
                </div>
            </div> 
        </div>
        {% include "footer.html" %}
    </div>
    <script src="{{ STATIC_URL }}js/user_home.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/faq.js" type="text/javascript"></script>     
</body>
</html>

