<footer id="footer" itemscope itemtype="http://schema.org/WPFooter">
    <div class="footer-container">
        <div class="footer-button"><a href="/faq">Preguntas frecuentes</a></div>
        <div class="footer-button"><a href="/ceo">Carta del director</a></div>
        <div class="footer-button"><a href="/about">PeopleEbooks</a></div>
        <div class="footer-button"><a href="/legal-terms">T&eacute;rminos legales</a></div>
        <div class="footer-button"><a href="/contact">+ Info</a></div>            

        <div class="footer-option-icon-container"><!-- For animation -->
            <div class="option-icon" title="Vis&iacute;tanos en Twitter">
                <a href="https://twitter.com/PeopleEbooks_Es" target="_blank">
                    <img src="{{ STATIC_URL }}img/icon/twitter.png" alt="PeopleEbooks Twitter" height="35" width="35"/>
                </a>
            </div>
            <div class="option-icon" title="Vis&iacute;tanos en Facebook">
                <a href="http://www.facebook.com/PeopleEbooks" target="_blank">
                    <img src="{{ STATIC_URL }}img/icon/facebook.png" alt="PeopleEbooks Facebook" height="35" width="35"/>
                </a>
            </div>
            <div class="option-icon" title="Sigue nuestro canal de YouTube">
                <a href="http://www.youtube.com/user/PeopleEbooks" target="_blank">
                    <img src="{{ STATIC_URL }}img/icon/youtube.png" alt="PeopleEbooks YouTube" height="35" width="35"/>
                </a>
            </div>          
        </div>
    </div>
</footer>
