<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="La primera editorial de libros electr&oacute;nicos en la que puedes publicar tu libro, 
    presentarte como autor con una web personal con v&iacute;deo, texto e im&aacute;genes y enlazar a tu blog, Facebook, Twitter...todo 
    completamente gratis. Como lector, puedes disfrutar del contacto directo con autores y otros 
    lectores y de precios sin competencia. No esperes m&aacute;s y pru&eacute;balo!" />

    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir, gratis, epub" />
    <title>PeopleEbooks.com - Cuenta inactiva</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <div id="logo" style="padding: 0 0 0 10px;">
                <img src="{{ STATIC_URL }}img/logos/logo.png" alt="PeopleEbooks logo" height="237" width="226"/>
            </div>
            <div id="top_right">
                <h1 class="top_right_txt">Cuenta inactiva</h1>
                <h2 class="top_right_txt">Si recibes este error, es que tu cuenta ha sido desactivada. Si no has recibido ninguna informaci&oacute;n al respecto, escr&iacute;benos a <a style="text-decoration: underline;" href="mailto:contact@peopleebooks.com">contact@peopleebooks.com</a> o en <a href="http://www.facebook.com/PeopleEbooks" style="text-decoration: underline;">Facebook</a> y te ayudaremos.<br>Sentimos las molestias causadas.</h2>
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
