<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="La primera editorial de libros electr&oacute;nicos en la que puedes publicar tu libro, 
    presentarte como autor con una web personal con v&iacute;deo, texto e im&aacute;genes y enlazar a tu blog, Facebook, Twitter...todo 
    completamente gratis. Como lector, puedes disfrutar del contacto directo con autores y otros 
    lectores y de precios sin competencia. No esperes m&aacute;s y pru&eacute;balo!" />

    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir" />

    <meta property="og:title" content="PeopleEbooks.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ og_url }}"/>
    <meta property="og:image" content="{{ og_url }}{{ STATIC_URL }}img/logos/logo.png"/>
    <meta property="og:description" content="PeopleEbooks.com - Para acercar el mundo editorial a la realidad de la tecnolog&iacute;a y la sociedad de nuestro tiempo."/>

    <title>PeopleEbooks.com - Inicio</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    
</head>
<body itemscope itemtype="http://schema.org/WebPage">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane" style="overflow: visible;">
            <!-- Logo -->
            <div id="logo" style="padding: 0 0 0 10px;"> 
                <img src="{{ STATIC_URL }}img/logos/logo.png" alt="PeopleEbooks logo" height="237" width="226" itemprop="primaryImageOfPage"/>
            </div>
            <!-- Header text -->
            {% if header == 0 %}
            <div id="top_right" itemscope itemtype="http://schema.org/WPHeader">
                <h1 class="top_right_txt">PeopleEbooks, punto de encuentro de escritores y lectores</h1>
                <h2 class="top_right_txt">Como lector, no eres un n&uacute;mero en un total de ventas ni, como autor, uno m&aacute;s en la lista.<br>
                <a href="/faq"><span style="font-size: 20px; text-decoration: underline;">Descubre por qu&eacute;</span></a>
                </h2>
            </div>
            {% elif header == 1 %}
            <div id="top_right" itemscope itemtype="http://schema.org/WPHeader">
                <h1 class="top_right_txt">¡Publica gratis! Sin ataduras, sin l&iacute;mites.</h1>
                <h2 class="top_right_txt">PeopleEbooks: para acercar el mundo editorial a la realidad de la tecnolog&iacute;a y la sociedad de nuestro tiempo.</h2>
            </div>
            {% elif header == 2 %}
            <div id="top_right" itemscope itemtype="http://schema.org/WPHeader">
                <h1 class="top_right_txt">Es tu obra, son tus derechos.</h1>
                <h2 class="top_right_txt">En PeopleEbooks t&uacute; eliges a qu&eacute; precio quieres publicar tu obra. Y puedes cambiarlo siempre que quieras.</h2>
            </div>
            {% elif header == 3 %}
            <div id="top_right" itemscope itemtype="http://schema.org/WPHeader">
                <h1 class="top_right_txt">¡Novedades en PeopleEbooks!</h1>
                <h2 class="top_right_txt">Hemos introducido nuevas caracter&iacute;sticas y opciones en PeopleEbooks.<br><br>
                <a href="/news"><span style="font-size: 20px; text-decoration: underline;">¿Quieres saber m&aacute;s?</span></a>
                </h2>
            </div>
            {% endif %}
            <div class="fb-like" data-href="https://www.peopleebooks.com/" data-send="false" data-width="640" data-show-faces="true"></div>
        </div>
        <!-- Writers Top 5 -->
        <div class="left-pane" style="height: auto;">
            <h3 class="headers">Top 5 escritores</h3> 
            {% for top5_writer in top5_writers %}
            <div class="top5-item">
                {% if top5_writer.photo %}
                <a href="/people/{{ top5_writer.user }}">
                    <img class="top5-img" src="uploaded/{{ top5_writer.photo }}" alt="{{ top5_writer.full_name }}" width="70" height="70">
                </a>
                {% else %}
                <a href="/people/{{ top5_writer.user }}">
                    <img class="top5-img" src="{{ STATIC_URL }}img/icon/user.png" alt="{{ top5_writer.full_name }}" width="70" height="70">
                </a>
                {% endif %}
                <h3 class="top5-quotes-name"><a href="/people/{{ top5_writer.user }}">{{ top5_writer.full_name|truncatechars:32 }}</a></h3>
                <h4 class="top5-quotes-text">{{ top5_writer.quote|truncatechars:135 }}</h4>
            </div>
            {% endfor %}
        </div>

        <!-- Carousel -->
        <div class="right-pane" style="overflow: hidden;">
            <h3 class="headers">Algunos de nuestros libros</h3>
            <div id="carousel_1">
                {% for i in carousel_1 %}
                <div class="ca-item">
                    <div class="ca-item-main" itemscope itemtype="http://schema.org/Book">
                        <a href="/books/{{ i.book }}"><img class="ca-icon" src="uploaded/{{ i.cover }}" alt="Ebook: {{ i.title }}" width="120" height="168" itemprop="image"/></a>
                        <h3><a href="/books/{{ i.book }}" itemprop="name">{{ i.title|truncatechars:40 }}</a></h3>
                        <h4 style="color: #000;" itemprop="about">{{ i.synopsis|truncatechars:260 }}</h4>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="carousel_2" hidden>
                {% for i in carousel_2 %}
                <div class="ca-item">
                    <div class="ca-item-main" itemscope itemtype="http://schema.org/Book">
                        <a href="/books/{{ i.book }}"><img class="ca-icon" src="uploaded/{{ i.cover }}" alt="Ebook: {{ i.title }}" width="120" height="168" itemprop="image"/></a>
                        <h3><a href="/books/{{ i.book }}" itemprop="name">{{ i.title|truncatechars:40 }}</a></h3>
                        <h4 style="color: #000;" itemprop="about">{{ i.synopsis|truncatechars:260 }}</h4>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="carousel_3" hidden>
                {% for i in carousel_3 %}
                <div class="ca-item">
                    <div class="ca-item-main" itemscope itemtype="http://schema.org/Book">
                        <a href="/books/{{ i.book }}"><img class="ca-icon" src="uploaded/{{ i.cover }}" alt="Ebook: {{ i.title }}" width="120" height="168" itemprop="image"/></a>
                        <h3><a href="/books/{{ i.book }}" itemprop="name">{{ i.title|truncatechars:40 }}</a></h3>
                        <h4 style="color: #000" itemprop="about">{{ i.synopsis|truncatechars:260 }}</h4>
                    </div>
                </div>
                {% endfor %}
            </div>                  
        </div>
            
        <!-- Best sellers -->
        <div class="sub_left-pane" style="height: 575px;">
            <h3 class="headers">Los m&aacute;s vendidos en PeopleEbooks</h3>
            {% for best_seller in best_sellers %}
            <div class="top-item" itemscope itemtype="http://schema.org/Book">
                <a href="/books/{{ best_seller.book }}">
                    <img class="best-sellers-img" id="top_{{ forloop.counter }}" onmouseover="show_best_seller(this);" src="uploaded/{{ best_seller.cover }}" alt="Ebook: {{ best_seller.title }}" title="{{ best_seller.title }}" width="70" height="98" itemprop="image">
                </a>                  
            </div>
            {% endfor %}
            <hr style="width: 90%; clear: both; margin-bottom: 25px;">
            {% for best_seller in best_sellers %}
            <div class="best_seller" id="{{ forloop.counter }}" hidden>                
            <span class="best_seller_title"><a href="/books/{{ best_seller.book }}">{{ best_seller.title|truncatechars:40 }}</a></span>
            <h3 class="best_seller_synopsis">{{ best_seller.synopsis|linebreaks|truncatechars:500 }}&nbsp;&nbsp;&nbsp;<a href="/books/{{ best_seller.book }}"><strong>(ver m&aacute;s)</strong></a></h3>
            </div>
            {% endfor %}
        </div>

        <!-- Social -->
        <div class="sub_right-pane">
            <div class="fb-like-box" data-href="http://www.facebook.com/PeopleEbooks" data-width="350" data-show-faces="true" data-stream="true" data-header="false" data-border-color="#FFF"></div>
            <a class="twitter-timeline"  href="https://twitter.com/search?q=peopleebooks"  data-widget-id="304587931459391488" lang="ES">PeopleEbooks en Twitter</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        
        <!-- Blog entry -->
        <div class="left-pane" style="width: 614px;" itemscope itemtype="http://schema.org/BlogPosting">
            <h3 class="headers">Blog de PeopleEbooks</h3>
            <a href="/blog/{{ blog_entry.0.blog_entry }}"><img class="blog_media" src="/uploaded/{{ blog_entry.0.image }}" alt="{{ blog_entry.0.title_es }}" width="220" height="220" itemprop="image"/></a>
            <h2 class="blog_title" itemprop="name"><a href="/blog/{{ blog_entry.0.blog_entry }}">{{ blog_entry.0.title_es }}</a></h2>
            <h3 class="blog_txt" itemprop="articleBody">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ blog_entry.0.article_body_es|linebreaksbr|truncatechars:1000 }}<span style="font-weight: bold"><a rel="prefetch" href="/blog/{{ blog_entry.0.blog_entry }}">&nbsp;&nbsp;(m&aacute;s)</a></span>
            </h3>
        </div>

        <!-- Videos -->
        <div class="full-pane" style="height: 310px;">
            <h2 class="headers">Nuestros v&iacute;deos</h2>
            <div class="video_item" data-targetsize="1.4" data-duration="600">
                <video class="zoomTarget" width="225" height="169" controls="controls">
                    <source src="{{ STATIC_URL }}vid/signup.webm" type="video/webm"/>
                </video>
                <h4 class="video_txt">&Uacute;nete a PeopleEbooks</h4>
            </div>
            <div class="video_item" data-targetsize="1.4" data-duration="600">
                <video class="zoomTarget" width="225" height="169" controls="controls">
                    <source src="{{ STATIC_URL }}vid/publish.webm" type="video/webm"/>
                </video>
                <h4 class="video_txt">Publica en PeopleEbooks</h4>
            </div>
            <div class="video_item" data-targetsize="1.4" data-duration="600">
                <video class="zoomTarget" width="225" height="169" controls="controls">
                    <source src="{{ STATIC_URL }}vid/download.webm" type="video/webm"/>
                </video>
                <h4 class="video_txt">Descarga tus ebooks</h4>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="container">
        {% include "footer.html" %} 
    </div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/index.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.zoomooz.min.js"></script>
</body>
</html>
