<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="Consulta los t&eacute;rminos legales de PeopleEbooks. No te quedes con dudas, consulta las FAQs y preg&uacute;ntanos en Twitter, Facebook o en nuestro correo" />
    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir, gratis, epub, legal, condiciones" />

    <title>PeopleEbooks.com - T&eacute;rminos legales</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <h2 class="headers">T&eacute;rminos Legales y Pol&iacute;tica de Privacidad</h2>
            <h2 class="question">Aceptaci&oacute;n de las condiciones de uso</h2>
            <h3 class="answer">
                    La utilizaci&oacute;n del sitio web <strong>PeopleEbooks.com</strong> (en adelante “sitio web”) y de cualquiera de sus subdominios implica el conocimiento y la aceptaci&oacute;n de la totalidad de los t&eacute;rminos y condiciones legales (en adelante “t&eacute;rminos de uso”) aqu&iacute; detallados. Todo usuario del sitio web declara tener la capacidad legal para aceptarlos o en su defecto disponer de la autorizaci&oacute;n y/o conformidad complementaria correspondiente.
            </h3>
            <h3 class="answer">
                Los t&eacute;rminos de uso podr&aacute;n variar en cualquier momento. Ser&aacute; responsabilidad de los usuarios consultar peri&oacute;dicamente los t&eacute;rminos de uso a fin de comprobar la existencia de modificaciones en los mismos. Todo usuario que contin&uacute;e utilizando el sitio web una vez modificados los t&eacute;rminos de uso, se entender&aacute; acepta los cambios efectuados.
            </h3>
            <h2 class="question">Contenido del sitio web</h2>
            <h3 class="answer">
                <strong>PeopleEbooks.com</strong> es una plataforma de autopublicación y distribución de obras gestionada por PeopleEbooks, Organización No Gubernamental (ONG) sin ánimo de lucro española, con NIF G23707805, constituida el 06 de enero de 2013 de acuerdo a la Ley Orgánica 1/2002, de 22 de marzo (inscrita en el Registro Nacional de Asociaciones, Ministerio del Interior de España: Grupo 1º / Sección 1ª / Número Nacional 601931) con las siguientes finalidades recogidas en sus Estatutos Fundacionales:<br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Ayudar a escritores y autores de obras tanto publicadas como in&eacute;ditas a la difusi&oacute;n de las mismas en todos los territorios y medios, y particularmente en los digitales, cualquiera que fuere su idioma, tem&aacute;tica o ideolog&iacute;a.<br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Fomentar la utilizaci&oacute;n de la tecnolog&iacute;a y soportes electr&oacute;nicos como medios para la difusi&oacute;n del conocimiento y la cultura.<br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Acercar el mundo editorial a la realidad tecnol&oacute;gica del momento en lo referente a medios y canales para la difusi&oacute;n y gesti&oacute;n de obras, y soportes para los contenidos.<br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Fomentar y facilitar el acceso a las diferentes creaciones literarias, ya publicadas o in&eacute;ditas, a trav&eacute;s de medios telem&aacute;ticos.<br><br>
                    Todos los archivos en cualquiera de sus formatos, im&aacute;genes, ilustraciones, fotograf&iacute;as, logotipos, v&iacute;deos, textos, c&oacute;digo de programaci&oacute;n (en adelante “el contenido”) as&iacute; como su organizaci&oacute;n y estilo est&aacute;n sometidos a legislaciones varias referidas a derechos de propiedad intelectual e imagen comercial. Salvo autorizaci&oacute;n expresa, no est&aacute; permitida la copia, reproducci&oacute;n, traducci&oacute;n, codificaci&oacute;n o distribuci&oacute;n de parte o de la totalidad del contenido del sitio web bajo ninguna forma en medio alguno.
            </h3>
            <h2 class="question">Uso del sitio web</h2>
            <h3 class="answer">
                Todo usuario se compromete a hacer un uso adecuado y l&iacute;cito del sitio web y de su contenido, de acuerdo a la legislaci&oacute;n vigente, a los t&eacute;rminos de uso y a cuantos contratos y acuerdos de car&aacute;cter privado apliquen en cada caso.<br><br>
                Queda prohibida la utilizaci&oacute;n de cualquier sistema o procedimiento automatizado de acceso al sitio web y a su contenido. Queda prohibido el acceso y el intento de acceso al contenido del sitio para el que no se disponga de la oportuna autorizaci&oacute;n. Queda prohibida la b&uacute;squeda de vulnerabilidades del sitio, as&iacute; como la reproducci&oacute;n o comunicaci&oacute;n bajo ninguna forma y medio de las mismas. Queda prohibido todo uso no adecuado del sitio web que pueda conducir o conduzca a una saturaci&oacute;n del mismo.
            </h3>
            <h2 class="question">Cuentas de usuario y contraseñas</h2>
            <h3 class="answer">
                El uso del sitio web est&aacute; estructurado para los diferentes usuarios. El acceso y la utilizaci&oacute;n de parte del contenido y de los servicios a que se puede tener acceso a trav&eacute;s del sitio web puede requerir el registro del usuario as&iacute; como pagos en determinados conceptos. El mantenimiento de los datos del usuario y en especial de su contraseña ser&aacute; responsabilidad del propio usuario, quien se har&aacute; responsable ante <strong>PEOPLEEBOOKS</strong> y ante terceras partes afectadas de todo uso inadecuado que se pueda hacer de los mimos.<br><br>
                Est&aacute; prohibido el registro de usuarios mediante identidades falsas o ajenas as&iacute; como el acceso al sitio web mediante cuentas de otros usuarios. <strong>PEOPLEEBOOKS</strong> no se har&aacute; responsable del uso inadecuado de cuentas de usuario.
            </h3>
            <h2 class="question">Protecci&oacute;n de datos</h2>
            <h3 class="answer">
                Toda la informaci&oacute;n de usuarios recopilada por <strong>PEOPLEEBOOKS</strong> se ha obtenido con la m&aacute;xima transparencia, claridad, rectitud y fondo, y ser&aacute; empleada exclusivamente para las finalidades primarias para las que fue recopilada.<br><br>
                La informaci&oacute;n no ser&aacute; almacenada m&aacute;s all&aacute; del tiempo necesario para cumplir con los objetivos primarios para los que fue recopilada, salvo imperativo legal en contra. Cierta informaci&oacute;n podr&aacute; ser almacenada un per&iacute;odo de tiempo superior en prevenci&oacute;n de posibles litigaciones.<br><br>
                Salvo pacto expreso en contra, los datos del usuario no ser&aacute;n incorporados a ning&uacute;n tipo de fichero con finalidades comerciales.<br><br>
                Todo usuario tiene derecho a acceder a una copia de la informaci&oacute;n de car&aacute;cter personal almacenada por <strong>PEOPLEEBOOKS</strong>. De querer ejercer cualquiera de sus derechos relativos a esta informaci&oacute;n, habr&aacute; de comunicar a <a href="mailto:mydata@peopleebooks.com">mydata@peopleebooks.com</a> su inter&eacute;s concreto incorporando en su solicitud la siguiente informaci&oacute;n: nombre completo, usuario, direcci&oacute;n mail de contacto y motivo de su comunicaci&oacute;n. Previa remisi&oacute;n de cualquier informaci&oacute;n nos pondremos en contacto para verificar la identidad del usuario.
            </h3>
            <h2 class="question">Responsabilidades</h2>
            <h3 class="answer">
                <strong>PEOPLEEBOOKS</strong>, sus asociados, colaboradores, afiliados y trabajadores, no se hacen responsables del uso inadecuado que los usuarios puedan hacer del mismo.<br><br>
                En caso de detectar cualquier tipo de contenido il&iacute;cito o que pudiera violar derechos fundamentales de terceros o atentar contra derechos, valores y principios &eacute;ticos y morales esenciales, rogamos nos lo comuniques en la direcci&oacute;n <a href="mailto:fairplay@peopleebooks.com">fairplay@peopleebooks.com</a>.
            </h3>
            <h2 class="question">Incidencias t&eacute;cnicas y cortes en los servicios</h2>
            <h3 class="answer">
                <strong>PEOPLEEBOOKS</strong>, sus asociados, colaboradores, afiliados y trabajadores, no se hacen responsables de las consecuencias que incidencias t&eacute;cnicas y cortes del servicio puedan ocasionar a sus usuarios, con independencia de que &eacute;stos tengan origen directo y/o justificado en los dueños, afiliados y trabajadores del sitio web.<br><br>
                Determinados servicios a que se puede tener acceso a trav&eacute;s del sitio web implican la intervenci&oacute;n de terceras partes. El sitio web y sus dueños, sus afiliados y sus trabajadores, no se hacen responsables de las consecuencias que las acciones e incidencias que involucren a terceras partes puedan ocasionar a sus usuarios.
            </h3>
            <h2 class="question">Ley aplicable y jurisdicci&oacute;n</h2>
            <h3 class="answer">
                En todo lo no previsto en los t&eacute;rminos de uso, as&iacute; como en los conflictos y reclamaciones que pudieran derivarse de los mismos, las partes se someten a la legislaci&oacute;n española. Para todos los efectos derivados del presente contrato las partes, con renuncia expresa al fuero que pudiera corresponderles, se someten a la jurisdicci&oacute;n de los Juzgados y Tribunales de Ja&eacute;n (España).
            </h3>
            <h2 class="question">&Uacute;ltima actualizaci&oacute;n de los t&eacute;rminos de uso</h2>
            <h3 class="answer">
                Los t&eacute;rminos de uso fueron actualizados por &uacute;ltima vez el 10 de marzo de 2013.
            </h3>
            <h2 class="question">Contratos</h2>
            <h3 class="answer">
                A continuaci&oacute;n se incluye la &uacute;ltima versi&oacute;n de los contratos de relaci&oacute;n entre <strong>PeopleEbooks.com</strong> y los usuarios:<br><br>
                <a style="text-decoration: underline;" href="/uploaded/book_purchase_contract.pdf">Contrato de compra de obras</a><br>
                <a style="text-decoration: underline;" href="/uploaded/publishing_contract.pdf">Contrato de publicaci&oacute;n de obras</a>
            </h3>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
