<div class="container" style="overflow: visible;">
    <nav id="navbar" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <div class="navbar-container">
            <div class="option"><a href="/">Inicio</a></div>
            <div class="option"><a href="/publish">Publicar</a></div>
            <div class="option"><a href="/bookstore">Librer&iacute;a</a></div>            

            <div id="option_search" style="margin-bottom: 2%;">
                <form id="searchform" method="POST" autocomplete=off action="/search">{% csrf_token %}
                    <input id="searchbox" type="text" name="searchbox" placeholder="Busca libros, autores..." pattern="[\w\s\.\-áéíóúàèìòùÁÉÍÓÚÀÈÌÒÙâêîôûÂÊÎÔÛüÜñÑ]+$"/>
                    <a id="search-trigger" href="#" title="Busca libros, autores...">
                        <span class="button">▼</span>
                    </a>
                    <div id="search_content">
                        <h5 style="font-size: 15px; margin: 0px;">
                            <input type="radio" name="searchfor" value="book" checked="checked"/>Libros
                            <input type="radio" name="searchfor" value="user"/>Usuarios
                        </h5>
                    </div>
                </form>
            </div>
            <div class="option-icon-container"><!-- For animation -->
            <div class="option-icon" title="Vis&iacute;tanos en Twitter">
                <a href="https://twitter.com/PeopleEbooks_Es" target="_blank">
                    <img src="{{ STATIC_URL }}img/icon/twitter.png" height="35" width="35" alt="PeopleEbooks Twitter"/>
                </a>
            </div></div>
            <div class="option-icon" title="Vis&iacute;tanos en Facebook">
                <a href="http://www.facebook.com/PeopleEbooks" target="_blank">
                    <img src="{{ STATIC_URL }}img/icon/facebook.png" height="35" width="35" alt="PeopleEbooks Facebook"/>
                </a>
            </div>
            <div class="option-icon" title="Sigue nuestro canal de YouTube">
                <a href="http://www.youtube.com/user/PeopleEbooks" target="_blank">
                    <img src="{{ STATIC_URL }}img/icon/youtube.png" height="35" width="35" alt="PeopleEbooks YouTube"/>
                </a>
            </div>
            <!-- Login start -->
            <div id="login">
                {% if not user_logged_in %}
                <a id="login-trigger" href="#" title="Iniciar sesi&oacute;n">
                    Entrar <span style="font-size: 15px;">▼</span>
                </a>
                <div id="login-content">
                    <form method="POST" action="#">{% csrf_token %}
                        <fieldset id="inputs">
                            <input id="username" type="email" name="username" placeholder="Email" required/><br>   
                            <input id="password" type="password" name="password" placeholder="Contraseña" required/>
                        </fieldset>
                        {% if login_result == 1 %}
                        <span id="error" style="margin: 10px; color: #E00000; font-size: 15px;">Usuario/contraseña incorrectos</span>
                        {% elif login_result == 2 %}
                        <span id="error" style="margin: 10px; color: #E00000; font-size: 15px;">Cuenta inactiva <a href="/inactive-account">(m&aacute;s info)</a></span>
                        {% endif %}
                        <fieldset id="actions">
                            <input type="submit" id="submit" value="Iniciar sesi&oacute;n"/>    
                            <a id="my_passwd" href="/my-password"> ¿Y mi contraseña?</a>
                        </fieldset>
                    </form>
                </div>
                {% else %}
                <form method="POST" action="#">{% csrf_token %}
                    <a id="login-trigger" href="/logout" title="Cerrar sesi&oacute;n">Salir</a>
                </form>
                {% endif %}
                {% if not user_logged_in and not cart %}
                <div id="signup">
                    <a style="background-color: #FFF; color: #C25800;" href="/signup">&Uacute;nete</a>
                </div>
                {% elif cart %}
                    <div id="cart">
                        <a href="/cart" title="Compra" style="outline: none;"><img src="{{ STATIC_URL }}/img/icon/cart.png" height="40" width="40" alt="Compra"></a>
                    </div>
                {% else %}
                    <div id="signup">
                        <a href="/home/{{ request.user.username }}/#library" title="Consulta tu biblioteca, edita tu perfil...">Mi cuenta</a>
                    </div>
                {% endif %}
            </div>
            <!-- Login end -->           
        </div>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/navbar.js"></script>
    </nav>
</div>

