<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="&Uacute;ltimas noticias y novedades en PeopleEbooks."/>
    <meta name="Keywords" content="filosofia, vision, libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir, gratis, epub" />

    <title>PeopleEbooks.com - Sobre nosotros</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />   
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <h2 class="headers">Novedades en PeopleEbooks</h2>
            <h2 class="question" style="margin-top: 10px;">
                ﻿Compra instant&aacute;nea:
            </h2>
            <h3 class="answer">
                Ahora puedes comprar cualquier libro en menos de un minuto, ¡sin necesidad de estar registrado!
            </h3>
            <h2 class="question">
                ﻿Tu libro, tus condiciones:
            </h2>
            <h3 class="answer">
                Elige el precio al que quieres vender tu libro y c&aacute;mbialo siempre que quieras: ahora el 70% de los ingresos brutos son para el autor (para precios de al menos 2&euro;).
            </h3>
            <h2 class="question">
                ¡Ahora publica tambi&eacute;n en PDF!
            </h2>
            <h3 class="answer">
                PDF es un formato apropiado para publicaciones como c&oacute;mics o ciertos textos t&eacute;cnicos. En el resto de casos, recomendamos utilizar el formato ePub, pues es m&aacute;s portable que PDF (se lee bien en todo tipo de dispositivos) y tambi&eacute;n es un est&aacute;ndar abierto.<br><br>Cuando publiques, elige tu formato: ePub o PDF. O ambos. Y en cualquier caso, publicar sigue siendo gratis.
            </h3>
            <h2 class="question">
                ﻿Tamaño de los libros
            </h2>
            <h3 class="answer">
                ¿Eres autor de c&oacute;mics? ¿Tu libro incluye muchas im&aacute;genes? ¡Hemos ampliado a 10MB el tamaño m&aacute;ximo de archivo para que puedas distribuirlo a trav&eacute;s de PeopleEbooks!<br>Si necesitas m&aacute;s informaci&oacute;n, <a href="mailto:publications@peopleebooks.com">¡preg&uacute;ntanos!</a>
            </h3>
            <h2 class="question">
                ¿Problemas para publicar una imagen de usuario o una portada? ¿Problemas con los v&iacute;deos?
            </h2>
            <h3 class="answer">
                Hemos implementado un nuevo sistema para la recepci&oacute;n y codificaci&oacute;n de v&iacute;deos e im&aacute;genes.
            </h3>         
            <div class="box" style="margin-top: 50px;">
                <h3>
                    Todo ello bajo un nuevo diseño para mejorar la usabilidad del portal y la experiencia del usuario.<br>
                    Gracias a todos los comentarios y sugerencias recibidos, seguimos trabajando cada d&iacute;a por mejorar PeopleEbooks.<br><br>
                    Si echas algo en falta o tienes cualquier sugerencia, cu&eacute;ntanoslo en <a href="mailto:helpus@peopleebooks.com">helpus@peopleebooks.com</a> o en nuestro <a href="http://www.facebook.com/PeopleEbooks" target="_blank">facebook.</a><br><br><br>
                    <strong>El equipo de PeopleEbooks.</strong>
                </h3>
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
