<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <title>PeopleEbooks.com - ¿Y mi contraseña?</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <h2 class="headers">¿Y mi contraseña?</h2>
            <h3 class="answer" style="margin-top: 50px;">
                    ¿Has olvidado tu contraseña? No hay problema. Introduce el email que utilizaste para registrarte en PeopleEbooks y te enviaremos un enlace para cambiar tu contraseña.
            </h3>
            <div class="box">
                <form id="password_help" method="POST" action="/password-pending">{% csrf_token %}
                    <h3>
                        <strong>Email</strong><input class="email_box" type="text" name="email" placeholder="johndoe@mail.com" pattern="^[_a-zA-Z0-9-\+]+(\.[_a-zA-Z0-9-]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$"/>
                        <input type="submit" value="Recuperar contraseña"/>
                    </h3>
                </form>
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
