<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    
    {% if link_sent %}
    <title>PeopleEbooks.com - Solicitud procesada</title>
    {% else %}
    <title>PeopleEbooks.com - Error en la solicitud</title>
    {% endif %}
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <div id="logo" style="padding: 0 0 0 10px;">
                <img src="{{ STATIC_URL }}img/logos/logo.png" alt="PeopleEbooks logo" height="237" width="226" />
            </div>
            <div id="top_right">
                {% if nonexistent_user %}
                <h1 class="top_right_txt">La cuenta solicitada no existe</h1>
                <h2 class="top_right_txt">Para registrarte, haz click <a style="text-decoration: underline;" href="/signup">aqu&iacute;</a>.<br>Si necesitas ayuda escr&iacute;benos a <a style="text-decoration: underline;" href="mailto:contact@peopleebooks.com">contact@peopleebooks.com</a> o en <a href="http://www.facebook.com/PeopleEbooks" style="text-decoration: underline;">Facebook</a> y te ayudaremos.</h2>
                {% else %}
                    {% if request_pending %}
                    <h1 class="top_right_txt">Error en la solicitud</h1>
                    <h2 class="top_right_txt">Tienes una solicitud pendiente para recuperar tu contraseña. Comprueba si has recibido un correo con el enlace para recuperarla. Si no es as&iacute;, escr&iacute;benos a <a style="text-decoration: underline" href="mailto:contact@peopleebooks.com">contact@peopleebooks.com</a> o en nuestro <a href="http://www.facebook.com/PeopleEbooks"><span style="text-decoration: underline">Facebook</span></a>.</h2>
                    {% else %}
                        {% if link_sent %}
                        <h1 class="top_right_txt">Solicitud procesada</h1>
                        <h2 class="top_right_txt">Hemos enviado a la direcci&oacute;n {{ email }} un enlace para cambiar tu contraseña. Si tienes cualquier problema, escr&iacute;benos a <a style="text-decoration: underline" href="mailto:contact@peopleebooks.com">contact@peopleebooks.com</a> o en nuestro <a href="http://www.facebook.com/PeopleEbooks"><span style="text-decoration: underline">Facebook</span></a>.</h2>
                        {% else %}
                        <h1 class="top_right_txt">Error al enviar correo</h1>
                        <h2 class="top_right_txt">Se ha producido un error al enviar el correo a la direcci&oacute;n {{ email }}, con el enlace para cambiar tu contraseña. Por favor, int&eacute;ntalo de nuevo m&aacute;s tarde. Si el problema persiste, escr&iacute;benos a <a style="text-decoration: underline" href="mailto:contact@peopleebooks.com">contact@peopleebooks.com</a> o en nuestro <a href="http://www.facebook.com/PeopleEbooks"><span style="text-decoration: underline">Facebook</span></a>.</h2>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
