<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <title>PeopleEbooks.com - Cambiar contraseña</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            {% if user_ok %}
            <h2 class="headers">Cambiar contraseña</h2>
            <h3 class="answer" style="margin-top: 50px;">
                Introduce tu nueva contraseña. Debe tener entre 6 y 30 caracteres, recuerda que se distinguen may&uacute;sculas y min&uacute;sculas.
            </h3>
            <div class="box">
                <form id="password_change" method="POST" action="/password-change-confirmed/{{ hashes }}/">{% csrf_token %}
                    <div style="margin-left: 50px;">
                        <strong>Nueva contraseña</strong><input class="email_box" type="password" name="passwd" style="margin-left: 63px;" placeholder="6 - 30 caracteres" onchange="validate_passwd();"/><br><h6 id="passwd_error" class="errors" style="margin-top: 0;" hidden>(Campo requerido. De 6 a 30 caracteres.)</h6><br><br><br>
                    </div>
                    <div style="margin-left: 50px;">    
                        <strong>Confirmar contraseña</strong><input class="email_box" type="password" name="passwd_confirm" placeholder="6 - 30 caracteres" onchange="validate_passwd_confirm();"/>
                        <br><h6 id="passwd_confirm_empty" class="errors" hidden>(Campo requerido. De 6 a 30 caracteres.)</h6>
                        <h6 id="passwd_confirm_mismatch" class="errors" hidden>(Las contraseñas no coinciden)</h6>
                    </div>
                    <h3 style="margin: 0px 0 0 -20px; padding-bottom: 55px;">
                        <input class="submit_button" type="button" onclick="submit_form();" value="Cambiar contraseña" style="margin: 0 0 30px 40px"/>
                        <span id="fields_blank" style="margin-left: 30px;">(Es necesario completar todos los campos)</span>
                    </h3>
                </form>
            </div>
            {% else %}
            <div id="logo">
                <img src="{{ STATIC_URL }}img/logos/logo.png" alt="PeopleEbooks logo" height="237" width="226" />
            </div>
            <div id="top_right">
                <h1 class="top_right_txt">La cuenta solicitada no existe</h1>
                <h2 class="top_right_txt">Comprueba que no has añadido accidentalmente caracteres a la URL ni has usado un enlace inv&aacute;lido (los enlaces son de un solo uso).<br><br> Si el problema persiste, escr&iacute;benos a <a href="mailto:contact@peopleebooks.com" style="text-decoration: underline;">contact@peopleebooks.com</a> o en nuestro <a href="http://www.facebook.com/PeopleEbooks" style="text-decoration: underline;">Facebook</a>.</h2>
            </div>
            {% endif %}
        </div>
        {% include "footer.html" %}
    </div>
    <script src="{{ STATIC_URL }}js/password_change.js" type="text/javascript"></script>  
</body>
</html>
