<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />

    <title>PeopleEbooks.com - Contraseña cambiada correctamente</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>

<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <div id="logo">
                <img src="{{ STATIC_URL }}img/logos/logo.png" alt="PeopleEbooks logo" height="237" width="226" />
            </div>
            <div id="top_right">
                <h1 class="top_right_txt">Contraseña cambiada con &eacute;xito</h1>
                <h2 class="top_right_txt">La contraseña se ha cambiado correctamente. Puedes iniciar sesi&oacute;n pulsando en "Entrar", en el men&uacute; superior.</h2>
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
