<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    
    {% if link_sent == '1' %}
    <title>PeopleEbooks.com - Confirmaci&oacute;n de registro</title>
    {% elif link_sent == '0' %}
    <title>PeopleEbooks.com - Error al enviar correo</title>
    {% endif %}
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <div id="logo">
                <img src="{{ STATIC_URL }}img/logos/logo.png" alt="PeopleEbooks logo" height="237" width="226" />
            </div>
            <div id="top_right">
                {% if nonexistent_account %}
                    <h1 class="top_right_txt">La cuenta solicitada no existe</h1>
                    <h2 class="top_right_txt">Tu petici&oacute;n no corresponde a ninguna cuenta. Para registrarte, haz click <a href="/signup"> aqu&iacute;</a>. Si necesitas ayuda, escr&iacute;benos a <a href="mailto:contact@peopleebooks.com" style="text-decoration: underline;">contact@peopleebooks.com</a> o en nuestro <a href="http://www.facebook.com/PeopleEbooks" style="text-decoration: underline;">Facebook</a>.</h2>
                {% else %}
                    {% if link_sent == '1'%}
                        <h1 class="top_right_txt">¡Bienvenido/a a PeopleEbooks!</h1>
                        <h2 class="top_right_txt">Hemos enviado un correo a la direcci&oacute;n <span>{{ user_email }}</span> con un enlace para activar tu cuenta. Revisa tu correo y completa el registro.</h2>
                    {% else %}
                        <h1 class="top_right_txt">Error al enviar correo</h1>
                        <h2 class="top_right_txt">Se ha producido un error al enviar el correo con el enlace para activar tu cuenta. Por favor, int&eacute;ntalo de nuevo m&aacute;s tarde. Si el problema persiste, escr&iacute;benos a <a style="text-decoration: underline" href="mailto:contact@peopleebooks.com">contact@peopleebooks.com</a> o en nuestro <a href="http://www.facebook.com/PeopleEbooks"><span style="text-decoration: underline">Facebook</span></a>.</h2>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
