<!DOCTYPE html>
   
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="La primera editorial de libros electr&oacute;nicos en la que puedes publicar tu libro, 
    presentarte como autor con una web personal con v&iacute;deo, texto e im&aacute;genes y enlazar a tu blog, Facebook, Twitter...todo 
    completamente gratis. Como lector, puedes disfrutar del contacto directo con autores y otros 
    lectores y de precios sin competencia. No esperes m&aacute;s y pru&eacute;balo!" />

    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir" />
    <title>PeopleEbooks.com - Publica tu libro</title>
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/screen.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/publish.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />       
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div id="left-pane" class="left-pane">
                <h2 class="headers" style="height: 56px;">Publica tu libro<br>en tres pasos...</h2>
                <img src="{{ STATIC_URL }}img/icon/arrow_down.png" alt="Publica tu ebook gratis" height="32" width="34" style="margin: 20px 0 -10px 0;"/>
            <div class="step-container">
                <img class="step-img" alt="¿De qué trata tu ebook?" width="38" height="38" src="{{ STATIC_URL }}img/icon/step1.png"/>
                <h4 id="step1_left"><a href="#" onclick="next_step('#publish_step1', '#step1_left')">¿De qu&eacute; trata?</a></h4>
            </div>
            <div class="step-container">
                <img class="step-img" alt="Sube tu ebook" width="38" height="38" src="{{ STATIC_URL }}img/icon/step2.png"/>
                <h4 id="step2_left"><a href="#" onclick="next_step('#publish_step2', '#step2_left')">Subir ebook</a></h4>
            </div>
            <div class="step-container">
                <img class="step-img" alt="Publica tu ebook" width="38" height="38" src="{{ STATIC_URL }}img/icon/step3.png"/>
                <h4 id="step3_left"><a href="#" onclick="next_step('#publish_step3')">Publicar</a></h4>
            </div>
            <h2 style="margin: 0;"><a href="mailto:publications@peopleebooks.com" title="Si necesitas ayuda para publicar, escr&iacute;benos">Ayuda</a></h2>
        </div>
        <div id="right-pane" class="right-pane">
            <div class="headers" style="height: 56px;">
                <div class="top">
                    <h4><a id="info" href="#" onclick="load_content('#publish_info1')">¡Publica gratis!</a></h4>
                </div>
                <div class="top">
                    <h4><a href="#" onclick="load_content('#publish_info2')">Formato</a></h4>
                </div>
                <div class="top">
                    <h4><a href="#" onclick="load_content('#publish_info3')">Filosof&iacute;a</a></h4>
                </div>
            </div>
            <div id="publish-info">
                <h5 id="publish_info1">
                    <strong>¡Publicar un libro es gratis!</strong> Ya puedes publicar tu obra sin renunciar a tus derechos y sin letra pequeña.<br><a href="/faq" style="text-decoration: underline;" target="_blank">¿Alguna pregunta?</a>
                </h5>
                <h5 id="publish_info2" hidden>
                    <strong>Con PeopleEbooks</strong> puedes distribuir tu ebook en formato ePub (ideal para la lectura en tablets, e-readers y smartphones) y PDF a lectores de todo el mundo...
                </h5>
                <h5 id="publish_info3" hidden>
                    En <strong>PeopleEbooks</strong> eliminamos las barreras para acercar el mundo del libro a la realidad 
                    de la sociedad y tecnolog&iacute;a actuales. &nbsp;Si tienes cualquier duda o necesitas asistencia, en 
                    <a href="mailto:publications@peopleebooks.com"> publications@peopleebooks.com</a> te ayudaremos.
                </h5>
            </div>
        </div>
        <!-- Publishing steps: -->                
        <div id="publishing-steps" class="right-pane">
            {% if user_logged_in %}
            <form id="publish" enctype="multipart/form-data" method="post" action="#">{% csrf_token %}
            <div id="publish_step1" class="step">
                <h4><span style="margin-bottom: -20px; margin-left: 20px;">T&iacute;tulo</span><br> <input class="title" type="text" maxlength="{{ book_title_max_length }}" name="title" autofocus onblur="eval_title();"/>
                    <span id="title_error" class="errors" hidden>(Campo requerido. Hasta 100 caracteres alfanum&eacute;ricos).</span>
                </h4>
                <h4><span style="margin-bottom: -20px; margin-left: 20px;">Sinopsis</span><br><textarea class="synopsis" rows="5" cols="5" wrap="hard" name="synopsis" maxlength="1000" onblur="eval_synopsis();"></textarea>
                    <span id="synopsis_error" class="errors" hidden>(Campo requerido. Hasta 1000 caracteres alfanum&eacute;ricos).</span>
                </h4>
                <div>
                    <h4 class="bottom_form1_left">Edad 
                        <select name="rate_id" style="margin-left: 16px;">
                            {% for option in rates %}
                            <option value="{{ option.rate_id }}">{{ option.rate_es }}</option>
                            {% endfor %}
                        </select>
                    </h4>
                    <h4 class="bottom_form1_right">G&eacute;nero 
                        <select name="gender_id">
                            {% for option in genders %}
                            <option value="{{ option.gender_id }}">{{ option.gender_es }}</option>
                            {% endfor %}
                        </select>
                    </h4>
                    <h4 class="bottom_form1_left" style="margin-top: 30px;">Idioma 
                        <select name="language_id">
                            {% for option in languages %}
                            <option value="{{ option.language_id }}">{{ option.language_es }}</option>
                            {% endfor %}
                        </select>
                    </h4>
                    <div class="bottom_form1button"><input class="button_next" type="button" onclick="eval_step1();" value="Siguiente"/></div>
                </div>
            </div>
            <div id="publish_step2" class="step">
                <h4><span style="margin-left: 20px; float: left;">Cargar ebook (formato ePub, hasta 10MB)</span><input id="epub" style="margin-left: 25px;" class="upload_field" type="file" name="book_file_epub" onblur="eval_epub();"/>
                    <span id="file_book_epub_error" class="errors" hidden>(Formato requerido: ePub)</span>
                </h4>
                <h4><span style="margin-left: 20px; float: left;">Cargar ebook (formato PDF, hasta 10MB)</span><input id="pdf" style="margin-left: 35px;" class="upload_field" type="file" name="book_file_pdf" onblur="eval_pdf();"/>
                    <span id="file_book_pdf_error" class="errors" hidden>(Formato requerido: PDF)</span>
                </h4>
                <span id="file_book_error" class="errors" hidden>(Introduce al menos un archivo: ePub o PDF)</span>
                <h4><span style="margin-left: 20px; float: left;">Cargar portada </span><input class="upload_field" type="file" name="cover" required="required" onblur="eval_cover();"/>
                    <span id="file_cover_error" class="errors" hidden><br>(Campo requerido. Formato JPG o PNG).</span>
                </h4>
                <div class="bottom_formstep">
                    <h4>
                        <input class="button_next" type="button" style="float: left; margin-right: 20px;" onclick="next_step('#publish_step1', '#step1_left');" value="Anterior"/>
                        <input id="reset" class="button_next" type="button" style="float: left;" value="Limpiar campos"/>
                        <input class="button_next" type="button" style="float: right;" onclick="eval_step2();" value="Siguiente"/>
                    </h4>
                </div>
            </div>
            <div id="publish_step3" class="step">
                <h4 style="margin-left: 32px;"><input type="checkbox" name="agree"/> He le&iacute;do y acepto las <a style="text-decoration: underline;" href="/uploaded/publishing_contract.pdf" target="_blank">condiciones de publicaci&oacute;n</a>.
                    <span id="agree_error" class="errors" hidden><br>(Es necesario aceptar las condiciones de publicaci&oacute;n).</span>
                </h4>
                <div class="bottom_formstep">
                    <span id="publishing_book" class="errors" style="font-style: italic;" hidden>Subiendo libro y portada. Puede tardar unos minutos...</span>
                    <h4>
                        <input class="button_next" type="button" style="float: left;" onclick="next_step('#publish_step2', '#step2_left')" value="Anterior"/>
                        <input class="button_next" type="button" style="float: right;" onclick="eval_step3()" value="Confirmar publicaci&oacute;n"/>
                    </h4>
                </div>                
            </div>
            </form>
            {% else %}
            <h3 class="headers"> Debes iniciar sesión para poder publicar</h3>
            <h3 class="login_required"> Para iniciar sesi&oacute;n haz click en "Entrar" en el men&uacute; superior.<br><br> ¿No te has dado de alta en PeopleEbooks? Es gratis y te llevar&aacute; menos de un minuto. Hazlo <a href="/signup" style="text-decoration: underline;">aqu&iacute;.</a></h3>
            {% endif %}
        </div>
    </div>
    <div class="container">
        {% include "footer.html" %}
    </div>
    <script src="{{ STATIC_URL }}js/scripts.js" type="text/javascript"></script>     
</body>
</html>
