<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />

    <title>PeopleEbooks.com - Informe de ventas: {{ book.title }}</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sales_report.css" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <div id="logo">
                <img src="{{ STATIC_URL }}img/logos/logo.png" alt="PeopleEbooks logo" height="237" width="226" />
            </div>
            <div id="top_right">
                <h1 class="top_right_txt">Informe de ventas</h1>
                <div>
                    <a href="/books/{{ book.book }}">
                        <img class="book_sales_icon" src="/uploaded/{{ book.cover }}" width="100" height="140" alt="{{ book.title }}"/>
                    </a>
                </div>
                <h2 class="sales_subheader"><a href="/books/{{ book.book }}">{{ book.title|truncatechars:55 }}</a></h2>
                <h5 class="sales" style="float: left; color: #556600;">Ventas totales: &nbsp;{{ book.sales }}</h5>
                <h5 class="sales" style="float: left; color: #556600;">Beneficios: &nbsp;{{ profits|floatformat:"-2" }} &euro;</h5>
            </div>
        </div>
        <div class="full-pane">
            <h2 class="headers">Desglose de ventas</h2>
            
            <h5 class="sales_detail">Fecha de venta</h5>
            <h5 class="sales_detail">Lector</h5>
            <h5 class="sales_detail">Precio</h5>
            <h5 class="sales_detail">Beneficios</h5>
            {% for i in sales %}
                <h6 class="sales_txt">{{ i.operation_date }}</h6>
                {% if not i.user %}
                    <h6 class="sales_txt">Usuario no registrado</h6>
                {% else %}
                    <h6 class="sales_txt">{{ i.user|truncatechars:22 }}</h6>
                {% endif %}
                <h6 class="sales_txt">{{ i.value|floatformat:"-2" }} &euro;</h6>
                <h6 class="sales_txt">{{ profit_list|cut:forloop.counter0|floatformat:"-2" }} &euro;</h6>
            {% endfor %}
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
