<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="Busca ebooks y usuarios en PeopleEbooks."/>
    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir" />
    <title>PeopleEbooks.com - B&uacute;squeda</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />   
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />       
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bookstore_search.css" />   
</head>
<body itemscope itemtype="http://schema.org/SearchResultsPage">
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            {% if num_results %}
            <h6>
                <a href="?page=1" title="Primera p&aacute;gina">&lt; </a>
            {% for i in pages_list %}
                {% if i == results_page.number %}
                <a href="?page={{ i }}" style="font-weight: bold; text-decoration: underline;">&nbsp;{{ i }}&nbsp;</a>
                {% else %}
                <a href="?page={{ i }}"> &nbsp;{{ i }}&nbsp;</a>
                {% endif %}
            {% endfor %}
                <a href="?page={{ paginator.num_pages }}" title="&Uacute;ltima p&aacute;gina"> &gt;</a>
            </h6>
            {% endif %}
            {% if num_results %}
                {% for i in results_page %}
                    {% if search_for == 'book' %}
                    <div class="ca-item" itemscope itemtype="http://schema.org/Book">
                        <div class="ca-icon">
                            <a href="/books/{{ i.book }}">
                                <span itemprop="image"><img src="/uploaded/{{ i.cover }}" alt="Ebook: {{ i.title }}" width="140" height="196"/></span>
                            </a>
                        </div>
                        <h3><a class="title" href="/books/{{ i.book }}" itemprop="name">{{ i.title|truncatechars:55 }}</a></h3>
                        <span class="synopsis" itemprop="about">{{ i.synopsis|truncatechars:250 }}</span>
                    </div>
                    {% else %}
                    <div class="ca-item-user" itemscope itemtype="http://schema.org/Person">
                        <div class="ca-icon-user">
                            <a href="/people/{{ i.user }}">
                                {% if i.photo %}
                                <span itemprop="image"><img src="/uploaded/{{ i.photo }}" alt="{{ i.full_name }}" width="125" height="125"/></span>
                                {% else %}
                                <img src="{{ STATIC_URL }}img/icon/user.png" alt="{{ i.full_name }}" width="125" height="125"/>
                                {% endif %}
                            </a>
                        </div>
                        <h3><a class="title" href="/people/{{ i.user }}" itemprop="name">{{ i.full_name }}</a></h3>
                        <span class="synopsis" style="color: #000" itemprop="description">{{ i.quote|truncatechars:165 }}</span>
                    </div>
                    {% endif %}
                {% endfor %}
                {% else %}
                    <h2 style="margin: 20px;">No se encontraron resultados.</h2>
                {% endif %}
            {% if num_results %}
            <h6 style="padding-bottom: 5px;">
                <a href="?page=1" title="Primera p&aacute;gina">&lt; </a>
            {% for i in pages_list %}
                {% if i == results_page.number %}
                <a href="?page={{ i }}" style="font-weight: bold; text-decoration: underline;">&nbsp;{{ i }}&nbsp;</a>
                {% else %}
                <a href="?page={{ i }}"> &nbsp;{{ i }}&nbsp;</a>
                {% endif %}
            {% endfor %}
                <a href="?page={{ paginator.num_pages }}" title="&Uacute;ltima p&aacute;gina"> &gt;</a>
            </h6>
            {% endif %}
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
