<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="La primera editorial de libros electr&oacute;nicos en la que puedes publicar tu libro, 
    presentarte como autor con una web personal con v&iacute;deo, texto e im&aacute;genes y enlazar a tu blog, Facebook, Twitter...todo 
    completamente gratis. Como lector, puedes disfrutar del contacto directo con autores y otros 
    lectores y de precios sin competencia. No esperes m&aacute;s y pru&eacute;balo!" />

    <meta name="Keywords" content="alta, signup, libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir, gratis, epub" />
    <title>PeopleEbooks.com - Error en el registro</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <div id="logo">
                <img src="{{ STATIC_URL }}img/logos/logo.png" alt="PeopleEbooks logo" height="237" width="226" />
            </div>
            <div id="top_right">
                {% if error_code == 1 %}
                    <h1 class="top_right_txt">El usuario ya est&aacute; registrado</h1>
                    <h2 class="top_right_txt">Puedes utilizar otro nombre de usuario para el registro. Si crees que recibes este mensaje por error o necesitas ayuda, escr&iacute;benos a <a style="text-decoration: underline" href="mailto:contact@peopleebooks.com">contact@peopleebooks.com</a> o en nuestro <a href="http://www.facebook.com/PeopleEbooks"><span style="text-decoration: underline">Facebook</span></a>.<br>Int&eacute;ntalo de nuevo <a style="text-decoration: underline" href="/signup">aqu&iacute;</a></h2>
                {% else %}
                    <h1 class="top_right_txt">El email utilizado ya est&aacute; en uso</h1>
                    <h2 class="top_right_txt">¿Seguro que no te has registrado ya? Si necesitas recuperar tu contraseña, puedes hacerlo <a href="/my-password" style="text-decoration: underline">aqu&iacute;</a>. Si crees que recibes este mensaje por error, escr&iacute;benos a <a style="text-decoration: underline" href="mailto:contact@peopleebooks.com">contact@peopleebooks.com</a> o en nuestro <a href="http://www.facebook.com/PeopleEbooks"><span style="text-decoration: underline">Facebook</span></a>. Int&eacute;ntalo de nuevo <a style="text-decoration: underline" href="/signup">aqu&iacute;</a></h2>
                {% endif %}
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
