<!DOCTYPE html>
   
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="La primera editorial de libros electr&oacute;nicos en la que puedes publicar tu libro, 
    presentarte como autor con una web personal con v&iacute;deo, texto e im&aacute;genes y enlazar a tu blog, Facebook, Twitter...todo 
    completamente gratis. Como lector, puedes disfrutar del contacto directo con autores y otros 
    lectores y de precios sin competencia. No esperes m&aacute;s y pru&eacute;balo!" />

    <meta name="Keywords" content="alta, signup, libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir" />

    <title>PeopleEbooks.com - Alta de usuario</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/signup.css" />    
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="left-pane">
            <h2 class="headers">&Uacute;nete a PeopleEbooks... <br>en 1 minuto</h2>
            <h2 class="left-pane-h2"><a href="mailto:contact@peopleebooks.com" title="Si necesitas ayuda, escr&iacute;benos">Ayuda</a></h2>
        </div>
        <div class="right-pane">
            <form id="signup_form" method="post" action="#">{% csrf_token %}
                <h4><span class="form_titles">Usuario</span><br>
                    <input class="textbox" type="text" maxlength="{{ username_max_length }}" name="full_name" autofocus onchange="validate_full_name(this);" placeholder="4-{{ username_max_length }} caracteres"/>
                    <span id="full_name_error" class="errors" hidden><br>(Campo requerido. Sin caracteres especiales.)</span>
                </h4>
                <h4><span class="form_titles">E-mail</span><br>
                    <input class="textbox" type="text" name="email" maxlength="75" onchange="validate_email(this);" placeholder="john.doe@mail.org"/>
                    <span id="email_empty" class="errors" hidden><br>(Campo requerido)</span>
                    <span id="email_bad" class="errors" hidden><br>(El email introducido no es v&aacute;lido)</span>
                </h4>
                <h4><span class="form_titles">Contraseña <span style="font-size: 14px;">(se distinguen may&uacute;sculas y min&uacute;sculas)</span></span><br> 
                    <input name="passwd" class="textbox_passwd" type="password" maxlength="30" onchange="validate_passwd(this);" placeholder="6-30 caracteres"/>
                    <span id="passwd_error" class="errors" hidden><br>(Campo requerido. De 6 a 30 caracteres.)</span>
                </h4>
                <h4><span class="form_titles">Confirmar contraseña</span><br> 
                    <input name="passwd_confirm" class="textbox_passwd" type="password" maxlength="30" onchange="validate_passwd_confirm(this);" placeholder="6-30 caracteres"/>
                    <span id="passwd_confirm_empty" class="errors" hidden><br>(Campo requerido. De 6 a 30 caracteres.)</span>
                    <span id="passwd_confirm_mismatch" class="errors" hidden><br>(Las contraseñas no coinciden)</span>
                </h4>
                <h4 class="agree"><input type="checkbox" name="agree"/> He le&iacute;do y acepto los <a style="text-decoration: underline;" href="/legal-terms" target="_blank">t&eacute;rminos legales</a>.
                    <span id="agree_error" class="errors" hidden><br>(Es necesario aceptar los t&eacute;rminos legales)</span>
                </h4>
                <div class="bottom-pane">
                    <h5 style="margin-left: 35px;">
                        <span id="fields_blank" class="errors" hidden>(Es necesario completar todos los campos)</span>
                        <input class="submit_button" type="button" onclick="submit_form();" value="Continuar"/>
                    </h5>
                   
                </div>
            </form>
        </div>
    </div>
    <div class="container">
    {% include "footer.html" %}
    </div>
    <script src="{{ STATIC_URL }}js/signup.js" type="text/javascript"></script>     
</body>
</html>
