<!DOCTYPE html>
   
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />
    <meta name="Description" content="P&aacute;gina de {{ user.full_name }} en PeopleEbooks. ¿A qu&eacute; esperas para apuntarte?" />

    <meta name="Keywords" content="libro, ebook, publicar, electrónico, e-book, e-reader, ereader, editorial, escritor, autor, lector, escribir" />

    <meta property="og:title" content="PeopleEbooks.com - {{ user.full_name }}">
    {% if user.is_author %}
        <meta property="og:type" content="book:author">
    {% else %}
        <meta property="og:type" content="profile">
    {% endif %}
    <meta property="og:url" content="{{ link }}/">
    <meta property="og:image" content="{{ og_image_tag }}">
    <meta property="og:description" content="P&aacute;gina de {{ user.full_name }} en PeopleEbooks.">

    <title>PeopleEbooks.com - {{ user.full_name }}</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/user.css" />
</head>

<body itemscope itemtype="http://schema.org/WebPage">
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    {% include "navbar.html" %}
    <div class="container" itemscope itemtype="http://schema.org/Book">
        <div class="right-pane">
            <h2 class="headers" itemprop="author">{{ user.full_name }}</h2>
            {% if is_owner and new_user%}
            <h4><p style="margin-bottom: 10px;">¡Bienvenido a PeopleEbooks!</p> <span style="font-size: 18px;">&Eacute;sta es tu p&aacute;gina de usuario. 
                Tómate un momento para incluir una cita, una foto, tu presentación...</span></h4>
            <h4 style="font-size: 18px;">Puedes hacerlo <a style="text-decoration: underline; font-size: 20px;" href="/home/{{ user.user }}">aqu&iacute;</a>.</h4> 
            {% else %}
            <div class="user-icon">
                {% if user.photo %}
                <img src="/uploaded/{{ user.photo }}" alt="{{ user.full_name }}" width="255" height="255"/>
                {% else %}
                <img src="{{ STATIC_URL }}img/icon/user.png" alt="{{ user.full_name }}" width="255" height="255"/>
                {% endif %}
            </div>
            <div class="user-video">
                <video width="380" height="285" controls="controls" itemprop="video">
                    {% if user.video %}
                    <source src="/uploaded/{{ user.video }}" type="video/webm"/>
                    {% endif %}
                </video>
            </div>
            <div class="fb-like" data-href="{{ link }}" data-send="false" data-width="640" data-show-faces="true"></div>
            {% endif %}
        </div>
        <div class="left-pane">
            {% if user.is_author %}
                <h2 class="headers">Soy escritor</h2>
            {% else %}
                <h2 class="headers">Soy lector</h2>
            {% endif %}
            {% if user.website %}
                <div class="left-pane-links"><h3><a href="{{ user.website }}" target="_blank">Visita mi web</a></h3></div>
            {% endif %}
            {% if user.facebook or user.twitter %}
                <h2 class="follow_me">S&iacute;gueme:</h2>
            {% endif %}
            {% if user.facebook %}
                <a href="{{ user.facebook }}" target="_blank" rel="author">
                    <img class="social_links" src="{{ STATIC_URL }}img/icon/facebook_green_40px.png" alt="Mi Facebook" width="40" height="40" title="Vis&iacute;tame en Facebook"/>
                </a>
            {% endif %}
            {% if user.twitter %}
                <a href="{{ user.twitter }}" target="_blank" rel="author">
                    <img class="social_links" src="{{ STATIC_URL }}img/icon/twitter_green_40px.png" alt="Mi Twitter" width="40" height="40" title="Mi Twitter"/>
                </a>
            {% endif %}
            <p class="quote">'' {{ user.quote }} ''</p>
        </div>
        {% if user.presentation %}
        <div class="right-pane">
            <h2 class="headers">Presentaci&oacute;n</h2>
            <h5 itemprop="text">{{ user.presentation|linebreaksbr }}</h5>
        </div>  
        {% endif %}      
    </div>
    <!-- Publications and library of this user, if applies -->
    {% if user.is_author or library_items %}
    <div class="container">
        <div class="full-pane" style="height: 370px;">
            <div class="headers" id="toggle">
                {% if user.is_author %}
                <input id="publications" type="button" class="tabs" value="Publicaciones"/>
                {% endif %}
                {% if library_items %}
                <input id="library" type="button" class="tabs" value="Biblioteca"/>
                {% endif %}
            </div>
            <div id="first_option" style="height: 100%; width: 100%;">
                {% for book in books %}
                <div class="book-item">
                    <div class="book-item-main" itemscope itemtype="http://schema.org/Book">
                        <div class="book-img">
                            <a href="/books/{{ book.book }}"><img itemprop="image" src="/uploaded/{{ book.cover }}" alt="Ebook: {{ book.title }}" width="120" height="168" /></a>   
                            <a href="/books/{{ book.book }}"><h3 itemprop="name">{{ book.title|truncatechars:40 }}</h3></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="second_option" style="height: 100%; width: 100%;">
                {% for book in library_items %}
                <div class="book-item">
                    <div class="book-item-main" itemscope itemtype="http://schema.org/Book">
                        <div class="book-img">
                            <a href="/books/{{ book.book }}"><img itemprop="image" src="/uploaded/{{ book.cover }}" alt="Ebook: {{ book.title }}" width="120" height="168"/></a>   
                            <a href="/books/{{ book.book }}"><h3 itemprop="name">{{ book.title|truncatechars:40 }}</h3></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>    
    {% endif %}
    {% if comment_count or user_logged_in%}
    <div class="container">
        <div class="comment-pane">
            <h2 id ="wall" class="headers" style="text-align: center;">Muro</h2>
            {% if user_logged_in %}
                <div class="comment">
                    <form id="owner_comment" method="POST" action="#wall">{% csrf_token %}
                        <textarea class="new_comment" rows="3" cols="85" wrap="hard" name="new_comment" placeholder="Añadir comentario" maxlength="600"></textarea>
                        <input class="submit_button" type="submit" value="Publicar"/>
                    </form>
                </div>            
            {% endif %}
            {% for k in comments %}
            <div class="comment" itemprop="review" itemscope itemtype="http://schema.org/Review">
                <div class="user-img">
                    {% if comment_img|cut:forloop.counter0 %}
                    <a href="/people/{{ comment_link|cut:forloop.counter0 }}" rel="author"><img src="/uploaded/{{ comment_img|cut:forloop.counter0 }}" alt="{{ comment_user|cut:forloop.counter0 }}" width="60" height="60" itemprop="image"/></a>
                    {% else %}
                    <a href="/people/{{ comment_link|cut:forloop.counter0 }}" rel="author"><img src="{{ STATIC_URL }}img/icon/user.png" alt="{{ comment_user|cut:forloop.counter0 }}" width="60" height="60"/></a>
                    {% endif %}
                </div>
                <div class="comment-text">
                    <h4><a href="/people/{{ comment_link|cut:forloop.counter0 }}" rel="author">{{ comment_user|cut:forloop.counter0 }}</a></h4>
                    <h5 itemprop="reviewBody">{{ comment_text|cut:forloop.counter0|linebreaksbr }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div class="container">
        {% include "footer.html" %}
    </div>
    <script type="text/javascript" src="{{ STATIC_URL }}js/user.js"></script>    
</body>
</html>
