<!DOCTYPE html>
   
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="Author" content="PeopleEbooks" />

    <title>PeopleEbooks.com - P&aacute;gina de usuario: {{ user.full_name }}</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/user_home.css" />    
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane-outer">
            <div id="header" class="top-container">
                <div class="top">
                    <h4 id="header_profile"><span onclick="load_content('#profile')">Perfil</span></h4>
                </div>
                {% if user.is_author %}
                <div class="top">
                    <h4 id="header_publications"><span onclick="load_content('#publications')">Publicaciones</span></h4>
                </div>
                {% endif %}
                <div class="top">
                    <h4 id="header_library"><span onclick="load_content('#library');">Biblioteca</span></h4>
                </div>
                {% if user.is_author %}
                <div class="top">
                    <h4 id="header_sales"><span onclick="load_content('#sales')">Mis ventas</span></h4>
                </div>
                {% endif %}
            </div>
<!-- USER LIBRARY -->                   
            <div id="library" hidden>
                <!--<h6 class="paginator">
                    <a href="?page=1" title="Primera p&aacute;gina">< </a>
                        {% for i in pages_list %}
                        {% if i == results_page.number %}
                            <a href="?page={{ i }}" style="font-weight: bold; text-decoration: underline;">&nbsp;{{ i }}&nbsp;</a>
                        {% else %}
                            <a href="?page={{ i }}"> &nbsp;{{ i }}&nbsp;</a>
                        {% endif %}
                        {% endfor %}
                    <a href="?page={{ paginator.num_pages }}" title="&Uacute;ltima p&aacute;gina"> ></a>
                </h6>-->
                <div class="container">
                        {% for i in user_library %}
                            <div class="ca-item">
                                <div class="ca-icon">
                                    <a href="/books/{{ i.book }}">
                                        <img src="/uploaded/{{ i.cover }}" alt="Ebook: {{ i.title }}" width="90" height="126"/>
                                    </a>
                                </div>
                                <h2 class="book_title"><a href="/books/{{ i.book }}">{{ i.title }}</a></h2>
                                <a class="user_name" href="/people/{{ i.user.user }}">de {{ i.user.full_name }}</a>
                                <div class="button-pane">  
                                    <form method="POST" action="#">{% csrf_token %}
                                        {% if i.book_file_pdf %}
                                        <input type="hidden" name="ebook_pdf" value="{{ i.book }}"/>
                                        <input class="download" type="submit" value="{{ i.book }}" name="get_pdf" title="Descargar PDF"/>
                                        {% endif %}
                                    </form>
                                    <form method="POST" action="#">{% csrf_token %}
                                        {% if i.book_file_epub %}
                                        <input type="hidden" name="ebook_epub" value="{{ i.book }}"/>
                                        <input class="download" type="submit" value="{{ i.book }}" name="get_epub" title="Descargar ePub"/>
                                        {% endif %}
                                    </form>
                                </div>                                
                            </div>
                        {% endfor %}
                </div>
                <!--<h6 class="paginator" style="padding-bottom: 10px;">
                    <a href="?page=1" title="Primera p&aacute;gina">< </a>
                        {% for i in pages_list %}
                        {% if i == results_page.number %}
                            <a href="?page={{ i }}" style="font-weight: bold; text-decoration: underline;">&nbsp;{{ i }}&nbsp;</a>
                        {% else %}
                            <a href="?page={{ i }}"> &nbsp;{{ i }}&nbsp;</a>
                        {% endif %}
                        {% endfor %}
                    <a href="?page={{ paginator.num_pages }}" title="&Uacute;ltima p&aacute;gina"> ></a>
                </h6>-->
            </div>
            
<!-- USER PROFILE -->   
            <div id="profile" hidden>
                <form id="photo" enctype="multipart/form-data" method="post" action="/home/{{ request.user.username }}/#profile">{% csrf_token %}
                    <div class="left-pane">
                        <h3 class="headers_home">Foto</h3>
                        {% if user.photo %}
                        <img class="user_photo" src="/uploaded/{{ user.photo }}" alt="{{ user.full_name }}" width="250" height="250"/>
                        {% else %}
                        <img class="user_photo" src="{{ STATIC_URL }}img/icon/user.png" alt="{{ user.full_name }}" width="250" height="250"/>
                        {% endif %}
                        <h4><input type="file" name="image"/></h4>
                        <h6 id="photo_error" class="errors" hidden>(Campo requerido. Formato JPG o PNG).</h6>
                        <h6 id="user_photo_uploading" class="errors" hidden>Subiendo foto...</h6>
                        <input class="submit" style="margin-top: -20px;" type="button" onclick="submit_form_photo();" value=" " name="photo" title="Guardar cambios"/>
                    </div>
                </form>
                <form id="personal_data" method="post" action="/home/{{ request.user.username }}/#profile">{% csrf_token %}
                    <div class="right-pane">
                        <h3 class="headers_home">Informaci&oacute;n personal</h3>
                        <h4>Email<br><input class="email" type="text" name="email" onchange="validate_email();" placeholder="{{ user.email }}"/></h4>
                        <h6 id="email_bad" class="errors" hidden>(El email introducido no es v&aacute;lido)</h6>
                        {% if email_changed %}
                            <h6 id="email_changed" class="errors">(Revisa tu correo para activar tu nuevo email)</h6>
                        {% endif %}
                               
                        <h4>Cambiar contraseña<br><input class="email" type="password" name="passwd" onchange="validate_passwd();" placeholder="6-30 caracteres"/></h4>
                        <h6 id="passwd_error" class="errors" hidden>(Campo requerido. De 6 a 30 caracteres.)</h6>
                        <h4>Confirmar contraseña<br><input class="email" type="password" name="passwd_confirm" onchange="validate_passwd_confirm();" placeholder="6-30 caracteres"/></h4>
                        <h6 id="passwd_confirm_mismatch" class="errors" hidden>(Las contraseñas no coinciden)</h6>
                        {% if passwd_changed %}
                            <h6 id="passwd_changed" class="errors">(Contraseña cambiada correctamente)</h6>
                        {% endif %}
                        <h4>Pa&iacute;s<br>
                            <select name="country" class="select">
                                {% for option in country %}
                                {% if option == user.country.country_es %}
                                    <option value="{{ option }}" selected="selected">{{ option }}</option>
                                {% else %}
                                    <option value="{{ option }}">{{ option }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </h4>
                        <input class="submit" type="button" onclick="submit_form_personal_data();" value=" " name="personal_data" title="Guardar cambios"/>
                    </div>
                </form>
                <form id="video" method="post" enctype="multipart/form-data" action="/home/{{ request.user.username }}/#profile">{% csrf_token %}
                    <div class="left-pane">
                        <h3 class="headers_home">V&iacute;deo de presentaci&oacute;n (hasta 10MB)</h3>
                        <video class="user_video" controls="controls" width="300" height="225">
                            {% if user.video %}
                            <source src="/uploaded/{{ user.video }}" type="video/webm"/>
                            {% endif %}
                        </video>
                        <h4><input type="file" name="video_file"/></h4>
                        <h6 id="video_error" class="errors" hidden>(Formatos WebM, MP4, AVI, MKV, FLV o WMV).</h6>
                        <h6 id="user_video_transcoding" class="errors" hidden>Subiendo y codificando v&iacute;deo. Puede tardar unos minutos...</h6>
                        <input class="submit" style="margin-top: -50px;" type="button" onclick="submit_form_video();" value=" " name="video" title="Guardar cambios"/>
                    </div>
                </form>
                <form id="social" method="post" action="/home/{{ request.user.username }}/#profile">{% csrf_token %}
                    <div class="right-pane">
                        <h3 class="headers_home">Redes sociales y promoci&oacute;n</h3>
                        <h4>Twitter<br><input class="email" type="text" name="twitter" placeholder="{{ user.twitter }}"/></h4>
                        <h4>Facebook<br><input class="email" type="text" name="facebook" placeholder="{{ user.facebook }}"/></h4>
                        <h4>Web externa (Blog, web personal...)<br><input class="email" type="text" name="website" placeholder="{{ user.website }}"/></h4>
                        <input class="submit" type="submit" value=" " name="social" title="Guardar cambios"/>
                    </div>
                </form>
                <form id="misc" method="post" action="/home/{{ request.user.username }}/#profile">{% csrf_token %}
                    <div class="full-pane-2">
                        <h3 class="headers_home">Varios</h3>
                        <h4>Una cita<br><textarea class="synopsis" name="quote" maxlength="200" placeholder="{{ user.quote }}" rows="2" cols="2" wrap="hard" onfocus="show_placeholder(this);"></textarea></h4>
                        <h6 id="quote_error" class="errors" hidden>Error: hasta 200 caracteres alfanum&eacute;ricos.</h6>
                        <h4>Presentaci&oacute;n<br><textarea class="synopsis" name="presentation" maxlength="1000" placeholder="{{ user.presentation }}" rows="5" cols="5" wrap="hard" onfocus="show_placeholder(this);"></textarea></h4>
                        <h6 id="presentation_error" class="errors" hidden>Error: hasta 1000 caracteres alfanum&eacute;ricos.</h6>
                        {% if user.wants_mail_notifications %}
                            <h4><input type="checkbox" checked="checked" name="wants_mail_notifications"/> Recibir notificaciones <span style="font-weight: lighter">(comentarios de usuarios en tu p&aacute;gina y la de tus libros, nunca publicidad).</span></h4>
                        {% else %}
                            <h4><input type="checkbox" name="wants_mail_notifications"/> Recibir notificaciones <span style="font-weight: lighter">(comentarios de usuarios y notificaciones de PeopleEbooks, nunca publicidad).</span></h4>
                        {% endif %} 
                        <input class="submit" type="button" onclick="submit_quote_pres();" value=" " name="misc" title="Guardar cambios"/>
                    </div>
                </form>
            </div>
<!-- USER'S PUBLICATIONS -->
            {% if user.is_author %}                   
            <div id="publications" hidden>
            <!--<h6 class="paginator">
                <a href="?page=1" title="Primera p&aacute;gina">< </a>
                {% for i in pages_list %}
                {% if i == results_page.number %}
                    <a href="?page={{ i }}" style="font-weight: bold; text-decoration: underline;">&nbsp;{{ i }}&nbsp;</a>
                {% else %}
                    <a href="?page={{ i }}"> &nbsp;{{ i }}&nbsp;</a>
                {% endif %}
                {% endfor %}
                <a href="?page={{ paginator.num_pages }}" title="&Uacute;ltima p&aacute;gina"> ></a>
            </h6>-->
                <div class="container">
                        {% for i in user_publications %}
                        <div class="ca-item">
                            <div class="ca-icon">
                                <a href="/books/{{ i.book }}">
                                    <img src="/uploaded/{{ i.cover }}" alt="Ebook: {{ i.title }}" width="90" height="126"/>
                                </a>
                            </div>
                            <h2 class="book_title"><a href="/books/{{ i.book }}">{{ i.title|truncatechars:40 }}</a></h2>
                            <a class="user_name" href="/people/{{ i.user.user }}">de {{ i.user.full_name }}</a>
                            <div class="button-pane"> 
                                <form method="POST" action="#">{% csrf_token %}
                                    {% if i.book_file_pdf %}
                                        <input type="hidden" name="ebook_pdf" value="{{ i.book }}"/>
                                        <input class="download" type="submit" value="{{ i.book }}" name="get_pdf" title="Descargar PDF"/>
                                    {% endif %}
                                </form>
                                <form method="POST" action="#">{% csrf_token %}
                                    {% if i.book_file_epub %}
                                        <input type="hidden" name="ebook_epub" value="{{ i.book }}"/>
                                        <input class="download" type="submit" value="{{ i.book }}" name="get_epub" title="Descargar ePub"/>
                                    {% endif %}
                                </form>
                                <a class="edit_book" href="/edit/{{ i.book }}" title="Editar"><img alt="Editar" src="{{ STATIC_URL }}img/icon/edit_40px.png"/></a>
                                <a class="edit_book" href="/sales_report/{{ i.book }}" target="_blank" title="Informe de ventas">
                                    <img alt="Informe de ventas" src="{{ STATIC_URL }}img/icon/documents_40px.png"/>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                </div>
                <!--<h6 class="paginator" style="padding-bottom: 10px;">
                    <a href="?page=1" title="Primera p&aacute;gina">< </a>
                    {% for i in pages_list %}
                    {% if i == results_page.number %}
                        <a href="?page={{ i }}" style="font-weight: bold; text-decoration: underline;">&nbsp;{{ i }}&nbsp;</a>
                    {% else %}
                        <a href="?page={{ i }}"> &nbsp;{{ i }}&nbsp;</a>
                    {% endif %}
                    {% endfor %}
                    <a href="?page={{ paginator.num_pages }}" title="&Uacute;ltima p&aacute;gina"> ></a>
                </h6>-->
            </div>
            
            <!-- USER'S SALES -->                   
            <div id="sales" hidden>
                <div class="left-pane">
                    <h3 class="headers_home">Ordenar transferencia</h3>
                    {% if user.country %}
                    {% if not pending %}
                    <form method='POST' action="#" name="withdrawal">{% csrf_token %}
                        <h4>Importe a transferir (&euro;)<br><input class="email" type="text" name="amount" onchange="validate_amount(this);"/></h4>
                        <input type="hidden" name="balance" value="{{ user.current_balance }}"/>
                        <h6 id="amount_error" class="errors" hidden>El importe debe ser una cantidad entera igual o inferior al saldo (Importe m&iacute;nimo: 10&euro;).</h6>
                        <h4>Cuenta  de destino (PayPal o cuenta corriente)<br><input class="email" type="text" name="payment_account"/></h4>
                        <h6 id="account_error" class="errors" hidden>(Campo requerido. Introduce un email v&aacute;lido).</h6>
                        <h4>Observaciones<br><textarea class="email" style="border: none;" cols="3" rows="5" wrap="hard" name="comments" onchange="validate_comments(this);" maxlength="300"></textarea></h4>
                        <input class="submit_money" type="button" value=" " title="Ordenar transferencia" name="showmethemoney" onclick="validate_withdrawal();"/>
                    </form>
                    {% else %}
                        <h5>Tienes transferencias pendientes.<br><br> Una vez recibas el pago de estas solicitudes podr&aacute;s retirar m&aacute;s dinero de tu cuenta.</h5>
                    {% endif %}
                    {% else %}
                        <h5>Por motivos legales, es necesario que especifiques tu pa&iacute;s antes de retirar dinero.<br><br>Puedes hacerlo pulsando en la pestaña "Perfil", en la secci&oacute;n "Informaci&oacute;n personal".</h5>
                    {% endif %}
                </div>

                <div class="right-pane">
                    <h3 class="headers_home">Balance general</h3>
                    <h4>
                        Libros vendidos: <span style="float: right;">{{ user.sales }}</span><br><br>
                        Beneficios: <span style="float: right;">{{ user.total_profits|floatformat:"-2" }} &euro;</span><br><br>
                        Saldo en PeopleEbooks: <span id="balance" style="float: right;">{{ user.current_balance|floatformat:"-2" }} &euro;</span><br><br>
                        Saldo total retirado: <span style="float: right;">{{ user.money_withdrawn|floatformat:"-2" }} &euro;</span><br>
                    </h4>
                </div>
                {% if withdrawals %}
                <div class="full-pane">
                    <h3 class="headers_home">Historial de operaciones</h3>
                    <h5 class="withdrawals">Fecha de solicitud</h5>
                    <h5 class="withdrawals">Importe</h5>
                    <h5 class="withdrawals">Cuenta de pago</h5>
                    <h5 class="withdrawals">Estado</h5>

                    {% for i in withdrawals %}
                        <h6 class="withdrawal_txt">{{ i.operation_date }}</h6>
                        <h6 class="withdrawal_txt">{{ i.amount|floatformat:"-2" }} &euro;</h6>
                        <h6 class="withdrawal_txt">{{ i.payment_account }}</h6>
                        {% if i.hashes %}
                            <h6 class="withdrawal_txt">Pendiente</h6>
                        {% else %}
                            <h6 class="withdrawal_txt">Completado</h6>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
            </div> 
            {% endif %}   
        </div>
        {% include "footer.html" %}
    </div>
    <script src="{{ STATIC_URL }}js/user_home.js" type="text/javascript"></script>     
</body>
</html>

