<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8"/>

    <title>PeopleEbooks.com - Confirmaci&oacute;n de retirada de saldo</title>
    <link href="{{ STATIC_URL }}css/screen.css" type="text/css" rel="stylesheet" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>

<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="full-pane">
            <div id="logo">
                <img src="{{ STATIC_URL }}img/logos/logo.png" alt="PeopleEbooks logo" height="237" width="226" />
            </div>
            <div id="top_right">
                {% if exists %}
                <h1 class="top_right_txt">Operación completada correctamente</h1>
                <h2 class="top_right_txt">Se ha confirmado la operaci&oacute;n y actualizado las cuentas del usuario.</h2>
                {% else %}
                <h1 class="top_right_txt">Usuario/operaci&oacute;n inexistente</h1>
                <h2 class="top_right_txt">La operaci&oacute;n no existe (comprueba que no has modificado accidentalmente la URL) o ya se hab&iacute;a confirmado anteriormente.</h2>
                {% endif %}
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</body>
</html>
