
@font-face {
    font-family: 'webfont';
    src: url('../fonts/webfont.eot');
    src: url('../fonts/webfont.svg') format('svg'),
         url('../fonts/webfont.woff') format('woff'),
         url('../fonts/webfont.ttf') format('truetype'),         
         url('../fonts/webfont.eot?#iefix') format('embedded-opentype');

    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

html {
	outline: none;
	cursor:default; 
	margin:0px; 
	padding:0px;
        font-family: 'webfont';
        background-color: #a69f74;
	overflow: auto;




}

video,
html a{
    outline: none;
}

