.ca-item{
    float: left;
    width: 47%;
    height: 75%;
    text-align: center;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 1px 1px 0 #aaa;
    margin-left: 20px;
    margin-bottom: 30px;
    background: -moz-linear-gradient(center top , #fff 0%, #608000 600%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#fff), color-stop(600%,#608000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#608000 600%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#608000 600%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#608000 600%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#608000 600%); /* W3C */
}

.ca-item-user:hover,
.ca-item:hover{
    box-shadow: 0 2px 2px 0 #608000;
}

.ca-icon{
	width: 140px;
	height: 196px;
	position:relative;
	margin: 15px 15px;
	float: left;
	box-shadow: 0px 0px 1px 1px #444;
	overflow: hidden;
}


.title{
    position: absolute;    
    left: 170px;
    right: 20px;
    font-family: 'webfont';
    font-size: 17px;
    font-weight: normal;
    color: #c25800;
    margin: 10px 
    height: 40px;
    text-align: center;
    text-shadow: 0px 1px 1px #e4ebe9;   
}


.synopsis{
   position: absolute;
   top: 50px;
   left: 170px;
   right: 10px;
   font-family: 'lucida grande', 'verdana', 'tahoma';
   font-size: 13px;
   text-align: left;
   line-height: 23px;
}

h6{
   border-radius: 5px;
   box-shadow: 0px 1px 1px #556600;
   color: #C25800;
   font-family: 'webfont';
   font-size: 21px;
   font-weight: normal;
   margin: 10px 0 20px 10px;
   min-height: 30px;
   text-align: center;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
   float: left;
   width: 98%;
}

h6 a{
   outline: none;
}

.ca-icon-user img{
	width: 125px;
	height: 125px;
	position:relative;
	margin: 10px 10px;
	float: left;
	box-shadow: 0px 0px 1px 1px #444;
	border-radius: 15px;
	overflow: hidden;
}

.ca-item-user{
	float: left;
	width: 47%;
	height: 50%;
	text-align: center;
	overflow: hidden;
	border-radius: 15px;
    box-shadow: 0 1px 1px 0 #aaa;
    margin-right: 29px;
    margin-bottom: 30px;
    background: -moz-linear-gradient(center top , #fff 0%, #608000 600%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#fff), color-stop(600%,#608000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#608000 600%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#608000 600%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#608000 600%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#608000 600%); /* W3C */
    position: relative;
}

h2{
   border-radius: 5px 5px 5px 5px;
   color: #C25800;
   font-family: 'webfont';
   font-size: 24px;
   font-weight: lighter;
   margin: 20px;
   padding-bottom: 3px;
   margin-top: -15px;
   text-align: center;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
}

