.user-icon{
   width: 200px;
	height: 200px;
	/* position:relative;  # Disrupts 'overflow: hidden;' in Chrome and Safari */
	margin: 20px;
	box-shadow: 0px 0px 2px 2px #444;
	border-radius: 15px;
	overflow: hidden;
}

.book-icon{
    width: 250px;
	height: 350px;
	position:relative;
	float: left;
	margin: 18px 8px 18px 18px;
	box-shadow: 0px 0px 2px 2px #444;
}

.book-video{
    width: 380px;
    height: 285px;
    position:relative;
    float: right;
    border-radius: 15px;
    padding: 12px;
    margin: 39px 22px 18px 8px;
    box-shadow: 0px 0px 4px 4px #334400;
}

h5{
   font-family: 'verdana', 'webfont';
   font-size: 16px;
   font-weight: lighter;
   line-height: 26px;
   text-align: left;
   margin: 18px;
   text-shadow: 0 1px 1px #ccc;
   color: #222;
}

h4 {
    color: #C25800;
    font-family: 'webfont';
    font-size: 19px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 1px #E4EBE9;
    margin: 30px 15px 27px 15px;
}

h3 {
    color: #C25800;
    font-family: 'webfont';
    font-size: 20px;
    text-align: center;
    text-shadow: 0 1px 1px #E4EBE9;
    margin: 40px 15px 40px 15px;
}


#download_pdf,
#download_epub{
   float: left;
   margin: 25px 0px 25px 28px;
   border-top: 4px solid #334400;
   border-bottom: 4px solid #334400;
   border-radius: 5px 5px 5px 5px;
   color: #C25800;
   font-family: 'webfont';
   font-weight: lighter;
   padding: 2px 3px 3px 3px;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
   background-color: #334400; 
}

#download_pdf input,
#download_epub input{
   font-size: 22px;
}

#download_pdf:hover,
#download_epub:hover,
#download_pdf.selected,
#download_epub.selected{
    background-color: #fff;
   -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.left-pane h2 a:hover,
.left-pane h2 a.selected {
    color: #334400;    
    margin: 0;
    padding: 0;
    border: 0;
}


.left-pane h2{
   border-top: 4px solid #334400;
   border-bottom: 4px solid #334400;
   border-radius: 5px 5px 5px 5px;
   color: #C25800;
   font-family: 'webfont';
   font-size: 26px;
   font-weight: normal;
   margin: 18px;
   padding: 4px 0 3px 0;
   text-align: center;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
   background-color: #334400; 
   
}

/* 'Buy' link button effect */
.left-pane h2:hover{
    background-color: #fff;
   -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.left-pane h2 a:hover,
.left-pane h2 a.selected {
    color: #334400;    
    margin: 0;
    padding: 0;
    border: 0;
}

.user-link h3:hover,
.user-link h3.selected {  
   -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
   color: #334400;
   margin: 0px;
   padding: 0;
}


/****** Buy button text ******/
.container h2 a{
	color: #fff;
	text-decoration: none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
    margin: 0;
    padding: 0;
}

.container h2 a:hover,
.container h2 a.selected {
    color: #C25800;
    margin: 0;
    padding: 0;
}

.other-book-img{
   width: 120px;
	height: 168px;
	margin: 10px 0px 10px 20px;
	box-shadow: 0px 0px 1px 1px #444;
	position: relative;
}

.other-item{
   float: left;
	position: relative;
	width: 20%;
	height: 95%;
	text-align: center;
}

.other-item-main{	
	position: absolute;
	padding: 2px;
	top: 5px;
	left: 25px;
	right: 15px;
	bottom: 0px;
	overflow: hidden;
}

.other-item h3{
	font-family: 'webfont';
	font-size: 16px;
        font-weight: normal;
	color: #c25800;
	margin: 14px 5px 5px 5px;

	text-align: center;
	text-shadow: 0px 1px 1px #e4ebe9;

   -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.other-item h3:hover{
   color: #334400;
}

.comment-pane{
	text-align: left;
   margin: 10px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0px 0px 3px 3px #444;
	overflow: auto;
}

.user-img{
	width: 60px;
	height: 60px;
	/* position:relative;  # Disrupts 'overflow: hidden;' in Chrome and Safari */
	margin: 25px 18px 18px 18px;
	float: left;
	box-shadow: 0px 0px 1px 1px #444;
	border-radius: 8px;
	overflow: hidden;
}


.comment-pane h4{
    color: #C25800;
    font-family: 'verdana', 'webfont';
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    text-shadow: 0 1px 1px #E4EBE9;
    margin: 20px 0 20px 0;
}

.comment-pane h5{
    font-size: 14px;
    color: #000;
    font-family: 'verdana', 'webfont';
    text-align: left;
    text-shadow: 0 1px 1px #E4EBE9;
    margin: 20px 0 20px 100px;
}

.new_comment{
    float: left;
    margin: 10px 24px 20px 24px;
    font-size: 14px;
    border-color: #999;
    box-shadow: 0px 0px 1px 1px #bbb;
}

.comment_button{
    font-size: 20px;
    font-family: 'verdana', 'webfont';
    margin: 22px 40px 50px 40px;
    cursor: pointer;
}

.comment{
    overflow: hidden;
    width: 95%;
    margin-right: 100px;
}

.in_cart{
   border-top: 4px solid #AAA;
   border-bottom: 4px solid #AAA;
   border-radius: 5px 5px 5px 5px;
   color: #fff;
   font-family: 'webfont';
   font-size: 24px;
   font-weight: lighter;
   margin: 18px;
   padding: 5px 11px 5px 8px;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
   background-color: #AAA; 
}


.buy_button_format_unavailable{
   float: left;
   border-top: 3px solid #AAA;
   border-bottom: 1px solid #AAA;
   border-radius: 5px 5px 5px 5px;
   color: #fff;
   font-family: 'webfont';
   font-size: 22px;
   font-weight: bold;
   margin: 25px 0px 25px 28px;
   padding: 7px 12px 8px 12px;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
   background-color: #AAA; 
}

.buy_button{
    background-color: transparent;
    border: none;
    font-family: 'webfont';
    font-size: 25px;
    color: #fff;
    text-shadow: 0 0.4px 0.4px #CCCCCC;
    -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.buy_button:hover{
    color: #C25800;
    -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	cursor: pointer;
	outline: none;
}

input::-moz-focus-inner {
  border: 0;
}


.left-pane .left-pane-links{
   border-top: 4px solid #334400;
   border-bottom: 4px solid #334400;
   border-radius: 5px 5px 5px 5px;
   color: #fff;
   font-family: 'webfont';
   font-size: 20px;

   margin: 20px;
   padding: 0px;
   text-align: center;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
   background-color: #334400; 
}

.left-pane .left-pane-links:hover{
    border-top: 4px solid #334400;
    border-bottom: 4px solid #334400;
    background-color: #fff;
   -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.left-pane .left-pane-links a{
    color: #fff;
}

.left-pane .left-pane-links a:hover,
.left-pane .left-pane-links a.selected {
    color: #C25800;    
    margin: 0;
    padding: 0;
    border: 0;
}

