.ca-item{
    float: left;
    width: 47%;
    height: 60%;
    text-align: center;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 1px 1px 0 #aaa;
    margin: 16px 15px 16px 13px;
    background: -moz-linear-gradient(center top , #fff 0%, #608000 600%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#fff), color-stop(600%,#608000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#608000 600%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#608000 600%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#608000 600%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#608000 600%); /* W3C */
}

.ca-item-user:hover,
.ca-item:hover{
    box-shadow: 0 2px 2px 0 #334400;
}

.ca-icon{
	width: 90px;
	height: 126px;
	margin: 15px 15px;
	margin-top: 25px;
	float: left;
	box-shadow: 0px 0px 1px 1px #444;
}
.ca-item-user h3,
.ca-item h3{
    font-family: 'webfont';
    font-size: 17px;
    color: #c25800;
    text-align: left;
    font-weight: bold;
    text-shadow: 0px 1px 1px #e4ebe9;
    margin: 20px 160px 12px 0;
   
}

.ca-item-user h4,
.ca-item h4{
   font-family: 'webfont';
   font-size: 16px;
   font-style: normal;
   font-weight: bold;
   text-align: left;
   color: #222;
}

h2 a,
h3 a{
   z-index: 1;
   outline: none;
}

.title{ 
    font-size: 17px; 
    position: absolute;
    top: 20px;
    left: 120px;
    text-shadow: 0 1px 1px #B4BBB9;
}


.author{ 
    font-size: 15px;
    position: absolute;
    top: 90px;
    left: 120px;
}

.author_checkout{
    position: absolute;
    top: 80px;
    left: 120px;
}


.price{
    position: absolute;
    top: 70px;
}

.remove_from_cart{
   background: url('../img/icon/remove_from_cart_48px.png') no-repeat; 
   border:none; 
   width: 48px;
   height: 48px;
   float: right;
   position: absolute;
   top: 105px;
   right: 12px;
   border-radius: 6px;
   -webkit-transition: 0.1s;
   -moz-transition: 0.1s;
   -o-transition: 0.1s;
   -ms-transition: 0.1s;
   transition: 0.1s;
   outline: none;
   color: transparent;
}

.remove_from_cart:hover{
   background-color: #fff;
   cursor: pointer;
   -webkit-transition: 0.2s;
   -moz-transition: 0.2s;
   -o-transition: 0.2s;
   -ms-transition: 0.2s;
   transition: 0.2s;
   outline: none;
}


.header{
    width: 97%;
    font-family: 'webfont';
    font-size: 22px;
    margin: 30px 20px 30px 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: normal;
    color: #334400;
    text-shadow: 0 1px 1px #B4BBB9;
    border-bottom: none;
}

.header_black{
    width: 97%;
    font-family: 'webfont';
    font-size: 20px;
    margin: 10px 20px 20px 20px;
    text-align: center;
    border-radius: 5px;
    font-weight: normal;
    color: #333;
    text-shadow: 0 2px 2px #B4BBB9;
    border-bottom: none;
}


.checkout_paypal{
    border: none;
    cursor: pointer;
    margin-left: 30px;
    margin-top: -10px;
}

.checkout{
    color: #fff;
    border-radius: 6px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    outline: none;
    background-color: #223300;
    border-top: 4px solid #223300;
    border-bottom: 4px solid #223300;
    padding: 5px 10px 6px 10px;
    box-shadow: 0 1px 1px 0 #aaa;
    text-shadow: none;
    font-weight: normal;
    font-size: 20px;
}

.checkout:hover{
    color: #C25800;
    border-radius: 6px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    outline: none;
    background-color: transparent;
    padding: 5px 10px 6px 10px;
    border-top: 4px solid #223300;
    border-bottom: 4px solid #223300;
    text-shadow: 0 1px 1px #aaa;
}

button::-moz-focus-inner {
  border: 0;
}

input::-moz-focus-inner {
  border: 0;
}


.get_book{
    float: right;
    background-color: #223300;
    border: none;
    font-family: 'webfont';
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0.4px 0.4px #CCCCCC;
    margin: 125px 15px 15px 15px;
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
	outline: none;
	border-radius: 6px;
	border-top: 3px solid #223300;
	border-bottom: 3px solid #223300;
	padding-right: 15px;
	padding-left: 13px;
	padding-bottom: 2px;
}

.get_book:hover{
    color: #C25800;
    -webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
	cursor: pointer;
	outline: none;
	background-color: transparent;
}

