h5{
   font-family: 'verdana', 'webfont';
   font-size: 17px;
   font-weight: normal;
   line-height: 24px;
   text-align: left;
   margin: 18px;
   text-shadow: 0 1px 1px #ccc;
   color: #222;
}

h4 {
    color: #C25800;
    font-family: 'webfont';
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    text-shadow: 0 1px 1px #E4EBE9;
    margin: 40px 16px 27px 18px;
}

h3 {
    color: #C25800;
    font-family: 'webfont';
    font-size: 20px;
    text-align: center;
    text-shadow: 0 1px 1px #E4EBE9;
    margin: 40px 0 40px 0;
}

h2{


   color: #C25800;
   font-family: 'webfont';
   font-size: 26px;
   font-weight: lighter;
   margin: 10px;
   min-height: 40px;
   text-align: center;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
   padding: 3px 0px 8px 0px;
}


.step-img{
   float: left;
   margin: 4px 5px 0 2px;
   padding-top: 8px;
}

.step-container{
   border-radius: 5px;
   background: -moz-linear-gradient(center top , #fff 0%, #608000 600%) repeat scroll 0 0 transparent;
   background: -webkit-gradient(linear, top, bottom, color-stop(0%,#fff), color-stop(600%,#608000)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #fff 0%,#608000 600%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #fff 0%,#608000 600%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, #fff 0%,#608000 600%); /* IE10+ */
   background: linear-gradient(top, #fff 0%,#608000 600%); /* W3C */
   box-shadow: 0px 0px 2px 2px #555;
   
   margin: 30px 16px;
   height: 60px;
}

.step-container h4{
   font-size: 22px;
   font-weight: normal;
   text-align: left;
   padding-top: 15px;
   padding-left: 10px;
   margin: 40px 0 0 0;
}

.step-container.selected{
   box-shadow: 0px 0px 3px 3px #445500;
   outline: none;
   text-decoration: none;
}

.step-container:hover{
   box-shadow: 0px 0px 3px 3px #445500;
}

.top h4{
   float: left;
   height: auto;
   width: auto;
   padding: 5px 10px;
   margin: 12px 20px 20px 75px;
   text-align: center;
   border-radius: 5px;
   outline: none;
   text-decoration: none;
   border: none;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
   box-shadow: 0px 0px 2px 2px #555;
   color: #C25800;
   font-family: 'webfont';
   font-size: 22px;
   font-weight: normal;
   background: -moz-linear-gradient(center top , #fff 0%, #608000 600%) repeat scroll 0 0 transparent;
   background: -webkit-gradient(linear, top, bottom, color-stop(0%,#fff), color-stop(600%,#608000)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #fff 0%,#608000 600%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #fff 0%,#608000 600%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, #fff 0%,#608000 600%); /* IE10+ */
   background: linear-gradient(top, #fff 0%,#608000 600%); /* W3C */ 
}


.step-container h4 a:focus,
.top h4:focus{
   outline: none;
}

.top h4.selected{
   box-shadow: 0px 0px 3px 3px #445500;
   outline: none;
   text-decoration: none;
}

.top h4:hover{
   box-shadow: 0px 0px 3px 3px #445500;
   outline: none;
   text-decoration: none;
}


#publish-info{
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -o-transition: 0.5s;
   -ms-transition: 0.5s;
   transition: 0.5s;
   margin-top: 20px;
}


.title{
   width: 92%;
   margin-left: 20px;
   border-radius: 5px;
   box-shadow: 0 0 3px 0 #608000;
}

.synopsis{
    margin-left: 20px;
    display: block;
    width: 92%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px 0 #608000;
}

.upload_field{
    margin-left: 10px;
    
}

.bottom_form1_left{
    float: left;
    display: block;

    margin-left: 9%;
    margin-right: 8%;
}

.bottom_form1_right{
    float: right;
    display: block;

    margin-left: 8%;
    margin-right: 9%;
}

.bottom_form1button{
    float: right;
    margin-left: 25%;
    margin-right: 9%;
    margin-top: 25px;
}

.bottom_formstep{
    float: right;
    margin: 0 45px 20px 45px;
    width: 90%;
}

.submit_button{
    float: right;
}

.file_upload_error{
   margin-top: -25px;
   background-color: #c90a06;
   color: #333;
}


.login_required{
   font-size: 18px;
   margin: 20px;
   color: #222;
   border-radius: 6px;
}


.button_next{
    border-radius: 3px;
    background: -moz-linear-gradient(center top , #fff 0%, #608000 400%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#fff), color-stop(400%,#608000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#608000 400%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#608000 400%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#608000 400%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#608000 400%); /* W3C */
    box-shadow: 0 1px 1px 0 #aaa;
    padding: 5px 10px; 
    color: #647614;
    font-weight: bold;
    font-size: 16px;
    outline: none;   
}

.button_next:hover{
    box-shadow: 2px 3px 2px 0px #aaa;
    cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

input::-moz-focus-inner {
  border: 0;
}

h4 a::-moz-focus-inner {
  border: 0;
}

