.sales{
    float: left;
    margin: 20px 0 10px 0;
    text-decoration: underline;
    font-weight: bold;
    color: #C25800;
    width: 33%;
    text-align: center;
    font-size: 18px;
}

.sales_detail{
    float: left;
    margin: 20px 0 10px 0;
    text-decoration: underline;
    font-weight: bold;
    color: #C25800;
    width: 25%;
    text-align: center;
    font-size: 20px;
}


.sales_txt{
    float: left;
    font-family: 'verdana', 'webfont';
    font-weight: bold;
    font-size: 15px;
    color: #222;
    margin: 0 0 10px 0;
    text-align: center;
    width: 25%;
}

.book_sales_icon{
   float: left;
   margin: 20px 20px 20px 90px;
   float: left;
   box-shadow: 0px 0px 2px 2px #444;
   overflow: hidden; 
}

.sales_subheader{
    font-family: 'webfont';
    font-size: 24px;
    text-align: center;
    color: #c25800;
    font-weight: normal;
    margin: 20px 20px 0px 20px;
    border-top: 5px solid #556600;
    padding-top: 35px;
    padding-bottom: 0px;
    border-radius: 5px;
    text-shadow: 0 1px 1px #B4BBB9;
}

