@import url(base.css);

.container{
	width: 1000px;
	overflow: auto;
	margin: auto;

}

#navbar{
   position: relative;
   padding: 5px;
   background: #b8d07d;
   margin: 10px 10px 8px;
   border-radius: 6px;
   height: 45px;
   box-shadow: 0 0 3px 3px #333;
   overflow: visible;
   line-height: 1;
}


h1.top_right_txt{
    font-family: 'webfont';
    font-size: 28px;
    text-align: center;
    margin: 25px 30px 20px;
    border-radius: 5px;
    padding: 15px 30px 0px;
    font-weight: normal;
    color: #556600;
    text-shadow: 0 1px 1px #B4BBB9;
    
}

h4.video_txt,
h2.top_right_txt{
    font-family: 'webfont';
    font-size: 19px;
    text-align: center;
    color: #c25800;
    font-weight: normal;
    margin: 20px;
    border-top: 5px solid #556600;
    padding-top: 20px;
    border-radius: 5px;
    text-shadow: 0 1px 0px #B4BBB9;
}


h4.video_txt{
    border: none;
    padding: 0;
}


#logo{
    float: left;
    height:auto;
    width: 200px;
    padding: 20px;
}

#top_right{
    float: right;
    height: 230px;
    width: 695px;
}

.container a {
	color: #c25800;
	text-decoration: none;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	-ms-transition: 0.2s;
	transition: 0.2s;
    margin: 0;
    padding: 0;
}

.container a:hover,
.container a.selected {
    color: #334400;
    margin: 0;
    padding: 0;
}


#signup a,
.option a{ 
   float: left;
   text-align: center;
   font-size: 22px;
   font-weight: normal;
   text-shadow: 0 1px 1px #C4CBC9;
   margin: 2px 3px;
   color: #223300;
   background-color: #fff;
   box-shadow: 0px 4px 0px #334400, 0px 4px 14px #111;
   border-radius: 5px;
   border: 1px solid #223300;
   padding: 6px 10px 5px 10px;
   outline: none;
   -webkit-transition: all .1s ease;
   -moz-transition: all .1s ease;
   -ms-transition: all .1s ease;
   -o-transition: all .1s ease;
   transition: all .1s ease;
}

#signup a:hover,
.option a:hover{
   float: left;
   text-align: center;
   text-shadow: 0 1px 1px #C4CBC9;
   margin: 2px 3px;
   color: #c25800;
   border-radius: 5px;
   padding: 6px 10px 5px 10px;
   outline: none;
}

#signup a:active,
.option a:active{
    box-shadow: 0px 2px 0px #334400, 0px 1px 4px rgba(0,0,0,.9);
    position: relative;
    top: 3px;
}

#signup,
.option{ 
   float: left;
   text-align: center;
   font-size: 19px;
   font-weight: bold;
   text-shadow: 0 1px 1px #C4CBC9;
   margin: 0px 5px 5px 7px;
   color: #C25800;
   border-radius: 5px;
}

.search_box{ 
   float: left;
   text-align: center;
   font-size: 19px;
   font-weight: normal;
   text-shadow: 0 1px 1px #C4CBC9;
   overflow: visible;
   margin: 10px 8px 12px 18px;
}


.option-icon{
   float: left;
   margin: 5px 0px 0px 10px;
   border-radius: 6px;
   overflow: hidden;
   height: 35px;
   width: 35px;
   box-shadow: 0 0 3px #111;
}

.option-icon-container{
    overflow: visible;
    margin-bottom: 0;
}

.option-icon:hover{
   -webkit-transition: 0.2s;
   -moz-transition: 0.2s;
   -o-transition: 0.2s;
   -ms-transition: 0.2s;
   transition: 0.2s;
   box-shadow: 0 0 7px #111;
}

.navbar-container{
    width: auto;
    overflow: visible;
}


/* LOGIN: */

#signup,
#cart{
  margin: 0 5px 0 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  background: transparent;
  border-radius: 3px;
}


#login .active,
#login .selected,
#login-trigger{
   box-shadow: 0px 4px 0px #334400, 0px 4px 14px #111;
   border: 1px solid #223300;   
   padding: 6px 10px 5px 10px;   
   float: left;
   text-align: center;
   font-weight: normal;
   font-size: 22px;
   text-shadow: 0 1px 1px #C4CBC9;
   margin: 2px 10px 5px 20px;
   color: #223300;
   background-color: #fff;
   border-radius: 5px;
   outline: none;
}

#login-trigger:active{
    color: #c25800;
    box-shadow: 0px 2px 0px #334400, 0px 1px 4px #111;
    position: relative;
    top: 3px;
}

#login-trigger:hover{ color: #c25800; }

#cart{
  box-shadow: 0px 4px 0px #334400, 0px 4px 14px #111;
  border: 1px solid #223300;   
  background-color: #fff;
  margin: -1px 10px 0 0; 
  outline: none;
  height: 40px;
  width: 50px;
  text-align: center;
  border-radius: 6px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}


#cart:active{
    box-shadow: 0px 2px 0px #334400, 0px 1px 4px rgba(0,0,0,.9);
    position: relative;
    top: 3px;
}


#login-content {
  display: none;
  position: absolute;
  top: 50px;
  left: 732px;
  z-index: 999;    
  background: #fff;
  padding: 15px;
  box-shadow: 0 0 6px #111;
  border-radius: 6px;
}


#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 240px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

#inputs{
   border: none;
   padding: 0;
}


#login #actions {
  margin: 10px 0 0 0;
  border: none;
  padding: 0;
}

#login #submit {		
  background-color: #223300;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #223300;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}

#login #submit:hover,
#login #submit:focus {		
  background-color: #445500;
  text-shadow: none;
}	

#login #submit:active {		
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;		
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {

  line-height: 30px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}


#searchbox{
  font-size: 16px;
  width: 190px;
  margin-top: 6px;
}

#search_content{
  display: none;
  position: absolute;
  top: 42px;
  right: 436px;
  z-index: 999;    
  background: #fff;
  padding: 15px;
  box-shadow: 0 0 6px #111;
  border-radius: 6px;
}

#search-trigger{
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  font-size: 12px;
  padding: 0 5px 0 5px;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 #fff;
  outline: none;
}

.button{
  font-size: 15px;
  color: #223300;
}


#option_search{
   float: left;
   text-align: center;
   font-size: 20px;
   font-weight: normal;
   text-shadow: 0 1px 1px #C4CBC9;
   margin: 2px 0 0 0;
   color: #C25800;
   border-radius: 5px;
   padding: 0 5px 0 5px;
}

#my_passwd{
   margin-left: 9px;
   font-size: 16px;
}

#footer{
   padding: 5px;
   background: #fff;
   background: -moz-linear-gradient(center top , #fff 0%, #334400 300%) repeat scroll 0 0 transparent;
   background: -webkit-gradient(linear, top, bottom, color-stop(0%,#fff), color-stop(300%,#334400)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #fff 0%,#334400 300%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #fff 0%,#334400 300%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, #fff 0%,#334400 300%); /* IE10+ */
   background: linear-gradient(top, #fff 0%,#334400 300%); /* W3C */
   margin: 8px 10px 8px;
   border-radius: 10px;
   height: 45px;
   box-shadow: 0px 0px 3px 3px #444;
   overflow: visible;
   line-height: 1;
}

.footer-container .option a{
   font-size: 18px;
}

.footer-button a{
  font-size: 18px;
  float: left;
  display: inline-block;
  padding: 4px 7px 4px 7px;
  text-decoration: none;
  color: #223300;
  text-shadow: 0 1px 1px #C4CBC9;
  margin: 10px;
  outline: none;
  border-radius: 5px;
}

.footer-button a:hover {
   float: left;
   background: #222;
   display: inline-block;
   padding: 4px 7px 4px 7px;
   text-decoration: none;
   color: #fff;
   text-shadow: none;
   margin: 10px;
   outline: none;
   border-radius: 5px;  
   box-shadow: 2px 2px 2px #A4ABA9;
   -webkit-transition: 0.1s;
   -moz-transition: 0.1s;
   -o-transition: 0.1s;
   -ms-transition: 0.1s;
   transition: 0.1s;
}

.footer-option-icon-container{
  float: right;
  margin-right: 15px;
}


h2.question{
    font-family: 'verdana', 'webfont';
    font-size: 18px;
    text-align: left;
    color: #c25800;
    font-weight: bold;
    margin: 20px 30px 20px 30px;
    padding-top: 20px;
    padding-bottom: 0px;
    border-radius: 5px;
    text-shadow: 0 1px 1px #aaa;
}

h3.answer{
    font-family: 'verdana', 'webfont';
    font-size: 17px;
    text-align: left;
    color: #222;
    font-weight: normal;
    margin: 20px 42px 20px 42px;
    padding-top: 0px;
    padding-bottom: 20px;
    border-radius: 5px;
    text-shadow: 0 1px 1px #B4BBB9;
    line-height: 23px;
}

h3.ceo{
    margin-top: 25px;
}

.box{
    font-family: 'webfont';
    font-size: 17px;
    text-align: left;
    font-style: normal;
    color: #222;
    font-weight: normal;
    margin: 20px 120px 20px 120px;
    border-radius: 15px;
    text-shadow: 0 1px 1px #B4BBB9;
    background: -moz-linear-gradient(center top , #fff 0%, #334400 600%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#fff), color-stop(600%,#334400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#334400 600%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#334400 600%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#334400 600%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#334400 600%); /* W3C */
    box-shadow: 0 1px 1px 0 #aaa;
}

.box h3{
    margin: 20px;
    padding: 30px 15px 30px 15px;
    text-shadow: 0 1px 1px #B4BBB9;
    font-family: 'verdana', 'webfont';
    font-size: 17px;
    text-align: left;
    font-style: normal;
    color: #222;
    font-weight: normal;
}

.fb-like{
    clear: both;
    width: 95%;
    text-align: left;
    margin-bottom: 18px;
}


.fb-like-box{
    margin: 10px 0 10px 0;
}

