h5{
   font-family: 'webfont';
   font-size: 15px;
   line-height: 24px;
   text-align: left;
   margin: 18px;
   text-shadow: 0 1px 1px #ccc;
   color: #222;
}

h4 {
    color: #C25800;
    font-family: 'webfont';
    font-size: 18px;
    text-align: left;
    text-shadow: 0 1px 1px #E4EBE9;
    margin: 40px 16px 27px 18px;
}

h3 {
    color: #C25800;
    font-family: 'webfont';
    font-size: 20px;
    text-align: center;
    text-shadow: 0 1px 1px #E4EBE9;
    margin: 40px 0 40px 0;
}


.left-pane-h2{
   border-radius: 5px 5px 5px 5px;
   color: #C25800;
   font-family: 'webfont';
   font-size: 26px;
   font-weight: lighter;
   margin: 15px 0 10px 0;
   padding: 3px 0px 6px 0px;
   text-align: center;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
}

.textbox{
   width: 75%;
   margin-left: 20px;
}

.textbox_passwd{
   width: 68%;
   margin-left: 20px;
}

.submit_button{
    float: right;
    margin: 0px 30px 30px 30px;
}

.form_titles{
   margin-bottom: -20px;
   margin-left: 20px;
   margin-top: -10px;
   font-weight: normal;
   font-size: 18px;
}

.agree{
   margin-bottom: 0px;
   margin-left: 32px;
   font-weight: normal;
}

.bottom_pane{
   margin: 5%;
}
