.sub_left-pane,
.left-pane{
    position: relative;
    float: left;
    width: 240px;
    height: 100%;
    text-align: center;
    margin: 8px 4px 8px 11px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 3px #333;
    overflow: hidden;	
}


.sub_left-pane{
    width: 359px;
    margin-bottom: 10px;
}

.sub_right-pane,
.right-pane{
    position: relative;
    float: right;
    width: 724px;
    height: 100%;
    text-align: center;
    margin: 8px 10px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 3px 3px #333;
}

.sub_right-pane{
    width: 350px;
    margin-bottom: 16px;
}

.full-pane{
    width: 98%;
    height: auto;
    text-align: center;
    margin: 8px 10px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 3px 3px #333;
}


.ca-container{
	position: relative;
	margin: 10px auto 10px auto;
	width: 975px;
	height: 283px;
}


.ca-item{
	position: relative;
	float: left;
	width: 50%;
	height: 94%;
	text-align: center;
        margin: 11px 0 11px 0;
        line-height: 1;
}


.ca-item-main:hover{
   box-shadow: 0 2px 2px 0 #334400;
}

.ca-item-main{
    padding: 13px;
    margin: 0 0 0 11px;
    float: center;
    border-radius: 10px;
    background: -moz-linear-gradient(center top , #fff 0%, #608000 600%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#fff), color-stop(600%,#608000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#608000 600%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#608000 600%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#608000 600%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#608000 600%); /* W3C */
    box-shadow: 0 1px 1px 0 #aaa;
    width: 87%;
    height: 238px;
    overflow: hidden;
}


.ca-icon{
	width: 120px;
	height: 168px;
	position:relative;
	float: left;
        margin: 0 10px 0 0;
	box-shadow: 0px 0px 1px 1px #444;
        z-index: 999;
}


.ca-item h3{
	font-family: 'webfont';
	font-size: 17px;
	color: #c25800;
        margin: 0;
        padding-bottom: 2px;
	height: 40px;
	width: 180px;
	float: right;
	text-align: center;
	text-shadow: 0px 1px 1px #e4ebe9;
        overflow: hidden;
        font-weight: normal;
}
.ca-item h4{
   margin: 50px 0 0 0; 
   position: relative;
   font-family: 'verdana', 'webfont';
   font-size: 13px;
   text-align: left;
   line-height: 22px;
   font-weight: lighter;
   height: 81%;
}

/* Best sellers */

.tops-container{
	position: relative;
	margin: 10px auto 10px auto;
	width: 975px;
	height: 290px;
}

.best-sellers-img{
   width: 70px;
   height: 98px;
   position:relative;
   margin: 5px 14px;
   box-shadow: 0px 0px 1px 1px #444;
   float: left;
}

.best-sellers-img:hover{
    box-shadow: 0px 0px 2px 2px #334400;
}

.top5-item{
    height: auto;
    margin-bottom: 50px;
}


.top-item{
    position: relative;
    padding: 10px;
    overflow: hidden;
    float: left;
}


.top-item h3{
	font-family: 'webfont';
	font-weight: lighter;
	font-size: 17px;
	color: #c25800;
	margin-bottom: 5px;
	text-align: left;
	text-shadow: 0px 1px 1px #e4ebe9;
   
}


.top5-img{
	width: 70px;
	height: 70px;
	/* position:relative;  # Disrupts 'overflow: hidden;' in Chrome and Safari */
	margin: 0 10px;
	float: left;
	box-shadow: 0px 0px 1px 1px #444;
	border-radius: 5px;
	overflow: hidden;
}

.top5-img:hover{
    	box-shadow: 0px 0px 2px 1px #334400;
}

.top5-quotes-name{
    font-family: 'verdana', 'webfont';
    font-size: 14px;
    color: #c25800;
    text-align: left;
    text-shadow: 0px 1px 1px #e4ebe9;
    margin: 10px 5px 5px 25px;
}

.top5-quotes-text{
   font-family: 'verdana', 'webfont';
   font-style: italic;
   font-size: 13px;
   text-align: left;
   line-height: 22px;
   font-weight: lighter;
   text-shadow: 0px 1px 1px #e4ebe9;
   height: auto;
   margin: 0 8px 10px 10px;
   overflow: visible;
}

.email_box{
   margin-left: 30px;
   margin-right: 150px;
}

.errors{
   margin-top: -35px;
   margin-left: 40px;
   font-family: 'verdana', 'webfont';
   font-size: 14px;
   font-weight: lighter;
   line-height: 24px;
   text-align: left;
   text-shadow: 0 1px 1px #ccc;
   color: #222;
   display: inline;
}

.submit_button{
   float: left;
   margin-left: 300px;
}

#header_title{
   float: left;
   font-style: normal;
   font-size: 16px;
   margin-top: -13px;
   margin-left: 20px;
   margin-right: 10px;
}


.headers{
    font-size: 17px;
    margin: 0;
    padding: 10px 0;
    background-color: #b8d07d;
    box-shadow: 0 0 2px #444;
    text-shadow: 1px 1px 1px #ccc;
    color: #223300;
    font-weight: normal;
}

h2.headers:hover,
h2.headers{
    font-size: 23px;
    margin: 0;
    padding: 10px 0;
    background-color: #b8d07d;
    box-shadow: 0 0 2px #444;
    text-shadow: 1px 1px 1px #ccc;
    color: #223300;
    border: none;
}


.video_item{
    float: left;
    margin: 25px 40px 25px 40px;
}


.zoomTarget{ outline: none; }

.best_seller_synopsis{
    margin: 15px;
    font-family: 'verdana', 'webfont';
    font-size: 14px;
    line-height: 23px;
    font-weight: normal;
    text-align: left;
}

.blog_title,
.best_seller_title{
    text-shadow: 0px 1px 1px #e4ebe9;
    font-size: 23px;
    color: #C25800;
    font-weight: normal;
}

.blog_media{
    float: left;
    margin: 15px;
    box-shadow: 0 0 2px #000;
}

.blog_txt{
    font-family: 'verdana', 'webfont';
    font-size: 14px;
    font-weight: normal;
    line-height: 23px;
    text-align: left;
    margin: 15px;
}

