.left-pane{
	float: left;
	width: 58%;
	height: auto;
	text-align: center;
	margin: 10px 0px 20px 20px;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0px 0px 2px 2px #444;
	overflow: auto;	
}

.right-pane{
	float: right;
	width: 36%;
	height: auto;
	text-align: center;
	margin: 10px 20px 20px 0px;
	background-color: #fff;
	border-radius: 6px;
	overflow: hidden;
	box-shadow: 0px 0px 2px 2px #444;
}

.full-pane-2{
    width: 96%;
    height: auto;
    text-align: center;
    margin: 10px 20px 20px 20px;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 2px 2px #444;
    clear: both;
}


.full-pane-outer{
	position: relative;
	width: 98%;
	height: auto;
	text-align: center;
    margin: 5px 10px;
	background-color: #fff;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0px 0px 4px 4px #444;
}

h5{
   font-family: 'webfont';
   font-size: 18px;
   font-weight: lighter;
   line-height: 24px;
   text-align: left;
   margin: 18px;
   text-shadow: 0 1px 1px #ccc;
   color: #222;
}

h4 {
    color: #C25800;
    font-family: 'webfont';
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    text-shadow: 0 1px 1px #E4EBE9;
    margin: 14px 16px 27px 18px;
}

h3 {
    color: #445500;
    font-family: 'webfont';
    font-size: 20px;
    text-align: center;
    text-shadow: 0 1px 1px #E4EBE9;
    margin: 40px 0 40px 0;
}

h2{

   border-radius: 5px 5px 5px 5px;
   color: #C25800;
   font-family: 'webfont';
   font-size: 26px;
   font-weight: lighter;
   margin: 10px;
   /* margin-top: 18px;*/
   min-height: 40px;
   text-align: center;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
   padding: 3px 0px 8px 0px;
}

.left-pane h2{
   border-radius: 5px 5px 5px 5px;
   color: #C25800;
   font-family: 'webfont';
   font-size: 26px;
   font-weight: lighter;
   margin: 18px;
   padding: 3px 0px 6px 0px;
   text-align: center;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
}

.step-img{
   float: left;
   margin: 4px 8px 0 8px;
   padding-top: 8px;
   margin-left: 8px;
}

.step-container{
   border-radius: 5px;
   background: -moz-linear-gradient(center top , #fff 0%, #608000 600%) repeat scroll 0 0 transparent;
   background: -webkit-gradient(linear, top, bottom, color-stop(0%,#fff), color-stop(600%,#608000)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #fff 0%,#608000 600%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #fff 0%,#608000 600%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, #fff 0%,#608000 600%); /* IE10+ */
   background: linear-gradient(top, #fff 0%,#608000 600%); /* W3C */
   box-shadow: 0px 0px 2px 2px #555;
   
   margin: 30px 20px 30px 20px;
   height: 60px;
}

.step-container h4{
   font-size: 22px;
   font-weight: normal;
   text-align: left;
   padding-top: 15px;
   padding-left: 45px;
}

.step-container.selected{
   box-shadow: 0px 0px 3px 3px #647614;
   outline: none;
   text-decoration: none;
}

.step-container:hover{
   box-shadow: 0px 0px 3px 3px #647614;
}

#header .top h4 a{
   color: #333;
}

#header .top h4 a:hover{
   color: #C25800;
}
.top{
   text-align: center;
}

.top h4{
   float: left;
   height: auto;
   width: auto;
   padding: 5px 15px 5px 15px;
   margin: 20px 50px 20px 50px;
   text-align: center;
   border-radius: 5px;
   outline: none;
   text-decoration: none;
   border: none;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
   box-shadow: 0px 0px 1px 1px #333;
   color: #333;
   font-family: 'webfont';
   font-size: 22px;
   font-weight: normal;
   background-color: #fff;
}


.step-container h4 a:focus,
.top h4:focus{
   outline: none;
}

.top h4.selected,
.top h4:hover{
   box-shadow: 0px 0px 3px 3px #445500;
   outline: none;
   text-decoration: none;
   color: #C25800;
}

.top-container{
   height: 75px;
   width: 96%;
   text-align: center;
   margin: 2% 2%;
   border-radius: 6px;
   background-color: #dce3c5;
   box-shadow: 0 0 4px 0 #608000;
}

#publish-info{
   -webkit-transition: 0.5s;
   -moz-transition: 0.5s;
   -o-transition: 0.5s;
   -ms-transition: 0.5s;
   transition: 0.5s;
   margin-top: 80px;
}

/* Forms: */

.email{
   width: 98%;
   border-radius: 5px;
   box-shadow: 0 0 3px 0 #608000;
}

.select{
   width: 70%;
   border-radius: 5px;
   box-shadow: 0 0 3px 0 #608000;
   padding: 2px;
   border-color: #fff;
   border-style: outset;
   border-width: 2px;
   background-color: #fff;
}

.synopsis{
    margin: 20px;
    display: block;
    width: 95%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px 0 #608000;
}

.upload_field{
    margin-left: 10px;
    
}

.bottom_form1_left{
    float: left;
    display: block;

    margin-left: 9%;
    margin-right: 8%;
}

.bottom_form1_right{
    float: right;
    display: block;

    margin-left: 8%;
    margin-right: 9%;
}

.bottom_form1button{
    float: right;
    margin-left: 25%;
    margin-right: 9%;
    margin-top: 25px;
}

.bottom_formstep2{
    float: right;
    margin-right: 45px;
    margin-left: 150px;
}

.bottom_formstep3{
    float: right;
    margin-right: 45px;
    margin-left: 150px;
}

.submit_button{
    float: right;


}

.file_upload_error{
   margin-top: -25px;
   background-color: #c90a06;
   color: #333;
}

.login_required{
   font-size: 18px;
   margin: 30px;
}

.header-left{
   	background: -moz-linear-gradient(center top , #fff 0%, #608000 600%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#fff), color-stop(600%,#608000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#608000 600%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#608000 600%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#608000 600%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#608000 600%); /* W3C */
    box-shadow: 0 2px 2px 2px #aaa;
    margin-bottom: 0px;
}

.button_next{
    border-radius: 3px;
    background: -moz-linear-gradient(center top , #fff 0%, #608000 400%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#fff), color-stop(400%,#608000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#608000 400%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#608000 400%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#608000 400%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#608000 400%); /* W3C */
    box-shadow: 0 1px 1px 0 #aaa;
    padding: 5px 10px; 
    color: #647614;
    font-weight: bold;
    font-size: 16px;
    outline: none;   
}

.button_next:hover{
    box-shadow: 2px 3px 2px 0px #aaa;
    cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
}

input::-moz-focus-inner {
  border: 0;
}

h4 a::-moz-focus-inner {
  border: 0;
}

.user_photo{
    height: 280px;
    width: 280px;
    overflow: hidden;
    border-radius: 6px;
    margin: 20px;
    float: left;
    box-shadow: 0px 0px 2px 2px #555;
}

.user_video{
    height: 225px;
    width: 300px;
    overflow: hidden;
    border-radius: 6px;
    float: left;
    margin: 20px;
    box-shadow: 0px 0px 2px 2px #555;
}

.headers_home{
    margin: 0;
    padding: 10px 0;
    background: -moz-linear-gradient(center top , #fff 0%, #608000 600%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#fff), color-stop(600%,#608000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#608000 600%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#608000 600%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#608000 600%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#608000 600%); /* W3C */
    box-shadow: 0px 0px 2px 2px #555;
    text-shadow: 1px 1px 1px #999;
    font-weight: normal;
    font-size: 22px;
    color: #334400;
}

.submit_money,
.submit{
    float: right;
    margin: 0 20px 10px 20px;
    height: 40px;
    width: 40px;
    background: url('../img/icon/submit_40px.png') no-repeat;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    -ms-transition: 0.1s;
    transition: 0.1s;
    outline: none;
    color: transparent;
    vertical-align: bottom; 
}

.submit_money{
    background: url('../img/icon/notebook_40px.png') no-repeat;
}

.download{
    float: right;
    height: 40px;
    width: 40px;
    background: url('../img/icon/download_40px.png') no-repeat;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    -ms-transition: 0.1s;
    transition: 0.1s;
    outline: none;
    color: transparent;
    margin-bottom: 15px;
    margin-right: 10px; 
}

.download:hover,
.submit_money:hover,
.submit:hover{
   background-color: #fff;
   cursor: pointer;
   -webkit-transition: 0.2s;
   -moz-transition: 0.2s;
   -o-transition: 0.2s;
   -ms-transition: 0.2s;
   transition: 0.2s;
   outline: none;
}

.edit_book{
    border: none;
    cursor: pointer;
    border-radius: 6px;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    -ms-transition: 0.1s;
    transition: 0.1s;
    outline: none;
    color: transparent;
    float: right;
}

.edit_book:hover{
   background-color: #fff;
   cursor: pointer;
   -webkit-transition: 0.2s;
   -moz-transition: 0.2s;
   -o-transition: 0.2s;
   -ms-transition: 0.2s;
   transition: 0.2s;
   outline: none;
}


.button-pane{
   position: relative;
   top: 48px;
   left: 135px;
   overflow: hidden;
   width: 200px;
}

h6{
    text-align: left;
    padding-top: 10px;
    font-size: 15px;
}

.paginator{
   height: 30px;
   border-bottom: 4px solid #647614;
   border-radius: 5px 5px 5px 5px;
   color: #C25800;
   font-family: 'webfont';
   font-size: 22px;
   font-weight: lighter;
   margin: 20px 20px 30px 20px;
   text-align: center;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
}

.paginator a{
   outline: none;
}

.book_title{
    box-shadow: 0px 1px 1px #556600;
    border-radius: 6px 6px 6px 6px;
    font-family: 'webfont';
    margin-left: 130px;
    margin-right: 25px;
    margin-top: 15px;
    text-align: center;
}


.ca-item{
	float: left;
	width: 46%;
	height: 175px;
	text-align: center;
	overflow: hidden;
	border-radius: 15px;
    box-shadow: 0 1px 1px 0 #aaa;

    margin: 0 0 30px 19px;
    background: -moz-linear-gradient(center top , #fff 0%, #608000 600%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, top, bottom, color-stop(0%,#fff), color-stop(600%,#608000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%,#608000 600%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fff 0%,#608000 600%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fff 0%,#608000 600%); /* IE10+ */
    background: linear-gradient(top, #fff 0%,#608000 600%); /* W3C */
}


.ca-item:hover{
    box-shadow: 0 2px 2px 0 #334400;
}

.ca-icon{
	width: 90px;
	height: 126px;
	position:relative;
	margin: 15px 15px;
	float: left;
	box-shadow: 0px 0px 1px 1px #444;
	overflow: hidden;
}

.ca-item h2{
    font-family: 'webfont';
    font-size: 19px;
    color: #c25800;
    margin-bottom: 15px;
    height: auto;
    text-align: center;
    text-shadow: 0px 1px 1px #e4ebe9;
    font-weight: bold;
    margin-top: 10px;
}

.book_cover{
    height: 252px;
    width: 180px;
    overflow: hidden;
    float: left;
    margin: 20px;
    box-shadow: 0px 0px 2px 2px #555;
}

.top h4 span{
    cursor: pointer;
}

.withdrawals{
    float: left;
    margin: 20px 0 10px 0;
    text-decoration: underline;
    font-weight: bold;
    color: #C25800;
    width: 25%;
    text-align: center;
}

.withdrawal_txt{
    float: left;
    font-size: 16px;
    color: #222;
    margin: 0 0 10px 0;
    text-align: center;
    width: 25%;
}

.user_name{
    text-align: left;
    position: absolute;
    top: 80px;
    left: 130px;
    width: 200px;
}

