.user-icon{
   width: 255px;
	height: 255px;
	position:relative;
	float: left;
	margin: 39px 8px 18px 18px;
	box-shadow: 0px 0px 2px 2px #444;
}

.user-video{
   width: 380px;
	height: 285px;
	position:relative;
	float: right;
	border-radius: 15px;
	padding: 12px;
	margin: 18px 22px 18px 8px;
	box-shadow: 0px 0px 4px 4px #334400;
}

h5{
   font-family: 'verdana', 'webfont';
   font-size: 16px;
   font-weight: normal;
   line-height: 26px;
   text-align: left;
   margin: 18px;
   text-shadow: 0 1px 1px #ccc;
   color: #222;
}

h4 {
    color: #C25800;
    font-family: 'webfont';
    font-size: 20px;
    text-align: center;
    text-shadow: 0 1px 1px #E4EBE9;
    margin: 30px 18px 27px 18px;
}

h3 {
    color: #C25800;
    font-family: 'webfont';
    font-size: 20px;
    text-align: center;
    text-shadow: 0 1px 1px #E4EBE9;
    margin: 40px 0 40px 0;
}


.tabs{
   border-radius: 5px 5px 5px 5px;
   color: #C25800;
   font-family: 'webfont';
   font-size: 26px;
   font-weight: lighter;
   margin: 2px 50px;
   padding: 4px 8px;
   text-align: center;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
   box-shadow: 0px 0px 2px 2px #555;
   background-color: #fff;
   outline: none;
   text-decoration: none;
   border: none;
}

.tabs:hover{
   cursor: pointer;
   box-shadow: 0px 0px 3px 3px #555;
   outline: none;
   text-decoration: none;
}

.tabs.selected{
   cursor: pointer;
   box-shadow: 0px 0px 4px 4px #334400;
   outline: none;
   text-decoration: none;
}


 .follow_me{
   border-radius: 5px;
   color: #C25800;
   font-family: 'webfont';
   font-size: 26px;
   font-weight: lighter;
   margin: 10px 18px 18px 18px;
   text-align: center;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
   
}

.container h3 a{
   color: #fff;
}

.container h3 a:hover{
   color: #C25800;
}

/* 'Buy' link button effect */
.left-pane-links h3{
   border-top: 4px solid #223300;
   border-bottom: 4px solid #223300;
   border-radius: 5px 5px 5px 5px;
   color: #fff;
   font-family: 'webfont';
   font-size: 22px;
   font-weight: lighter;
   margin: 20px;
   padding: 0px;
   text-align: center;
   text-shadow: 0 0.4px 0.4px #CCCCCC;
   background-color: #223300; 
}

.social_links{
   box-shadow: 1px 1px 3px #223300;
   border-radius: 6px;
   overflow: hidden;
   margin: 10px;
}

.social_links:hover{
   box-shadow: 1px 1px 6px #223300;
   margin: 7px 10px 13px 10px;
   -webkit-transition: 0.1s;
   -moz-transition: 0.1s;
   -o-transition: 0.1s;
   -ms-transition: 0.1s;
   transition: 0.1s;
}

.left-pane-links h3:hover{
    background-color: #fff;
   -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.left-pane-links h3 a:hover,
.left-pane-links h3 a.selected {
    color: #c25800;    
    margin: 0;
    padding: 0;
    border: 0;
}

.quote{
    color: #000;
    font-family: 'verdana', 'webfont';
    font-size: 17px;
    line-height: 24px;
    font-style: italic;
    margin: 20px;
    text-align: center;
    text-shadow: 0 1px 1px #E4EBE9;
    overflow: hidden;
}

.book-img{
   width: 120px;
	height: 168px;
	margin: 10px 0px 10px 20px;
	box-shadow: 0px 0px 1px 1px #444;
	position: relative;
}

.book-item{
   float: left;
	position: relative;
	width: 20%;
	height: 95%;
	text-align: center;
}

.book-item-main{	
	position: absolute;
	padding: 2px;
	top: 5px;
	left: 25px;
	right: 15px;
	bottom: 0px;
	overflow: hidden;
}

.book-item h3{
	font-family: 'webfont';
	font-size: 17px;
        font-weight: normal;
	color: #c25800;
	margin-bottom: 5px;
	text-align: center;
	text-shadow: 0px 1px 1px #e4ebe9;
   margin-top: 14px;
}

.container h3{
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.container a h3:hover{
    background-color: #fff;
   -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
   color: #334400;
}

.container h4 a{
	font-family: 'webfont';
	font-weight: bold;
	font-size: 16px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}

.container h4 a:hover{
    background-color: #fff;
   -webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
   color: #608000;
}

.comment-pane{
    text-align: left;
    margin: 5px 10px 5px 10px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 4px 4px #444;
    overflow: auto;
}

.user-img{
	width: 60px;
	height: 60px;
	/* position:relative;  # Disrupts 'overflow: hidden;' in Chrome and Safari */
	margin: 25px 18px 18px 18px;
	float: left;
	box-shadow: 0px 0px 1px 1px #444;
	border-radius: 8px;
	overflow: hidden;
}

.comment-pane h3{
    color: #C25800;
    font-family: 'webfont';
    font-size: 16px;
    text-align: left;
    text-shadow: 0 1px 1px #E4EBE9;
    margin: 20px 0 20px 0;
}

.comment-pane h5,
.comment-pane h4{
    color: #000;
    font-family: 'verdana', 'webfont';
    font-size: 16px;
    line-height: 24px;
    margin-left: 100px;
    text-align: left;
    text-shadow: 0 1px 1px #E4EBE9;
}

.comment-pane h5{
    font-size: 15px;
}


.new_comment{
    float: left;
    margin: 10px 24px 20px 24px;
    font-size: 14px;
    border-color: #999;
    box-shadow: 0px 0px 1px 1px #bbb;
}

.submit_button{
    font-size: 20px;
    font-family: 'webfont';
    margin: 30px 40px 50px 40px;
}

.comment{
    overflow: hidden;
    width: 95%;
    margin-right: 100px;
}

